<div class="container-fluid">
  <div class="row-fluid">

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => "form-inline" }) do |f| %>
  <%= devise_error_messages! %>
  <fieldset>
    <legend><i class="icon-info-sign"></i> 가입 확인 이메일을 받지 못하셨나요?</legend>
    <label for="resend_email"><i class="icon-envelope"></i> 이메일</label>
    <%= f.email_field :email, :id => "resend_email" %>
    <%= f.submit "가입 확인 이메일 전송", :class => "btn btn-primary" %>
  </fieldset>

<% end %>

      </div>
    </div>
