<h1>Listing reward_items</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reward_items.each do |reward_item| %>
  <tr>
    <td><%= reward_item.title %></td>
    <td><%= reward_item.description %></td>
    <td><%= link_to 'Show', reward_item %></td>
    <td><%= link_to 'Edit', edit_reward_item_path(reward_item) %></td>
    <td><%= link_to 'Destroy', reward_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reward item', new_reward_item_path %>
