<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @reward_item.title %>
</p>

<p>
  <b>Description:</b>
  <%= @reward_item.description %>
</p>


<%= link_to 'Edit', edit_reward_item_path(@reward_item) %> |
<%= link_to 'Back', reward_items_path %>
