/* Active Admin Print Stylesheet */
/* line 44, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/mixins/_reset.css.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 47, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/mixins/_reset.css.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 49, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/mixins/_reset.css.scss */
ol, ul {
  list-style: none;
}

/* line 51, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/mixins/_reset.css.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 53, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/mixins/_reset.css.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 55, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/mixins/_reset.css.scss */
q, blockquote {
  quotes: "" "";
}
/* line 126, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/mixins/_reset.css.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 57, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/mixins/_reset.css.scss */
a img {
  border: none;
}

/* line 27, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin html {
  font-size: 100.01%;
}
/* line 28, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin {
  font-size: 75%;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
/* line 31, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin h1, body.active_admin h2, body.active_admin h3, body.active_admin h4, body.active_admin h5, body.active_admin h6 {
  font-weight: normal;
  color: black;
}
/* line 34, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin h1 img, body.active_admin h2 img, body.active_admin h3 img, body.active_admin h4 img, body.active_admin h5 img, body.active_admin h6 img {
  margin: 0;
}
/* line 37, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
/* line 38, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 39, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
/* line 40, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 41, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
/* line 42, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 45, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin p {
  margin: 0 0 1.5em;
}
/* line 48, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin p .left {
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 49, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin p .right {
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 52, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin .left {
  float: left !important;
}
/* line 53, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin .right {
  float: right !important;
}
/* line 55, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic;
}
/* line 56, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin strong, body.active_admin dfn {
  font-weight: bold;
}
/* line 57, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin em, body.active_admin dfn {
  font-style: italic;
}
/* line 58, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin sup, body.active_admin sub {
  line-height: 0;
}
/* line 61, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin abbr,
body.active_admin acronym {
  border-bottom: 1px dotted #666;
}
/* line 62, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 63, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin del {
  color: #666;
}
/* line 65, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 66, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin pre, body.active_admin code, body.active_admin tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}
/* line 70, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin li ul,
body.active_admin li ol {
  margin: 0;
}
/* line 71, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin ul, body.active_admin ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
/* line 73, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin ul {
  list-style-type: disc;
}
/* line 74, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin ol {
  list-style-type: decimal;
}
/* line 76, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin dl {
  margin: 0 0 1.5em 0;
}
/* line 77, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin dl dt {
  font-weight: bold;
}
/* line 78, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin dd {
  margin-left: 1.5em;
}
/* line 81, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 82, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin th {
  font-weight: bold;
}
/* line 83, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin thead th {
  background: #c3d9ff;
}
/* line 84, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin th, body.active_admin td, body.active_admin caption {
  padding: 4px 10px 4px 5px;
}
/* line 87, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin .small {
  font-size: .8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 88, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 89, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin .hide {
  display: none;
}
/* line 91, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin .quiet {
  color: #666;
}
/* line 92, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin .loud {
  color: #000;
}
/* line 93, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin .highlight {
  background: #ff0;
}
/* line 94, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin .added {
  background: #060;
  color: #fff;
}
/* line 95, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin .removed {
  background: #900;
  color: #fff;
}
/* line 97, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 98, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 99, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 100, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/_typography.css.scss */
body.active_admin .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* line 16, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 150%;
  font-size: 72%;
  background: #fff;
  width: 99%;
  margin: 0;
  padding: .5%;
  color: black;
}

/* line 29, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin a {
  color: black;
  text-decoration: none;
}
/* line 34, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin h3 {
  font-weight: bold;
  margin-bottom: .5em;
}
/* line 40, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin #header {
  float: left;
}
/* line 43, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin #header #tabs, body.active_admin #header .tabs, body.active_admin #header #utility_nav {
  display: none;
}
/* line 47, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin #header h1 {
  font-weight: bold;
}
/* line 52, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin .flashes {
  display: none;
}
/* line 56, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin #title_bar {
  float: right;
}
/* line 59, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin #title_bar h2 {
  line-height: 2em;
  margin: 0;
}
/* line 64, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin #title_bar .breadcrumb, body.active_admin #title_bar #titlebar_right {
  display: none;
}
/* line 70, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin #active_admin_content {
  border-top: thick solid black;
  clear: both;
  margin-top: 2em;
  padding-top: 3em;
}
/* line 78, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin #footer {
  display: none;
}
/* line 84, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin .table_tools ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
/* line 89, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin .table_tools ul li {
  display: none;
  padding: 0;
  margin-bottom: 1em;
}
/* line 94, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin .table_tools ul li.scope.selected, body.active_admin .table_tools ul li.index.selected {
  display: block;
}
/* line 97, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin .table_tools ul li.scope.selected:before, body.active_admin .table_tools ul li.index.selected:before {
  content: "Showing ";
}
/* line 101, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin .table_tools ul li.scope.selected a, body.active_admin .table_tools ul li.index.selected a {
  font-weight: bold;
}
/* line 105, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin .table_tools ul li.scope.selected span, body.active_admin .table_tools ul li.index.selected span {
  display: inline-block;
  font-weight: normal;
  font-size: .9em;
}
/* line 116, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin table {
  margin-bottom: 1.5em;
  text-align: left;
  width: 100%;
}
/* line 121, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin table thead {
  display: table-header-group;
}
/* line 124, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin table thead th {
  background: none;
  border-bottom: medium solid black;
  font-weight: bold;
}
/* line 129, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin table thead th a {
  text-decoration: none;
}
/* line 135, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin table th, body.active_admin table td {
  padding: .5em 1em;
}
/* line 138, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin table th .member_link, body.active_admin table td .member_link {
  display: none;
}
/* line 143, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin table td {
  border-bottom: thin solid black;
}
/* line 147, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin table tr {
  page-break-inside: avoid;
}
/* line 153, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin #index_footer, body.active_admin .pagination_information {
  display: none;
}
/* line 158, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin .index_grid td {
  border: none;
  text-align: center;
  vertical-align: middle;
}
/* line 163, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin .index_grid td img {
  max-width: 1in;
}
/* line 170, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin .panel {
  border-bottom: thick solid #ccc;
  margin-bottom: 3em;
  padding-bottom: 2em;
  page-break-inside: avoid;
}
/* line 176, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin .panel:last-child {
  border-bottom: none;
}
/* line 182, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin .comments form {
  display: none;
}
/* line 186, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin .comments .active_admin_comment {
  border-top: thin solid black;
  padding-top: 1em;
}
/* line 191, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin .comments .active_admin_comment .active_admin_comment_meta h4 {
  font-size: 1em;
  font-weight: bold;
  float: left;
  margin-right: .5em;
  margin-bottom: 0;
}
/* line 199, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin .comments .active_admin_comment .active_admin_comment_meta span {
  font-size: .9em;
  font-style: italic;
  vertical-align: top;
}
/* line 206, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin .comments .active_admin_comment .active_admin_comment_body {
  clear: both;
  margin-bottom: 1em;
}
/* line 215, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin .attributes_table {
  border-top: medium solid black;
}
/* line 218, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin .attributes_table th {
  border-bottom: thin solid black;
  vertical-align: top;
}
/* line 222, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin .attributes_table th:after {
  content: ':';
}
/* line 228, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin .attributes_table td img {
  max-height: 4in;
  max-width: 6in;
}
/* line 236, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin #filters_sidebar_section {
  display: none;
}
/* line 242, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin form fieldset {
  border-top: thick solid #ccc;
  padding-top: 2em;
  margin-bottom: 2em;
}
/* line 247, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin form fieldset:last-child {
  border-bottom: none;
}
/* line 252, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin form .buttons, body.active_admin form abbr {
  display: none;
}
/* line 255, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin form ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 260, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin form ol li {
  border-top: thin solid black;
  margin: 0;
  padding: 1em 0;
  overflow: hidden;
}
/* line 266, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin form ol li.password, body.active_admin form ol li.hidden {
  display: none;
}
/* line 270, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin form ol li label {
  font-weight: bold;
  float: left;
  width: 20%;
}
/* line 276, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin form ol li input, body.active_admin form ol li textarea, body.active_admin form ol li select {
  background: none;
  border: 0;
  font: Arial, Helvetica, sans-serif;
}
/* line 282, ../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/activeadmin-0.6.0/app/assets/stylesheets/active_admin/print.css.scss */
body.active_admin form ol li input[type=file] {
  display: none;
}
