<%= semantic_form_for @product_item do |f| %>
  <%= f.inputs do %>
    <%= f.input :product_name %>
    <%= f.input :product_info %>
    <%= f.input :product_price %>
    <%= f.input :product_color %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :input %>
  <% end %>
<% end %>
