<h1>Listing product_items</h1>

<table>
  <tr>
    <th>Product name</th>
    <th>Product info</th>
    <th>Product price</th>
    <th>product color</th>
    <th></th>
    <th></th>
  </tr>

<% @product_items.each do |product_item| %>
  <tr>
    <td><%= product_item.product_name %></td>
    <td><%= product_item.product_info %></td>
    <td><%= product_item.product_price %></td>
    <td><%= product_item.product_color %></td>
    <td><%= link_to 'Show', product_item %></td>
    <td><%= link_to 'Edit', edit_product_item_path(product_item) %></td>
    <td><%= link_to 'Destroy', product_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product item', new_product_item_path %>
