<p id="notice"><%= notice %></p>

<p>
  <b>Product name:</b>
  <%= @product_item.product_name %>
</p>

<p>
  <b>Product info:</b>
  <%= @product_item.product_info %>
</p>

<p>
  <b>Product price:</b>
  <%= @product_item.product_price %>
</p>


<%= link_to 'Edit', edit_product_item_path(@product_item) %> |
<%= link_to 'Back', product_items_path %>
