<!DOCTYPE html>
<html>
<head>
  <title>Quusome</title>

  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <%= stylesheet_link_tag "mobile/mobile_application", :media => "all" %>
  <%= stylesheet_link_tag "http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" %>
  <%= javascript_include_tag "mobile_application", :charset => "utf-8"   %>
  <%= javascript_include_tag "http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js" %>

  <%= csrf_meta_tags %>

</head>
<body ontouchstart="">
<%= yield %>
</body>
</html>