

html = '';

<% if current_user.favorite? @showcase %>
    html += '<a href="/showcases/<%= @showcase.id %>/favorites" class="btn btn-large btn-danger" data-method="post" data-remote="true" rel="nofollow" style="width: 240px; height: 25px; font-size: 14px;">';
    html += '<img alt="Plus" src="/assets/16x16/plus.png"><span> 즐겨찾기 취소<span>';
    html += '</span></span></a>';
<% else %>
    html += '<a href="/showcases/<%= @showcase.id %>/favorites" class="btn btn-large btn-primary" data-method="post" data-remote="true" rel="nofollow" style="width: 240px; height: 25px; font-size: 14px;">';
    html += '<img alt="Plus" src="/assets/16x16/plus.png"><span> 즐겨찾기<span>';
    html += '</span></span></a>';
<% end %>


$('#favorite_btn').html(html)
$('#showcase_favorite_count').html('<%= @showcase.favorite_count %>');



