<%= semantic_form_for @interest_area do |f| %>
  <%= f.inputs do %>
    <%= f.input :title %>
    <%= f.input :desc %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :input %>
  <% end %>
<% end %>
