<h1>Listing interest_areas</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Desc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @interest_areas.each do |interest_area| %>
  <tr>
    <td><%= interest_area.title %></td>
    <td><%= interest_area.desc %></td>
    <td><%= link_to 'Show', interest_area %></td>
    <td><%= link_to 'Edit', edit_interest_area_path(interest_area) %></td>
    <td><%= link_to 'Destroy', interest_area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Interest area', new_interest_area_path %>
