<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @interest_area.title %>
</p>

<p>
  <b>Desc:</b>
  <%= @interest_area.desc %>
</p>


<%= link_to 'Edit', edit_interest_area_path(@interest_area) %> |
<%= link_to 'Back', interest_areas_path %>
