<div class="container-fluid">
  <div class="row-fluid">


<%= form_for(resource, :as => resource_name, :html => {:id => 'sign_in_user'}, :url => session_path(resource_name), :format => 'json', :remote => true) do |f| %>
  <% unless notice.nil? %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">x</button>
      <%= notice %>
    </div>
  <% end %>
  <%= devise_error_messages! %>
  <fieldset>
    <legend><i class="icon-lock"></i> 로그인을 해주세요.</legend>
    <label for="email">이메일</label>
    <%= f.email_field :email, :id => "email" %></div>

    <label for="password">비밀번호</label>
    <%= f.password_field :password,:id => "password" %>

    <% if devise_mapping.rememberable? -%>
        <label class="checkbox">
          <%= f.check_box :remember_me %> 로그인을 유지합니다.
        </label>
    <% end %>

    <%= f.submit "로그인", :class => "btn btn-primary" %>

  </fieldset>

<% end %>


</div>
    </div>