<script>
    $(document).on("pageload", function(e) {

        $(".owl-carousel").owlCarousel({
            navigation : false, // Show next and prev buttons
            pagination: true,
            slideSpeed : 300,
            paginationSpeed : 400,

            items : 1,
            itemsDesktop : false,
            itemsDesktopSmall : false,
            itemsTablet: false,
            itemsMobile : true
        });
    });
</script>



<section data-role="page">
  <div data-role="header" data-position="fixed" data-theme="b">
    <h1>쇼케이스</h1>
  </div>

  <div>
    <ul data-role="listview">
      <% @showcases.each do |showcase| %>
        <li>
          <a href="/mobiles/showcases/<%= showcase.id %>" data-inline="true" data-transition="slide">
            <div style="float: left">
            <% if showcase.contents.count > 0 %>
                <% if showcase.contents[0].source_type == 'youtube' %>
                    <%= image_tag "http//img.youtube.com/vi/#{showcase.contents[0].source_id}/0.jpg", :class => 'showcase_index_image'  %>
                <% else %>

                    <%= image_tag showcase.contents[0].url, :class => 'showcase_index_image' %>

                <% end %>
            <% else %>
                <%= image_tag '400x300.jpg', :class => 'showcase_index_image'  %>
            <% end %>
            </div>
            <div style="float: left; padding: 7px; font-size: 12px;">
              <div style="height: 30px">
                <%= truncate(showcase.title, length: 23) %>
              </div>
              <div>
                <% showcase.showcase_rewards.each_with_index do |reward, i| %>
                    <% if i < 8 %>

                        <%= image_tag "32x32/#{reward.reward_item.image}", :class => "showcase_index_reward_icon", :style => 'width: 15px; height: 15px' %>

                    <% end %>
                <% end %>
                <% if showcase.showcase_rewards.count > 8 %>...<% end %>
              </div>

            </div>

          </a>
        </li>
      <% end %>
    </ul>
  </div>

</section>

<!--<% @showcases.each do |showcase| %>-->
<!--<section id="modal_<%= dom_id(showcase) %>" data-role="page" style="width: 100%">-->
  <!--<header data-role="header" data-position="fixed" data-theme="b">-->
    <!--<a href="#" data-rel="back">뒤로가기</a>-->
    <!--<h1>쇼케이스 상세보기</h1>-->
  <!--</header>-->
  <!--<div data-role="content" class="content">-->

    <!--<p style="font-size: 12px;"><%= showcase.title %></p>-->

    <!--<div>-->
      <!--<% if showcase.contents.count > 0 %>-->
          <!--<% if showcase.contents[0].source_type == 'youtube' %>-->
              <!--<%= image_tag "http//img.youtube.com/vi/#{showcase.contents[0].source_id}/0.jpg", :class => 'showcase_index_image'  %>-->
          <!--<% else %>-->

              <!--<%= image_tag showcase.contents[0].url, :class => 'showcase_index_image' %>-->

          <!--<% end %>-->
      <!--<% else %>-->
          <!--<%= image_tag '400x300.jpg', :class => 'showcase_index_image'  %>-->
      <!--<% end %>-->
    <!--</div>-->
  <!--</div>-->

<!--</section>-->
<!--<% end %>-->





