<style>

</style>

    <section  data-role="page" style="width: 100%" id="showcase_detail">
      <header data-role="header" data-position="fixed" data-theme="b">
        <a href="#" data-rel="back">뒤로가기</a>
        <h1>쇼케이스 상세보기</h1>
      </header>




      <div data-role="content" class="content">

        <p style="font-size: 12px;"><%= @showcase.title %></p>


        <div class="owl-carousel owl-theme" style="margin-left: 0 auto; margin-right: 0 auto; text-align: center; ">
          <% @showcase.contents.each do |content| %>
              <div>
                <% if content.source_type == 'youtube' %>
                    <%= image_tag "http://img.youtube.com/vi/#{content.source_id}/0.jpg", :style => "width: 250px; height: 170px"  %>
                <% else %>

                    <%= image_tag content.url, :class => 'showcase_index_image', :style => "width: 250px; height: 170px" %>

                <% end %>
              </div>
          <% end %>

        </div>

      </div>



    </section>


