<div>
  <div>
    <table class="table table-hover">
      <thead>
      <tr>
        <th style="text-align: center">보낸사람</th>
        <th style="text-align: center">쇼케이스</th>
        <th style="text-align: center">쇼케이스 제목</th>
        <th style="text-align: center">받은 날짜</th>
        <th style="text-align: center">수락하시겠습니까?</th>
      </tr>
      </thead>
      <tbody>
      <%
        @conversations.each do |conversation|
          receipts = conversation.receipts_for @user
          receipts.each do |receipt|

            message = receipt.message
            sender = User.find(message.sender_id)
            showcase = Showcase.find(message.showcase_id)


      %>
      <tr>
        <td style="width: 110px; text-align: center">
          <div class="agent_request_image" style="width:60px; height:60px">
            <a href="#">
              <%= image_tag sender.image.url, :style => 'width:100px; height:100px' %>
            </a>
           </div>
        </td>
        <td style="width: 110px; text-align: center">
          <div class="agent_request_image" style="width:60px; height:60px">
            <a href="#"><%= content_image_tag(showcase.contents[0] ) %></a>
          </div>
        </td>
        <td style="width: 250px; font-size: 12px;"><%= showcase.title %></td>
        <td style="width: 110px; text-align: center"><p></p><%= message.created_at.strftime('%Y-%m-%d') %></td>
        <td style="text-align: center"><p></p>
          <div id="accept_btn_<%= message.id %>">
          <% if message.is_accept == true %>
            수락되었습니다.<br/>(<%= message.updated_at.strftime('%Y-%m-%d') %>)
          <% elsif message.is_accept == false %>
            거절되었습니다.<br/>(<%= message.updated_at.strftime('%Y-%m-%d') %>)
          <% else %>
              <a style="cursor: pointer;" class="btn btn-small btn-primary accept_true" >요청수락</a>
              <a style="cursor: pointer;" class="btn btn-small accept_false">거절</a>

              <%= button_to '요청수락', agent_request_accept_path(message, :is_accept => true), :remote => true,
                            :style => 'display:none;',
                            :class => 'btn btn-small btn-primary accept_true_submit', :method => 'put' %>
              <%= button_to '거절', agent_request_accept_path(message, :is_accept => false), :remote => true,
                            :style => 'display:none;', :class => 'btn btn-small accept_false_submit',
                            :method => 'put' %>
          <% end %>
          </div>
        </td>
      </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>

    <%= paginate @conversations, :html => {:class => "pagination-centered"}, :remote => true %>
  </div>
</div>