
  <div class="profleBack" style="width: 800px; height: 850px; padding: 10px;">
    <% if current_user.id == user.id %>
    <div style="width: 800px; height: 30px; text-align: right;">
    <% else %>
    <div style="width: 800px; height: 30px; text-align: right; visibility: hidden;">
    <% end %>
      <a href="/users/<%= @user.id %>/edit" type="button" class="btn btn-small btn-primary" style="font-size: 11px;">정보 수정 </a>
    </div>
    <div style="float: left; width: 120px; height: 100px;">
      <%= profile_image_tag user.image.url, 'width: 59px; height: 59px;' %>
    </div>
    <div style="float: left; width: 250px; height: 60px;">
      <p></p>
      <p style="font-size: 20px;"><b><%= user.user_id %></b></p>
      <p><%= user.email %></p>
    </div>
    <div style="float: left; width: 300px; height: 60px; text-align: left;">
      <p></p>
      <%= link_to '' do %>
        <%= image_tag 'facebookIcon48X48.jpg' %>
      <% end unless user.facebook_url.blank? %>

      <%= link_to '' do %>
          <%= image_tag 'twitterIcon48x48.jpg' %>
      <% end unless user.twitter_url.blank? %>

      <%= link_to '' do %>
          <%= image_tag 'googleIcon48x48.jpg' %>
      <% end unless user.google_url.blank? %>

    </div>
    <div style="clear: both; width: 800px; height: 20px;">
    </div>
    <div style="clear: both; width: 780px; height: 210px; font-size: 12px; padding: 10px;">
      <table class="table table-striped">
        <tbody>
        <tr>
          <td style="width: 80px;">이름</td>
          <td><%= user.name %></td>
        </tr>
        <tr>
          <td>지역</td>
          <td><%= Carmen::Country.coded('KR').name%></td>
        </tr>
        <tr>
          <td>관심분야</td>
          <td><%= user.interest_areas.map(&:title).join(' | ') %></td>
        </tr>
        <tr>
          <td>상세정보</td>
          <td><%= user.detail_info %></td>
        </tr>
        </tbody>
      </table>
    </div>

    <p></p>

    <% if current_user.id != user.id %>
    <div style="text-align: right;">
      <%= form_tag user_info_message_send_path, :remote => true do %>
        <input type="hidden" name="target_user_id" value="<%= user.id %>">
        <input type="submit" class="message_submit" style="display: none">
        <textarea row="2" name="message_body" class="message_body" style="font-size: 12px; width: 685px; margin-bottom: 0px;"></textarea>
        <a type="button" class="btn btn-info message_submit_btn" style="height: 30px; padding-bottom: 5px; padding-top: 12px; font-size: 11px;">메세지 보내기</a>
      <% end %>
    </div>

    <% end %>

    <hr style="margin-top: 8px; margin-bottom: 8px;">
    <div style="clear: both; width: 780px; height: 330px; font-size: 12px; padding: 10px;">
      <p style="color: #f26522; font-size: 18px;">Business Information</p>
      <table class="table table-striped">
        <tbody>
        <tr>
          <td style="width: 120px;">회사명</td>
          <td><%= user.company_name %></td>
        </tr>
        <tr>
          <td>소재지</td>
          <td><%= user.company_location %></td>
        </tr>
        <tr>
          <td>홈페이지 또는 블로그</td>
          <td><a href=""><%= user.company_homepage %></a></td>
        </tr>
        <tr>
          <td>담당자</td>
          <td><%= user.company_person %></td>
        </tr>
        <tr>
          <td>연락처</td>
          <td><%= user.company_phone %></td>
        </tr>
        <tr>
          <td>주력상품</td>
          <td><%= user.company_main_product_list.join(' | ')%></td>
        </tr>
        <tr>
          <td>상세정보</td>
          <td><%= user.company_detail_info %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>