<div>
  <div>
    <div class="row-fluid">
      <ul class="thumbnails">
        <% favorite_items.each do |item|  %>
        <% showcase = item.showcase %>
        <li class="span4" style="width: 250px; margin-left: 10px;">
          <div class="thumbnail">
            <div class="favorite_showcase_image" style="width: 240px; height: 200px">
              <%= content_image_tag(showcase.contents[0]) %>
            </div>
            <div class="caption" style="padding-bottom: 0px;">
              <p style=" height: 80px;"><%= showcase.title %></p>
              <!--
              <p style="margin-bottom: 2px;">
                <span class="label label-important">업데이트</span>
                <span class="badge badge-important">6</span>
              </p>

              -->
              <p style="margin-bottom: 2px; text-align: right;">
                <%= link_to '바로가기', showcase, :class => 'btn btn-small btn-warning' %>
              </p>
            </div>
          </div>
        </li>
        <% end %>
      </ul>

      <%= paginate favorite_items, :html => {:class => "pagination-centered"}, :remote => true %>
    </div>
  </div>
</div>