<div>
<div style="width: 820px; font-size: 12px; padding: 10px; ">

<table class="table table-striped">
<tbody>
<% agent_contracts.each do |agent_contract| %>
<tr>
  <td style="width: 280px; text-align: center;">
    <%= link_to agent_contract.showcase do %>

      <div class="joining_showcase_image" style="width:285px; height: 160px;"><%= content_image_tag agent_contract.showcase.contents[0] %> </div>
    <% end %>
    <div class="caption" style="background-color: black; width: 275px; height:58px; padding:5px; margin-bottom: 0px;">
      <p style="font-size: 12px; color: white; text-align: left;"><%= agent_contract.showcase.title %></p>
    </div>
  </td>
  <td>
    <table class="table" style="margin-bottom: 0px;">
      <tbody>
      <tr>
        <td style="width: 100px; text-align: center; background-color: #f5f4f4;">쇼케이스 호스트</td>
        <td>
          <div style="width: 48px; height: 48px;"><%= profile_image_tag agent_contract.showcase.user.image.url, 'width: 48px; height: 48px;' %></div>

        </td>
      </tr>
      <tr>
        <td style="width: 120px; text-align: center; background-color: #f5f4f4;">agent</td>
        <td>시작 : <%= agent_contract.start_date.strftime("%Y-%m-%d %H:%M") %> &nbsp; ~ &nbsp; 종료 : <%= agent_contract.end_date.strftime("%Y-%m-%d %H:%M") %></br>
          남은 기간은
        <span class="badge badge-warning">

          <%= (DateTime.parse(agent_contract.end_date.strftime("%Y-%m-%d %H:%M")) - DateTime.now).to_i %>
        </span>일 입니다.</td>
      </tr>
      <tr>
        <td style="width: 120px; height:110px; text-align: center; background-color: #f5f4f4;">리워드</td>
        <td>
          <ul class="thumbnails" style="margin-bottom: 0px;">
            <% agent_contract.showcase.showcase_rewards.each do |reward| %>
            <li style="margin-left: 4px; margin-bottom: 4px;">
              <%= reward_item_tag(reward, 'font-size: 14px; width: 40px; height:40px; padding:1px; margin: 2px;') %>
            </li>
            <% end %>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<% end %>
</tbody>
</table>
  <%= paginate agent_contracts, :html => {:class => "pagination-centered"}, :remote => true %>
</div>
</div>