<div>
  <div style="width: 840px; height: 850px;">
    <div class="message_conversation_user well" style="float: left; width: 250px; height: 700px; padding: 5px; background-color: #eae8e8; ">
      <%= render :partial => 'message_conversation_user', :locals => { :conversation_users => conversation_users } %>
    </div>

    <div class="ChatListBack" style="float: left; width: 560px;">

      <div class="SendMessage well" style="width: 550px; height: 80px; padding: 5px; background-color: #eae8e8; margin-left: 10px;">

        <%= form_tag user_info_message_send_path  , :remote => true do %>
          <input type="submit" id="message_submit" style="display: none">
          <input type="hidden" name="target_user_id" id="target_user_id" value="<%= target_user_id %>">
          <textarea row="3" style="width: 535px; height: 40px; margin-bottom: 5px;"name="message_body" id="message_body" ></textarea>
          <div style="text-align: right;">
            <button type="button" class="btn btn-small btn-info" id="message_submit_btn" <% unless conversations.any? %>disabled<% end %>>메세지 보내기</button>
          </div>
        <% end %>
      </div>

      <div id="message_conversation" style="margin-left: 10px; ">
        <% if conversations.any? %>
          <%= render :partial => 'message_conversation', :locals => { :conversations => conversations, :target_user_id => target_user_id } %>
        <% else %>
          대화내용이 없습니다.
        <% end %>
      </div>
    </div>
  </div>
</div>