<div class="ChatList" style="width: 550px; height: 500px;  padding: 5px;  overflow-y: auto">

  <table class="table table-hover">
    <thead>
    <tr>
      <th colspan="3"style="text-align: left;"><%= t(:"user_info.message.conversation_content", :user_id => User.find(target_user_id).user_id ) %></th>
    </tr>
    </thead>
    <tbody>
    <% conversations.each do |conversation| %>
        <% user = User.find(conversation.sender_id) %>
        <tr>
          <td style="width: 48px;">
            <%= link_to user_info_modal_path(user.id), :style => "padding: 0px;", data: { toggle: "modal", target: "#ProfileModal"}  do %>
                <% if user.image.url.nil?  %>
                    <%= image_tag '48x48/user48x48.jpg', :style => 'width:48px; height:48px;', :class => "user_image_48" %>
                <% else %>
                    <%= image_tag user.image.url, :style => 'width:48px; height:48px;', :class => "user_image_48" %>
                <% end %>
            <% end %>
          </td>
          <td style="font-size: 12px;"><%= simple_format conversation.body %></td>
          <td style="font-size: 9px; width: 100px;"><%= t(:"user_info.message.send_message_time") %> <br/><%= conversation.created_at.strftime('%Y-%m-%d %R') %></td>
        </tr>
    <% end %>
    </tbody>
  </table>


</div>
<%= paginate conversations, :html => {:class => "pagination-centered"}, :params => { :controller => 'user_info', :action => 'conversation', :target_user_id => target_user_id }, :remote => true %>