<table class="table table-hover" style="border 1px; solid gray;">
  <thead>
  <tr>
    <th colspan="2" style="text-align: left;"><%= t(:"user_info.message.conversation_user") %></th>
  </tr>
  </thead>
  <tbody>
  <% conversation_users.each do |conversation_user| %>
      <% user = User.find(conversation_user.user_id) %>
      <tr>
        <td style="width: 48px;">
          <%= link_to user_info_modal_path(user.id), :style => "padding: 0px;", data: { toggle: "modal", target: "#ProfileModal"}  do %>
            <% if user.image.url.nil?  %>
                <%= image_tag '48x48/user48x48.jpg', :style => 'width:48px; height:48px;', :class => "user_image_48" %>
            <% else %>
                <%= image_tag user.image.url, :style => 'width:48px; height:48px;', :class => "user_image_48" %>
            <% end %>
          <% end %>
        </td>
        <td style="text-align: center;">
          <%= user.user_id %><br/><p></p>
          <%= button_to "#{t(:"user_info.message.conversation_button")}", conversation_path(:target_user_id => conversation_user.user_id), :class => 'btn btn-small', :remote => true, :method => 'get' %>
        </td>
      </tr>
  <% end %>

  </tbody>
</table>

<span>
  <%= link_to_previous_page conversation_users, '<<Prev', :params => { :controller => 'user_info', :action => 'conversation_user' }, :remote => true %>
</span>
<span style="display:inline-block; text-align: right; width: 250px;">
  <%= link_to_next_page conversation_users, 'Next>>', :params => { :controller => 'user_info', :action => 'conversation_user' }, :remote => true %>
</span>

