<script>
  $(function() {
      $('.jaf-container').on('click', '.message_submit_btn', function() {


          if($(this).parent().parent().find('.message_body').val() == '') {
              alert("메세지를 입력하세요.");
              return;
          }

          $(this).parent().parent().find('.message_submit').click();
          $(this).parent().parent().find('.message_body').val('');
      });
  });

</script>

<div style="width: 120px; float: left">
  <ul class="nav nav-pills nav-stacked">
    <li  class=" <% if params[:q].nil? %>active<% end %>" >
      <a href="#" class="agent_modal_nav"><%= t(:"user_info.operating_showcase.my_agent.all") %>( <%= showcase.agent_contracts.count %> )</a>
      <%= link_to "", user_info_agent_search_path(current_user.id, showcase.id), :style => "display: none", :class => "hidden_link", :remote => true %>
    </li>
    <li class=" <% if params[:q] == "processing" %>active<% end %>">
      <a href="#" class="agent_modal_nav"><%= t(:"user_info.operating_showcase.my_agent.processing") %>( <%= showcase.agent_contracts.working_agent.count  %> )</a>
      <%= link_to "", user_info_agent_search_path(current_user.id, showcase.id, :q => "processing"), :style => "display: none", :class => "hidden_link", :remote => true%>
    </li>
    <li class=" <% if params[:q] == "end" %>active<% end %>">
      <a href="#" class="agent_modal_nav"><%= t(:"user_info.operating_showcase.my_agent.end") %>( <%= showcase.agent_contracts.end_agent.count  %> )</a>
      <%= link_to "", user_info_agent_search_path(current_user.id, showcase.id, :q => "end"), :style => "display: none", :class => "hidden_link", :remote => true %>
    </li>
  </ul>
</div>

<div style="width: 650px; height: 350px; float: left; margin-left: 30px; " class="app-folders-container">

  <% if !showcase_agents.empty? %>
      <% showcase_agents.in_groups_of(6, false) do |agents| %>
          <div class="jaf-row jaf-container">
            <% agents.each do |agent| %>
                <div class="folder" id="folder_<%= agent.id %>" style="float: left; margin-left: 30px">
                  <a href="#" class="agent_image_thumbnail">
                    <%#= profile_image_tag agent.user.image.url, 'width:70px; height:70px;' %>

                    <% if !agent.user.image.url.nil? %>
                        <img src="<%= agent.user.image.url %>" class="agent_image_thumbnail" style="width: 70px; height: 70px;"/>
                    <% else %>
                        <%= image_tag "48x48/user48x48.jpg", :style => "width: 70px; height: 70px;", :class => "agent_image_thumbnail" %>

                    <% end %>
                  </a>
                  <p style="text-align: center; margin-top: 3px;"><%= agent.user.user_id %></p>
                </div>
            <% end %>

            <br class="clear">

          </div>


      <% end %>

      <% showcase_agents.each do |agent| %>
          <div style="width: 570px; margin-left: 30px; " class="folderContent folder_<%= agent.id %>">
            <div class="jaf-container">
              <%= form_tag user_info_message_send_path, :remote => true, :style => "margin-top: -15px;" do %>

                <input type="hidden" name="target_user_id" value="<%= agent.user.id %>">
                <input type="submit" class="message_submit" style="display: none">

              <div style="width: 80px; float: left;">
                <% if !agent.user.image.url.nil? %>
                    <img src="<%= agent.user.image.url %>" class="agent_image_thumbnail" style="width: 80px; height: 80px;"/>
                <% else %>
                    <%= image_tag "48x48/user48x48.jpg", :style => "width: 80px; height: 80px;", :class => "agent_image_thumbnail" %>
                <% end %>
                <p style="margin-top: 10px; text-align: center"><%= agent.user.user_id %></p>

              </div>

              <div class="calendar" style="float: left;">
                <h1 class="month"><%= t(:"user_info.operating_showcase.my_agent.remain_term") %></h1>
                <p class="day">
                  <%
                     remain_date = (DateTime.parse(agent.end_date.strftime("%Y-%m-%d %H:%M")) - DateTime.now).to_i

                  %>
                  <%= remain_date > 0 ? remain_date : 0 %>
                </p>
              </div>

              <div class="agent_textarea">
                <textarea style="height: 70px; margin-left: 20px; float: left;" cols="120" name="message_body" class="message_body"></textarea>
              </div>

              <div style="float: left; margin-left: 10px; margin-top: 5px;" class="agent_button">

                    <button class="btn btn-primary message_submit_btn" type="button" style="height: 70px; width: 70px;"><%= raw t(:"user_info.operating_showcase.my_agent.send_message") %></button>

              </div>

               <% end %>
            </div>
          </div>
      <% end %>

  <% else %>
      <p><%= t(:"user_info.operating_showcase.my_agent.not_enable_agent") %></p>
  <% end  %>
</div>

<div style="position: absolute; top: 350px; left: 400px;">
  <%= paginate showcase_agents, :html => {:class => "pagination-centered pagination-modal" }, :params => { :controller => "user_info", :action => "user_info_agent_search" } %>
</div>