<script>
    $(function() {
        $('.app-folders-container').appFolders({
            opacity: .2,
            marginTopAdjust: false,
            marginTopBase: 0,
            marginTopIncrement: 50,
            animationSpeed: 200,
            instaSwitch: true,
            URLrewrite: true
        });


        $('.modal-body').on('click', '.agent_modal_nav', function() {

            $('#image_spin').css("display", "block");

            $('#image_spin').show().spin({
                lines: 10,
                length: 5,
                width: 3,
                radius: 5,
                color: 'white',
                speed: 1,
                trail: 60,
                shadow: false
            });

            $(this).next().click();
        });

        $('.pagination-modal').children('ul').children('li').each(function() {

            var a_tag_obj = $(this);
            $(this).prepend(a_tag_obj.html());

            $(this).children('a:last').css('display', 'none').attr('data-remote', 'true');

            $(this).children('a:first').addClass('agent_modal_nav').attr('href', '#');

        });


    });
</script>
<div id="MyAgentModal" class="modal hide fade" data-width="850" tabindex="-1" role="dialog" aria-labelledby="MyAgentModalLabel" aria-hidden="true" style="width: 800px; height: 500px; margin-left: -400px; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;"> <!--Profile Modal Start-->
  <div id="image_spin" style="top: 220px; left: 450px; display: none"></div>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="ProfileModalLabel" style="text-align: left;"><%= raw t(:"user_info.operating_showcase.my_agent.head", :showcase_title => "#{@showcase.title}") %></h4>
  </div>


  <div class="modal-body" style="padding-top: 10px; height: 500px; max-height:500px; text-align: left;"> <!--------Modal Body START----------->

    <%= render :partial => "user_info/my_agent_partial", :locals => { :showcase_agents => @showcase_agents, :showcase => @showcase } %>
  </div>






  </div> <!--------Modal Body END----------->
</div>  <!--Profile Modal end-->