<div>
<div style="width: 820px;  font-size: 12px; padding: 10px;">
<table class="table">
<tbody>
<tr>
  <td style="text-align: center; background-color: #edecec;">운영중인 쇼케이스</td>
  <td style="text-align: center;">계약중인 에이전트</td>
</tr>
<% @showcases.each do |showcase| %>
<tr>
  <td style="width: 120px; text-align: center; background-color: #f5f4f4;">
    <div class="thumbnail" style="width:285px">
      <%= link_to showcase do %>

        <div style="width:285px; height:160px;" class="operating_showcase_image">
          <%= content_image_tag showcase.contents[0], "background-color: black;" %>
        </div>
      <% end %>
      <div class="caption" style="background-color: black; text-align: left;">
        <p style="font-size: 11px; color: white; height:35px"><%= showcase.title %></p>
        <div style="height:50px">
          <% showcase.showcase_rewards.each do |reward| %>
              <%= reward_item_tag(reward, 'font-size: 14px; width: 40px; height:40px; padding:1px; margin: 2px;') %>
          <% end %>
        </div>
      </div>
    </div>
    <p></p>
    <p style="text-align: right;"><a class="btn btn-small btn-danger" href="#">수정</a> <a class="btn btn-small btn-inverse" href="#">삭제</a></p>
  </td>

  <td>
    <div  class="row-fluid" style="height: 178px; background-color: #cccccc; padding: 2px;">
      <ul class="thumbnails">
        <%
          agent_contracts = showcase.agent_contracts.page(1).per(25)

          agent_contracts.each do |contract|
        %>
        <li style="margin-left: 3px; margin-bottom: 3px;" class="agent_contract_user">
          <a href="#" type="button" class="btn btn-large" style="padding: 2px; margin: 3px;" >
            <%= profile_image_tag contract.user.image.url, 'width:45px; height:45px;' %>
          </a>
          <span style="display: none;" class="agent_contract_showcase_id"><%= showcase.id %></span>
          <span style="display: none;" class="agent_contract_user_id"><%= contract.user.user_id %></span>
          <span style="display: none;" class="agent_contract_user"><%= contract.user.id %></span>
          <span style="display: none;" class="agent_contract_remain_date"><%= (DateTime.parse(contract.end_date.strftime("%Y-%m-%d %H:%M")) - DateTime.now).to_i %></span>
        </li>

        <% end %>


      </ul>
    </div>
    <% if agent_contracts.count < 25 %>
    <div style="height:28px;"></div>
    <% end %>
    <%= paginate agent_contracts, :html => {:class => "operating_showcase_agent_paging pagination-centered pagination-mini "},
                 :remote => true %>


    <div  class="row-fluid" style="height: 103px; background-color: #636363; padding: 2px;">
      <table class="table" style="background-color: #636363; border:0px;">
        <tbody>
        <tr>
          <td style="text-align: center; color:white; border:0px;">에이전트</td>
          <td style="text-align: center; color:white; border:0px;">ID</td>
          <td style="text-align: center; color:white; border:0px;">남은 기간</td>
          <td style="text-align: center; color:white; border:0px;">메세지 보내기</td>
        </tr>
        <tr>
          <td style="width:60px;" id="agent_contract_user_image_<%= showcase.id %>"></td>
          <td>
            <p style="color:white; width:60px; text-align: center;" id="agent_contract_user_id_<%= showcase.id %>"></p>
          </td>
          <td style="text-align: center; font-size: 16px; color:red; width: 48px;" id="agent_contract_remain_date_<%= showcase.id %>"></td>
          <td>
            <%= form_tag user_info_message_send_path, :remote => true, :style => 'height:10px' do %>
              <input type="hidden" name="target_user_id" id="target_user_id_<%= showcase.id %>">
              <input type="submit" class="message_submit" style="display: none">
              <textarea name="message_body" class="message_body" style="margin-bottom: 0px; width: 180px; height: 32px;"></textarea>
              <button type="button" class="btn btn-mini btn-info message_submit_btn" value="<%= showcase.id %>">메세지<br/>보내기</button>
             <% end %>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </td>
</tr>
<% end %>

</tbody>
</table>
  <%= paginate @showcases, :html => {:class => "pagination-centered"}, :remote => true %>
</div>
</div>
