<% if @user.id == current_user.id %>
    <div class="tabbable tabs-left" >
      <ul class="nav nav-tabs" id="user_info_tab" style="margin-right: 20px; position: fixed;">
        <li <% if controller.action_name == 'basic_info' %>class="active"<% end %> style="font-size: 12px;">
          <%= link_to user_info_basic_path  do %>
              <i class="icon-user icon-white icon-large"></i> <%= t(:"user_info.menu.basic") %>
          <% end %>
        </li>
        <li <% if controller.action_name == 'operating_showcase' %>class="active"<% end %> style="font-size: 12px;">
          <%= link_to user_info_operating_showcase_path do %>
              <i class="icon-road icon-white icon-large"></i> <%= t(:"user_info.menu.operating_showcase") %>
          <% end %>
        </li>
        <li <% if controller.action_name == 'joining_showcase' %>class="active"<% end %> style="font-size: 12px;">
          <%= link_to user_info_joining_showcase_path do %>
              <i class="icon-group icon-white icon-large"></i> <%= t(:"user_info.menu.joining_showcase") %>
          <% end %>
        </li>
        <li <% if controller.action_name == 'favorite_showcase' %>class="active"<% end %> style="font-size: 12px;">
          <%= link_to user_info_favorite_showcase_path do %>
              <i class="icon-bell-alt icon-white icon-large"></i> <%= t(:"user_info.menu.favorite_showcase") %>
          <% end %>
        </li>
        <li <% if controller.action_name == 'agent_request' %>class="active"<% end %> style="font-size: 12px;">
          <%= link_to user_info_agent_request_path do %>
              <i class="icon-certificate icon-white icon-large"></i> <%= t(:"user_info.menu.agent_request") %>
          <% end %>
        </li>
        <li <% if controller.action_name == 'message' %>class="active"<% end %> style="font-size: 12px;">
          <%= link_to user_info_message_path do %>
              <i class="icon-comments icon-white icon-large"></i> <%= t(:"user_info.menu.message") %>
          <% end %>
        </li>
      </ul>
<% end %>