//$('.tab-content').html("<%= j render :partial => 'agent_request', :locals => { :user => @user } %>");
$('.agent_request_image').imgLiquid({
    fill: true,
    fadeInTime: 200,
    horizontalAlign: "center",
    verticalAlign: "middle"
});

window.document.body.scrollTop = 0;
window.document.documentElement.scrollTop = 0;