
<% if @notification.is_accept == true %>
  <% if flash[:success] && flash[:enable_slot] %>
    $('#accept_btn_<%= @notification.id %>').html("수락되었습니다.<br/>(<%= @notification.updated_at.strftime('%Y-%m-%d') %>)");
  <% end %>
<% elsif !@notification.is_accept.nil? && @notification.is_accept == false %>
  $('#accept_btn_<%= @notification.id %>').html("거절되었습니다.<br/>(<%= @notification.updated_at.strftime('%Y-%m-%d') %>)");
<% elsif @notification.is_accept.nil? %>
  alert("사용가능한 슬롯이 없습니다.");
<% end %>

<% if flash[:success] && !@notification.is_accept.nil? %>
<% publish_to "/agent_request/#{@user.id}" do %>
$('#agent_request_count_badge').show();
$('#agent_request_count_badge').html("<%= @user.mailbox.inbox_agent_all({:read => false}).count %>");

<%
conversations = @user.mailbox.inbox_agent_all.page(1).per(5)
next_conversations = @user.mailbox.inbox_agent_all.page(2).per(5)

if conversations.count > 0
%>

<% if next_conversations.count > 0 %>
$('#agent_request_scroll_page').val("1");
$('#agent_request_scroll_end').val("false");
<% else %>
$('#agent_request_scroll_end').val("true");
<% end %>

$('#agent_request_scroll_body').html("<%= j render :partial => 'notifications/partial/agent_request_notification',
        :locals => { :conversations => conversations, :user => @user } %>");
<% end %>

<% end %>


<% elsif flash[:success] == false %>
alert("에이전트 신청 중 문제가 발생했습니다.");
<% end %>