<div class="container-fluid" style="margin-bottom: 250px;">
  <div class="row-fluid">
    <div class="BackLayout" style="width:1140px; height:840px; relative; margin: auto; background-color: white; padding: 30px;">
      <%= render :partial => "user_info/side_menu" %>
          <div class="tab-content" style="margin-left: 220px;" id="tab_content" >


            <%#= render 'agent_request' %>

            <div id="profile_modal_partial"></div>

            <div>
              <div>
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th style="text-align: center"><%= t(:"user_info.agent_request.sender") %></th>
                    <th style="text-align: center"><%= t(:"user_info.agent_request.showcase") %></th>
                    <th style="text-align: center"><%= t(:"user_info.agent_request.showcase_title") %></th>
                    <th style="text-align: center"><%= t(:"user_info.agent_request.received_date") %></th>
                    <th style="text-align: center"><%= t(:"user_info.agent_request.accept") %></th>
                  </tr>
                  </thead>
                  <tbody>
                  <%
                     @conversations.each do |conversation|
                       receipts = conversation.receipts_for @user
                       receipts.each do |receipt|

                         message = receipt.message
                         sender = User.find(message.sender_id)
                         showcase = Showcase.find(message.showcase_id)


                  %>
                          <tr>
                            <td style="width: 110px; text-align: center">
                              <div class="agent_request_image user_image_48" style="width:60px; height:60px; margin-left: 20px;">
                                <%= link_to user_info_modal_path(sender.id), :style => "padding: 0px;", data: { toggle: "modal", target: "#ProfileModal"}  do %>


                                    <% if sender.image.url.nil? %>
                                        <%= image_tag '48x48/user48x48.jpg', :style => 'width:60px; height:60px'%>
                                    <% else %>
                                        <%= image_tag sender.image.url, :style => 'width:60px; height:60px' %>
                                    <% end %>

                                <% end %>
                              </div>
                            </td>
                            <td style="width: 110px; text-align: center">
                              <div class="agent_request_image user_image_48" style="width:60px; height:60px; margin-left: 20px;">
                                <a href="#"><%= content_image_tag(showcase.contents[0] ) %></a>
                              </div>
                            </td>
                            <td style="width: 250px; font-size: 12px; text-align: left"><%= showcase.title %></td>
                            <td style="width: 110px; text-align: center"><p></p><%= message.created_at.strftime('%Y-%m-%d') %></td>
                            <td style="text-align: center"><p></p>
                              <div id="accept_btn_<%= message.id %>">
                                <% if message.is_accept == true %>
                                    <%= t(:"user_info.agent_request.accept_message") %><br/>(<%= message.updated_at.strftime('%Y-%m-%d') %>)
                                <% elsif message.is_accept == false %>
                                    <%= t(:"user_info.agent_request.reject_message") %><br/>(<%= message.updated_at.strftime('%Y-%m-%d') %>)
                                <% else %>
                                    <a style="cursor: pointer;" class="btn btn-small btn-primary accept_true" ><%= t(:"user_info.agent_request.accept_button") %></a>
                                    <a style="cursor: pointer;" class="btn btn-small accept_false"><%= t(:"user_info.agent_request.reject_button") %></a>

                                    <%= button_to '요청수락', agent_request_accept_path(message, :is_accept => true), :remote => true,
                                                  :style => 'display:none;',
                                                  :class => 'btn btn-small btn-primary accept_true_submit', :method => 'put' %>
                                    <%= button_to '거절', agent_request_accept_path(message, :is_accept => false), :remote => true,
                                                  :style => 'display:none;', :class => 'btn btn-small accept_false_submit',
                                                  :method => 'put' %>
                                <% end %>
                              </div>
                            </td>
                          </tr>
                      <% end %>
                  <% end %>
                  </tbody>
                </table>

                <%= paginate @conversations, :html => {:class => "pagination-centered"} %>
              </div>
            </div>

          </div>
      </div>


    </div>
  </div>
</div>
