<div class="container-fluid" style="margin-bottom: 170px">
  <div class="row-fluid">
    <div class="BackLayout" style="width:1140px; height:840px; relative; margin: auto; background-color: white; padding: 30px;">

      <%= render :partial => "user_info/side_menu" %>
          <div class="tab-content" style="margin-left: 220px;" id="tab_content" >




            <div>
              <div class="profleBack" style="width: 800px; height: 850px; padding: 10px;">
                <% if current_user.id == @user.id %>
                    <div style="width: 800px; height: 30px; text-align: right;">
                <% else %>
                    <div style="width: 800px; height: 30px; text-align: right; visibility: hidden;">
                <% end %>
                <a href="/users/<%= @user.id %>/edit" type="button" class="btn btn-small btn-primary" style="font-size: 11px;"><%= t(:"user_info.basic.update_button") %></a>
                </div>
                <div style="float: left; width: 120px; height: 100px;">
                  <%= profile_image_tag @user.image.url, 'width: 59px; height: 59px;' %>
                </div>
                <div style="float: left; width: 250px; height: 60px;">
                  <p></p>
                  <p style="font-size: 20px;"><b><%= @user.user_id %></b></p>
                  <p><%= @user.email %></p>
                </div>
                <div style="float: left; width: 300px; height: 60px; text-align: left;">
                  <p></p>
                  <%= link_to '' do %>
                      <%= image_tag 'facebookIcon48X48.jpg' %>
                  <% end unless @user.facebook_url.blank? %>

                  <%= link_to '' do %>
                      <%= image_tag 'twitterIcon48x48.jpg' %>
                  <% end unless @user.twitter_url.blank? %>

                  <%= link_to '' do %>
                      <%= image_tag 'googleIcon48x48.jpg' %>
                  <% end unless @user.google_url.blank? %>

                </div>
                <div style="clear: both; width: 800px; height: 20px;">
                </div>
                <div style="clear: both; width: 780px; height: 210px; font-size: 12px; padding: 10px;">
                  <table class="table table-striped">
                    <tbody>
                    <tr>
                      <td style="width: 80px;"><%= t(:"common.profile.basic.name") %></td>
                      <td><%= @user.name %></td>
                    </tr>
                    <tr>
                      <td><%= t(:"common.profile.basic.location") %></td>
                      <td><%= Carmen::Country.coded("#{@user.country}").name if @user.country.present? %></td>
                    </tr>
                    <tr>
                      <td><%= t(:"common.profile.basic.interest_area") %></td>
                      <td><%= @user.interest_areas.map(&:title).join(' | ') %></td>
                    </tr>
                    <tr>
                      <td><%= t(:"common.profile.basic.detail_info") %></td>
                      <td><%= @user.detail_info %></td>
                    </tr>
                    </tbody>
                  </table>
                </div>

                <p></p>

                <% if current_user.id != @user.id %>
                    <div style="text-align: right;">
                      <%= render :partial => 'commons/partial/message_submit_form',
                        :locals => {
                                :user_id => @user.id ,
                                :text_style => 'font-size: 12px; width: 685px; margin-bottom: 0px;',
                                :text_class => 'message_body',
                                :button_style => 'height: 30px; padding-bottom: 5px; padding-top: 12px; font-size: 11px;',
                                :button_class => 'btn btn-info message_submit_btn'
                        }

                      %>
                    </div>

                <% end %>

                <hr style="margin-top: 8px; margin-bottom: 8px;">
                <div style="clear: both; width: 780px; height: 330px; font-size: 12px; padding: 10px;">
                  <p style="color: #f26522; font-size: 18px;">Business Information</p>
                  <table class="table table-striped">
                    <tbody>
                    <tr>
                      <td style="width: 120px;"><%= t(:"common.profile.company_info.name") %></td>
                      <td><%= @user.company_name %></td>
                    </tr>
                    <tr>
                      <td><%= t(:"common.profile.company_info.location") %></td>
                      <td><%= @user.company_location %></td>
                    </tr>
                    <tr>
                      <td><%= t(:"common.profile.company_info.homepage") %></td>
                      <td><a href=""><%= @user.company_homepage %></a></td>
                    </tr>
                    <tr>
                      <td><%= t(:"common.profile.company_info.manager") %></td>
                      <td><%= @user.company_person %></td>
                    </tr>
                    <tr>
                      <td><%= t(:"common.profile.company_info.phone") %></td>
                      <td><%= @user.company_phone %></td>
                    </tr>
                    <tr>
                      <td><%= t(:"common.profile.company_info.main_item") %></td>
                      <td><%= @user.company_main_product_list.join(' | ')%></td>
                    </tr>
                    <tr>
                      <td><%= t(:"common.profile.company_info.detail_info") %></td>
                      <td><%= @user.company_detail_info %></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                </div>

              </div>

          </div>
      </div>


    </div>
  </div>
</div>
