$('#message_conversation').html("<%= j render :partial => 'message_conversation', :locals => { :conversations => @conversations, :target_user_id => @target_user_id }  %>");
$('#target_user_id').val("<%= @target_user_id %>");