<div class="container-fluid">
  <div class="row-fluid">
    <div class="BackLayout" style="width:1140px; height:840px; relative; margin: auto; background-color: white; padding: 30px; margin-bottom: 300px;">
      <%= render :partial => "user_info/side_menu" %>
          <div class="tab-content" style="margin-left: 220px;" id="tab_content" >




            <%#= render :partial => 'favorite_showcase', :locals => { :user => @user } %>


            <div>
              <div>
                <div class="row-fluid">
                  <ul class="thumbnails">
                    <% @favorite_items.each do |item|  %>
                        <% showcase = item.showcase %>
                        <li class="span4" style="width: 250px; margin-left: 10px;">
                          <div class="thumbnail">
                            <div class="favorite_thumbnail">
                            <div class="favorite_showcase_image" style="width: 240px; height: 200px">
                              <%= content_image_tag(showcase.contents[0]) %>
                            </div>
                            <div class="caption favorite_caption" style="padding-bottom: 0px;">
                              <p style=" height: 60px; font-size: 11px;"><%= showcase.title %></p>
                              <!--
                              <p style="margin-bottom: 2px;">
                                <span class="label label-important">업데이트</span>
                                <span class="badge badge-important">6</span>
                              </p>

                              -->
                              <p style="margin-bottom: 2px; text-align: right; padding-bottom: 10px;">
                                <%= link_to "#{t(:"user_info.favorite_showcase.showcase_link")}", showcase, :class => 'btn btn-small btn-warning' %>
                              </p>
                            </div>
                            </div>
                          </div>
                        </li>
                    <% end %>
                  </ul>

                  <%= paginate @favorite_items, :html => {:class => "pagination-centered"}%>
                </div>
              </div>
            </div>

          </div>
      </div>


    </div>
  </div>
</div>
