$('.tab-content').html("<%= j render :partial => 'favorite_showcase', :locals => { :favorite_items => @favorite_items } %>");
$(".favorite_showcase_image").imgLiquid({
    fill: true,
    fadeInTime: 200,
    horizontalAlign: "center",
    verticalAlign: "middle"
});

window.document.body.scrollTop = 0;
window.document.documentElement.scrollTop = 0;