<div class="container-fluid">
<div class="row-fluid">
<div class="BackLayout" style="width:1140px; height:840px; relative; margin: auto; background-color: white; padding: 30px;">
<% if @user.id == current_user.id %>
<div class="tabbable tabs-left" >
<ul class="nav nav-tabs" id="user_info_tab" style="margin-right: 20px; position: fixed;">
  <li class="active" style="font-size: 12px;">
    <%= link_to user_info_basic_path  do %>
        <i class="icon-user icon-white icon-large"></i> 기본 정보
    <% end %>
  </li>
  <li style="font-size: 12px;">
    <%= link_to user_info_operating_showcase_path do %>
        <i class="icon-road icon-white icon-large"></i> 운영중인 쇼케이스
    <% end %>
  </li>
  <li style="font-size: 12px;">
    <%= link_to user_info_joining_showcase_path do %>
        <i class="icon-group icon-white icon-large"></i> 에이전트 참여 중인 쇼케이스
    <% end %>
  </li>
  <li style="font-size: 12px;">
    <%= link_to user_info_favorite_showcase_path do %>
        <i class="icon-bell-alt icon-white icon-large"></i> 즐겨찾기 한 쇼케이스
    <% end %>
  </li>
  <li style="font-size: 12px;">
    <%= link_to user_info_agent_request_path do %>
        <i class="icon-certificate icon-white icon-large"></i> 에이전트 신청
    <% end %>
  </li>
  <li style="font-size: 12px;">
    <%= link_to user_info_message_path do %>
        <i class="icon-comments icon-white icon-large"></i> 메세지
    <% end %>
  </li>
</ul>
<% end %>
<div class="tab-content" style="margin-left: 220px;" id="tab_content" >


<%= render :partial => 'basic_info', :locals => { :user => @user } %>
<%#= render :partial => 'operating_showcase', :locals => { :user => @user } %>
<%#= render 'joining_showcase' %>
<%#= render :partial => 'favorite_showcase', :locals => { :user => @user } %>
<%#= render 'agent_request' %>
<%#= render 'message' %>

</div>
</div>


</div>
</div>
</div>
