<div class="container-fluid" style="margin-bottom: 100px;">
  <div class="row-fluid">
    <div class="BackLayout" style="width:1140px; height:840px; relative; margin: auto; background-color: white; padding: 30px;">
      <%= render :partial => "user_info/side_menu" %>
          <div class="tab-content" style="margin-left: 220px;" id="tab_content" >



            <%#= render 'joining_showcase' %>
            <div id="profile_modal_partial"></div>

            <div>
              <div style="width: 820px; font-size: 12px; padding: 10px; ">
                <ul class="nav nav-pills">
                  <li  <% if params[:q].nil? %> class="active" <% end %>>
                    <%= link_to "#{t(:"user_info.joining_showcase.all")} ( #{ current_user.agent_contracts.count } )", user_info_joining_showcase_path %>
                  </li>
                  <li <% if params[:q] == 'processing' %> class="active" <% end %>>
                    <%= link_to "#{t(:"user_info.joining_showcase.processing")} ( #{ current_user.agent_contracts.working_agent.count } )", user_info_joining_showcase_path(:q => "processing") %>
                  </li>
                  <li <% if params[:q] == 'end' %> class="active" <% end %>>
                    <%= link_to "#{t(:"user_info.joining_showcase.end")} ( #{ current_user.agent_contracts.end_agent.count } )", user_info_joining_showcase_path(:q => "end") %>
                  </li>

                </ul>
                <table class="table table-striped">
                  <tbody>
                  <% @agent_contracts.each do |agent_contract| %>

                      <tr>
                        <td style="width: 280px; text-align: center;">
                          <%= link_to agent_contract.showcase do %>

                              <div class="joining_showcase_image" style="width:285px; height: 160px;"><%= content_image_tag agent_contract.showcase.contents[0] %> </div>
                          <% end %>
                          <div class="caption" style="background-color: black; width: 275px; height:58px; padding:5px; margin-bottom: 0px;">
                            <p style="font-size: 12px; color: white; text-align: left;"><%= agent_contract.showcase.title %></p>
                          </div>
                        </td>
                        <td>
                          <table class="table" style="margin-bottom: 0px;">
                            <tbody>
                            <tr>
                              <td style="width: 100px; text-align: center; background-color: #f5f4f4;"><%= t(:"user_info.joining_showcase.showcase_host") %></td>
                              <td>
                                <div style="width: 48px; height: 48px;">
                                  <%= link_to user_info_modal_path(agent_contract.showcase.user.id), :style => "width: 48px; height: 48px; padding: 0px;", data: { toggle: "modal", target: "#ProfileModal"} do %>
                                      <% if agent_contract.showcase.user.image.blank? %>
                                          <%= image_tag '48x48/user48x48.jpg', :style => 'width:48px; height:48px', :class => "user_image_48" %>
                                      <% else %>
                                          <%= image_tag agent_contract.showcase.user.image, :class => "user_image_48" %>
                                      <% end %>


                                  <% end %>
                                </div>

                              </td>
                            </tr>
                            <tr>
                              <td style="width: 120px; text-align: center; background-color: #f5f4f4;"><%= t(:"user_info.joining_showcase.agent")  %></td>

                              <td><%= t(:"user_info.joining_showcase.start") %> : <%= agent_contract.start_date.strftime("%Y-%m-%d %H:%M") %> &nbsp; ~ &nbsp; <%= t(:"user_info.joining_showcase.end") %> : <%= agent_contract.end_date.strftime("%Y-%m-%d %H:%M") %></br>
                                <% if DateTime.now < DateTime.parse(agent_contract.end_date.strftime("%Y-%m-%d %H:%M")) %>
                                <%= raw t(:"user_info.joining_showcase.remain_date", :day => (DateTime.parse(agent_contract.end_date.strftime("%Y-%m-%d %H:%M")) - DateTime.now).to_i ) %>

                                <% else %>
                                  <%= t(:"user_info.joining_showcase.end_message") %>
                                <% end %>
                              </td>
                            </tr>
                            <tr>
                              <td style="width: 120px; height:110px; text-align: center; background-color: #f5f4f4;">리워드</td>
                              <td>
                                <ul class="thumbnails" style="margin-bottom: 0px;">
                                  <% agent_contract.showcase.showcase_rewards.each do |reward| %>
                                      <li style="margin-left: 8px; margin-bottom: 4px; width: 38px; height: 38px;" class="reward_icons_38">
                                        <a  data-toggle="tooltip" class="user_info_reward_icon" title="<%= reward.reward_item.title %> : <%= reward.detail_info %>">
                                          <%= image_tag "48x48/#{reward.reward_item.image}", :class => "showcase_show_reward_icon" %>
                                        </a>
                                      </li>


                                  <% end %>
                                </ul>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
                <%= paginate @agent_contracts, :html => {:class => "pagination-centered"}%>
              </div>
            </div>


          </div>
      </div>


    </div>
  </div>
</div>
