$('.tab-content').html("<%= j render :partial => 'joining_showcase', :locals => { :user => @user, :agent_contracts => @agent_contracts } %>");

$(".joining_showcase_image").imgLiquid({
    fill: true,
    fadeInTime: 200,
    horizontalAlign: "center",
    verticalAlign: "middle"
});

$('[rel="clickover"]').clickover({
    html :true,
    content: function() {
        return $($(this).attr('data-id')).html();
    }
});

window.document.body.scrollTop = 0;
window.document.documentElement.scrollTop = 0;