<div class="container-fluid" style="margin-bottom: 100px;">
  <div class="row-fluid">
    <div class="BackLayout" style="width:1140px; height:840px; relative; margin: auto; background-color: white; padding: 30px;">
      <% if @user.id == current_user.id %>
          <div class="tabbable tabs-left" >
            <ul class="nav nav-tabs" id="user_info_tab" style="margin-right: 20px; position: fixed;">
              <li style="font-size: 12px;">
                <%= link_to user_info_basic_path  do %>
                    <i class="icon-user icon-white icon-large"></i> 기본 정보
                <% end %>
              </li>
              <li style="font-size: 12px;">
                <%= link_to user_info_operating_showcase_path do %>
                    <i class="icon-road icon-white icon-large"></i> 운영중인 쇼케이스
                <% end %>
              </li>
              <li class="active" style="font-size: 12px;">
                <%= link_to user_info_joining_showcase_path do %>
                    <i class="icon-group icon-white icon-large"></i> 에이전트 참여 중인 쇼케이스
                <% end %>
              </li>
              <li style="font-size: 12px;">
                <%= link_to user_info_favorite_showcase_path do %>
                    <i class="icon-bell-alt icon-white icon-large"></i> 즐겨찾기 한 쇼케이스
                <% end %>
              </li>
              <li style="font-size: 12px;">
                <%= link_to user_info_agent_request_path do %>
                    <i class="icon-certificate icon-white icon-large"></i> 에이전트 신청
                <% end %>
              </li>
              <li style="font-size: 12px;">
                <%= link_to user_info_message_path do %>
                    <i class="icon-comments icon-white icon-large"></i> 메세지
                <% end %>
              </li>
            </ul>
      <% end %>
          <div class="tab-content" style="margin-left: 220px;" id="tab_content" >



            <%#= render 'joining_showcase' %>
            <div id="profile_modal_partial"></div>

            <div>
              <div style="width: 820px; font-size: 12px; padding: 10px; ">
                <ul class="nav nav-pills">
                  <li  <% if params[:q].nil? %> class="active" <% end %>>
                    <%= link_to "전체 ( #{ current_user.agent_contracts.count } )", user_info_joining_showcase_path %>
                  </li>
                  <li <% if params[:q] == 'processing' %> class="active" <% end %>>
                    <%= link_to "진행중 ( #{ current_user.agent_contracts.working_agent.count } )", user_info_joining_showcase_path(:q => "processing") %>
                  </li>
                  <li <% if params[:q] == 'end' %> class="active" <% end %>>
                    <%= link_to "종료 ( #{ current_user.agent_contracts.end_agent.count } )", user_info_joining_showcase_path(:q => "end") %>
                  </li>

                </ul>
                <table class="table table-striped">
                  <tbody>
                  <% @agent_contracts.each do |agent_contract| %>
                      <tr>
                        <td style="width: 280px; text-align: center;">
                          <%= link_to agent_contract.showcase do %>

                              <div class="joining_showcase_image" style="width:285px; height: 160px;"><%= content_image_tag agent_contract.showcase.contents[0] %> </div>
                          <% end %>
                          <div class="caption" style="background-color: black; width: 275px; height:58px; padding:5px; margin-bottom: 0px;">
                            <p style="font-size: 12px; color: white; text-align: left;"><%= agent_contract.showcase.title %></p>
                          </div>
                        </td>
                        <td>
                          <table class="table" style="margin-bottom: 0px;">
                            <tbody>
                            <tr>
                              <td style="width: 100px; text-align: center; background-color: #f5f4f4;">쇼케이스 호스트</td>
                              <td>
                                <div style="width: 48px; height: 48px;">
                                  <%= link_to user_info_modal_path(agent_contract.showcase.user.id), :style => "width: 48px; height: 48px; padding: 0px;", data: { toggle: "modal", target: "#ProfileModal"} do %>
                                    <%= profile_image_tag agent_contract.showcase.user.image.url, 'width: 48px; height: 48px;' %>
                                  <% end %>
                                </div>

                              </td>
                            </tr>
                            <tr>
                              <td style="width: 120px; text-align: center; background-color: #f5f4f4;">agent</td>

                              <td>시작 : <%= agent_contract.start_date.strftime("%Y-%m-%d %H:%M") %> &nbsp; ~ &nbsp; 종료 : <%= agent_contract.end_date.strftime("%Y-%m-%d %H:%M") %></br>
                                <% if DateTime.now < DateTime.parse(agent_contract.end_date.strftime("%Y-%m-%d %H:%M")) %>
                                남은 기간은
                                <span class="badge badge-warning">

                                  <%= (DateTime.parse(agent_contract.end_date.strftime("%Y-%m-%d %H:%M")) - DateTime.now).to_i %>
                                </span>일 입니다.</td>
                                <% else %>
                                 종료되었습니다.
                                <% end %>
                            </tr>
                            <tr>
                              <td style="width: 120px; height:110px; text-align: center; background-color: #f5f4f4;">리워드</td>
                              <td>
                                <ul class="thumbnails" style="margin-bottom: 0px;">
                                  <% agent_contract.showcase.showcase_rewards.each do |reward| %>
                                      <li style="margin-left: 4px; margin-bottom: 4px;">
                                        <%= reward_item_tag(reward, 'font-size: 14px; width: 40px; height:40px; padding:1px; margin: 2px;') %>
                                      </li>
                                  <% end %>
                                </ul>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
                <%= paginate @agent_contracts, :html => {:class => "pagination-centered"}%>
              </div>
            </div>


          </div>
      </div>


    </div>
  </div>
</div>
