<% if flash[:success] %>
$('#message_conversation').html("<%= j render :partial => 'message_conversation', :locals => { :conversations => @conversations, :target_user_id => @target_user_id }  %>");

<% @user = User.find(@target_user_id) %>
alert('<%= @user.user_id %>' + '님에게 메세지를 보냈습니다.');

    <% publish_to "/message/#{@user.id}" do %>
    $('#message_count_badge').show();
    $('#message_count_badge').html("<%= @user.mailbox.inbox_message({:read => false}).count %>");

    <%

    conversations = @user.mailbox.inbox_message.page(1).per(5)
    next_conversations = @user.mailbox.inbox_message.page(2).per(5)

    if conversations.count > 0

    %>

        <% if next_conversations.count > 0 %>
            $('#message_scroll_page').val("1");
            $('#message_scroll_end').val("false");
        <% else %>
            $('#message_scroll_end').val("true");
        <% end %>

        $('#message_scroll_body').html("<%= j render :partial => 'notifications/partial/message_notification',
            :locals => { :conversations => conversations, :user => @user } %>");
    <% end %>

    <% end %>
<% else %>
alert('메세지 보내기에 문제가 있습니다.');
<% end %>













