$('.tab-content').html("<%= j render :partial => 'message', :locals => { :conversations => @conversations, :conversation_users => @conversation_users, :target_user_id => @target_user_id } %>");
window.document.body.scrollTop = 0;
window.document.documentElement.scrollTop = 0;