<div class="container-fluid" style="margin-bottom: 250px">
  <div class="row-fluid">
    <div class="BackLayout" style="width:1140px; height:840px; relative; margin: auto; background-color: white; padding: 30px;">
      <%= render :partial => "user_info/side_menu" %>
          <div class="tab-content" style="margin-left: 220px;" id="tab_content" >
            <div>
              <div style="width: 820px;  font-size: 12px; padding: 10px;">

                <ul class="nav nav-pills">
                  <li <% if params[:q].nil? %> class="active" <% end %>>
                    <%= link_to "#{ t(:"user_info.operating_showcase.all") } ( #{current_user.showcases.count} )",  user_info_operating_showcase_path %>

                  </li>
                  <li <% if params[:q] == 'public' %> class="active" <% end %>>
                    <%= link_to "#{ t(:"user_info.operating_showcase.public") } ( #{current_user.showcases.publish.count} )",  user_info_operating_showcase_path(:q => "public") %>

                  </li>
                  <li <% if params[:q] == 'private' %> class="active" <% end %>>
                    <%= link_to "#{ t(:"user_info.operating_showcase.private") } ( #{current_user.showcases.not_publish.count} )",  user_info_operating_showcase_path(:q => "private") %>
                  </li>


                </ul>




                    <ul class="thumbnails" >
                      <% @showcases.each do |showcase| %>
                      <li>
                    <div class="thumbnail" style="width: 240px">
                      <div class="operating_thumbnail">
                      <%= link_to showcase_path(showcase.id) do %>

                          <div style="width:240px; height:160px;" class="operating_showcase_image">
                            <%= content_image_tag showcase.contents[0], "background-color: black;" %>
                            <div class="operating_showcase_btn">
                              <%= link_to "#{ t(:"common.button.update") }", edit_showcase_path(showcase), :class => "btn btn-mini btn-info" %>
                              <%= link_to "#{ t(:"common.button.delete") }", showcase_path(showcase), :method => "delete", :class => "btn btn-danger btn-mini", :confirm => "#{ t(:"user_info.operating_showcase.delete_confirm")}" %>
                              <%= link_to "#{ t(:"common.button.agent") }", user_info_agent_modal_path(current_user.id, showcase.id), :class => "btn btn-success btn-mini", data: { toggle: "modal", target: "#MyAgentModal" } %>
                            </div>

                          </div>
                      <% end %>
                      <div class="caption operating_caption" style="background-color: #f5f5f5; text-align: left;">
                        <p class="caption_title" style="font-size: 11px; color: black; height:35px"><%= showcase.title %></p>
                        <div style="height:70px;" class="reward_icons">

                          <% showcase.showcase_rewards.each_with_index do |reward, i| %>
                          <div style="float: left; width: 30px; height: 30px; padding: 3px;" >
                              <a  data-toggle="tooltip" class="user_info_reward_icon" title="<%= reward.detail_info %>">
                                <%= image_tag "48x48/#{reward.reward_item.image}", :size => "30x30", :class => "user_info_reward",
                                                  :style => "margin-top: 2px;" %></a>
                          </div>
                          <% end %>


                        </div>
                      </div>
                      </div>
                    </div>
                      </li>
                      <% end %>
                    </ul>

                <div id="my_agent_modal_partial"></div>


                <%= paginate @showcases, :html => {:class => "pagination-centered"} %>
              </div>
            </div>

          </div>
      </div>




    </div>
  </div>
</div>
