$('.tab-content').html("<%= j render :partial => 'operating_showcase', :locals => { :user => @user , :showcases => @showcases} %>");

$('[rel="clickover"]').clickover({
    html :true,
    content: function() {
        return $($(this).attr('data-id')).html();
    }
});

$(".operating_showcase_image").imgLiquid({
    fill: true,
    fadeInTime: 200,
    horizontalAlign: "center",
    verticalAlign: "middle"
});

window.document.body.scrollTop = 0;
window.document.documentElement.scrollTop = 0;