$('#image_spin').css("display", "none");
$('.modal-body').html("");

$('.modal-body').html('<%= j render :partial => 'user_info/my_agent_partial', :locals => { :showcase_agents => @showcase_agents, :showcase => @showcase } %>');

$('.pagination-modal').children('ul').children('li').each(function() {

    var a_tag_obj = $(this);
    $(this).prepend(a_tag_obj.html());

    $(this).children('a:last').css('display', 'none').attr('data-remote', 'true');

    $(this).children('a:first').addClass('agent_modal_nav').attr('href', '#');

});


$(this).height($(this).height() + 1);
$(this).height($(this).height() -1);


$('.app-folders-container').appFolders({
    opacity: .2,
    marginTopAdjust: false,
    marginTopBase: 0,
    marginTopIncrement: 50,
    animationSpeed: 200,
    instaSwitch: true,
    URLrewrite: true
});





