$('.loading-spinner').fadeToggle('fast', function() {
    $('#profile_modal_partial').hide().html('<%= j render :partial => 'showcases/modal/profile', :locals => { :user => @user } %>');
    $('#ProfileModal').modal();
    $('.showcase_image_container').imgLiquid({
        fill: true
    });

});


