$('.loading-spinner').fadeToggle('fast', function() {
    $('#my_agent_modal_partial').hide().html('<%= j render :partial => 'user_info/my_agent', :locals => { :user => @user } %>');
    $('#MyAgentModal').modal();
});