<div id="ImageModal" class="modal hide fade" tabindex="-1" role="dialog" data-height="500px" data-backdrop="static" aria-labelledby="ImageModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h5 id="ImageModalLabel"><%= t(:'showcase.registration.content.image_modal.head') %></h5>
  </div>
  <div class="modal-body">
    <div id="image_spin" style="display:none;"></div>
    <p style="font-size: 11px;"><%= t(:'showcase.registration.content.image_modal.description') %>
    <span class="image_upload_add_btn">
      <input type="button" id="image_upload_add_btn" class="btn" value="<%=t(:'showcase.registration.content.image_modal.add_button') %>" style="margin-top: 10px; margin-left: 480px;">
    </span>
    </p>
    <%= form_tag showcase_image_path, :multipart => true, :remote => true do  %>
        <div class="image_upload_div" style="height:400px; overflow-y:auto; overflow-x: hidden;">

            <div class="image_upload_row">
                <div class="image_type">

                  <label><input type="radio" name="showcase_images[0][type]" class="image_upload_radio" checked="checked" value="upload"> <span><%= t(:'showcase.registration.content.image_modal.check_upload') %></span></label>
                  <label><input type="radio" name="showcase_images[0][type]" class="image_upload_radio"  value="url"> <span><%= t(:'showcase.registration.content.image_modal.check_url') %></span></label>
                </div>
                <div class="image_upload" style="width:510px; height:20px; background-color: #e9eaea; padding:10px;">
                  <input type="file" name="showcase_images[0][image]" style="line-height: 10px; font-size: 12px;">
                </div>

                <div class="image_url" style="width:510px; height:20px; background-color: #e9eaea; padding:10px; display: none;">
                    URL : <input type="text" name="showcase_images[0][url]" style="line-height: 0px; font-size: 12px;">
                </div>

                <div style="width:530px; background-color: #e9eaea; " class="image_desc">
                  <span style="margin-left: 10px; margin-top: 5px;"><%= t(:'showcase.registration.content.image_modal.explain_label') %> : <textarea name="showcase_images[0][caption]" rows="1" style="width:440px"></textarea> </span>
                </div>

                <div style="width:530px; background-color: #e9eaea; " class="image_desc">
                  <span style="margin-left: 10px;"><%= t(:'showcase.registration.content.image_modal.link_label') %> : <input type="text" name="showcase_images[0][link]" style="width:410px"/> </span>
                </div>
            </div>
        </div>


        <input type="submit" id="showcase_image_upload_submit" style="display: none">
    <% end %>


  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" style="" type="button" id="showcase_image_upload_btn"><%= t(:'showcase.registration.content.image_modal.save_button') %></button>
    <button class="btn" data-dismiss="modal" style="" type="button" id="showcase_image_close_btn"><%= t(:'showcase.registration.content.image_modal.close_button') %></button>
  </div>
</div>