<!--<p style="font-size: 15px;"><b>7. 친구초대하기</b></p>-->	 <!-------친구초대 START------>
<div class="inviteFre" style="height:50px; padding: 0px;">

<!------------페이스북친구초대 MODAL START------------------->
<a href="#facebookModal" role="button" class="btn btn-large" data-toggle="modal" style="font-size: 14px; width: 48px; height:48px; padding:0px; margin: 2px;">
  <%= image_tag "facebookIcon48X48.jpg" %></a>

<div id="facebookModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="facebookModalLabel" aria-hidden="true" style="width:950px; height:500px; margin-left: -450px;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h5 id="facebookModalLabel"><%= image_tag "24x24/facebookIcon24x24.jpg" %>&nbsp;&nbsp;페이스북 친구 초대하기</h5>
  </div>
  <div class="modal-body" style="height:500px; max-height: 400px;">
    <p>쇼케이스에 초대할 친구를 선택해주세요.</p>
    <div class="inviteList" style="width:900px; height:330px;  padding:5px; overflow-y: scroll;">

      <table class="table">
        <tbody>
        <tr>
          <td style="width: 80px;">
            <div class="btn-group" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-large" style="font-size: 14px; width: 75px; height: 75px; padding:2px; margin: 3px; text-align: center;">
                <%= image_tag "60X60/user60x60.jpg" %></button>
            </div>
          </td>
          <td style="text-align: left;"><p></p><br/>Mark0123456</td>
          <td style="width: 80px;">
            <div class="btn-group" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-large" style="font-size: 14px; width: 75px; height: 75px; padding:2px; margin: 3px; text-align: center;">
                <%= image_tag "60X60/user60x60.jpg" %></button>
            </div>
          </td>
          <td style="text-align: left;"><p></p><br/>Mark0123456</td>
          <td style="width: 80px;">
            <div class="btn-group" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-large" style="font-size: 14px; width: 75px; height: 75px; padding:2px; margin: 3px; text-align: center;">
                <%= image_tag "60X60/user60x60.jpg" %></button>
            </div>
          </td>
          <td style="text-align: left;"><p></p><br/>Mark0123456</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="inviteNumber" style="width:900px; height:20px; background-color:#dadcdc ; padding:5px; font-size: 12px; text-align: right;">52명의 친구를 초대 선택 했습니다.
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary">저장</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">닫기</button>
  </div>
</div>
<!------------페이스북 친구초대 MODAL END------------------->


<!------------트위터 친구초대 MODAL START------------------->
<a href="#twitterModal" role="button" class="btn btn-large" data-toggle="modal" style="font-size: 14px; width: 48px; height:48px; padding:0px; margin: 2px;">
  <%= image_tag "twitterIcon48x48.jpg" %></a>

<div id="twitterModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="twitterModalLabel" aria-hidden="true" style="width:950px; height:500px; margin-left: -450px;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h5 id="twitterModalLabel"><%= image_tag "24x24/twitterIcon24x24.jpg" %>&nbsp;&nbsp;트위터 친구 초대하기</h5>
  </div>
  <div class="modal-body" style="height:500px; max-height: 400px;">
    <p>쇼케이스에 초대할 친구를 선택해주세요.</p>
    <div class="inviteList" style="width:900px; height:330px;  padding:5px; overflow-y: scroll;">

      <table class="table">
        <tbody>
        <tr>
          <td style="width: 80px;">
            <div class="btn-group" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-large" style="font-size: 14px; width: 75px; height: 75px; padding:2px; margin: 3px; text-align: center;">
              <%= image_tag "60X60/user60x60.jpg" %></button>
            </div>
          </td>
          <td style="text-align: left;"><p></p><br/>Mark0123456</td>
          <td style="width: 80px;">
            <div class="btn-group" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-large" style="font-size: 14px; width: 75px; height: 75px; padding:2px; margin: 3px; text-align: center;">
                <%= image_tag "60X60/user60x60.jpg" %></button>
            </div>
          </td>
          <td style="text-align: left;"><p></p><br/>Mark0123456</td>
          <td style="width: 80px;">
            <div class="btn-group" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-large" style="font-size: 14px; width: 75px; height: 75px; padding:2px; margin: 3px; text-align: center;">
                <%= image_tag "60X60/user60x60.jpg" %></button>
            </div>
          </td>
          <td style="text-align: left;"><p></p><br/>Mark0123456</td>
        </tr>
        <tr>
          <td style="width: 80px;">
            <div class="btn-group" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-large" style="font-size: 14px; width: 75px; height: 75px; padding:2px; margin: 3px; text-align: center;">
                <%= image_tag "60X60/user60x60.jpg" %></button>
            </div>
          </td>
          <td style="text-align: left;"><p></p><br/>Mark0123456</td>
          <td style="width: 80px;">
            <div class="btn-group" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-large" style="font-size: 14px; width: 75px; height: 75px; padding:2px; margin: 3px; text-align: center;">
                <%= image_tag "60X60/user60x60.jpg" %></button>
            </div>
          </td>
          <td style="text-align: left;"><p></p><br/>Mark0123456</td>
          <td style="width: 80px;">
            <div class="btn-group" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-large" style="font-size: 14px; width: 75px; height: 75px; padding:2px; margin: 3px; text-align: center;">
                <%= image_tag "60X60/user60x60.jpg" %></button>
            </div>
          </td>
          <td style="text-align: left;"><p></p><br/>Mark0123456</td>
        </tr>
        <tr>
          <td style="width: 80px;">
            <div class="btn-group" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-large" style="font-size: 14px; width: 75px; height: 75px; padding:2px; margin: 3px; text-align: center;">
                <%= image_tag "60X60/user60x60.jpg" %></button>
            </div>
          </td>
          <td style="text-align: left;"><p></p><br/>Mark0123456</td>
          <td style="width: 80px;">
            <div class="btn-group" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-large" style="font-size: 14px; width: 75px; height: 75px; padding:2px; margin: 3px; text-align: center;">
                <%= image_tag "60X60/user60x60.jpg" %></button>
            </div>
          </td>
          <td style="text-align: left;"><p></p><br/>Mark0123456</td>
          <td style="width: 80px;">
            <div class="btn-group" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-large" style="font-size: 14px; width: 75px; height: 75px; padding:2px; margin: 3px; text-align: center;">
                <%= image_tag "60X60/user60x60.jpg" %></button>
            </div>
          </td>
          <td style="text-align: left;"><p></p><br/>Mark0123456</td>
        </tr>
        <tr>
          <td style="width: 80px;">
            <div class="btn-group" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-large" style="font-size: 14px; width: 75px; height: 75px; padding:2px; margin: 3px; text-align: center;">
                <%= image_tag "60X60/user60x60.jpg" %></button>
            </div>
          </td>
          <td style="text-align: left;"><p></p><br/>Mark0123456</td>
          <td style="width: 80px;">
            <div class="btn-group" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-large" style="font-size: 14px; width: 75px; height: 75px; padding:2px; margin: 3px; text-align: center;">
                <%= image_tag "60X60/user60x60.jpg" %></button>
            </div>
          </td>
          <td style="text-align: left;"><p></p><br/>Mark0123456</td>
          <td style="width: 80px;">
            <div class="btn-group" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-large" style="font-size: 14px; width: 75px; height: 75px; padding:2px; margin: 3px; text-align: center;">
                <%= image_tag "60X60/user60x60.jpg" %></button>
            </div>
          </td>
          <td style="text-align: left;"><p></p><br/>Mark0123456</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="inviteNumber" style="width:900px; height:20px; background-color:#dadcdc ; padding:5px; font-size: 12px; text-align: right;">52명의 친구를 초대 선택 했습니다.
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary">저장</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">닫기</button>
  </div>
</div>
<!------------트위터 친구초대 MODAL END------------------->

<!------------구글플러스 친구초대 MODAL START------------------->
<a href="#googleModal" role="button" class="btn btn-large" data-toggle="modal" style="font-size: 14px; width: 48px; height:48px; padding:0px; margin: 2px;">
  <%= image_tag "googleIcon48x48.jpg" %></a>

<div id="googleModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="googleModalLabel" aria-hidden="true" style="width:950px; height:500px; margin-left: -450px;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h5 id="googleModalLabel"><%= image_tag "24x24/googleIcon24x24.jpg" %>&nbsp;&nbsp;구글플러스 친구 초대하기</h5>
  </div>
  <div class="modal-body" style="height:500px; max-height: 400px;">
    <p>쇼케이스에 초대할 친구를 선택해주세요.</p>
    <div class="inviteList" style="width:900px; height:330px;  padding:5px; overflow-y: scroll;">

      <table class="table">
        <tbody>
        <tr>
          <td style="width: 80px;">
            <div class="btn-group" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-large" style="font-size: 14px; width: 75px; height: 75px; padding:2px; margin: 3px; text-align: center;">
                <%= image_tag "60X60/user60x60.jpg" %></button>
            </div>
          </td>
          <td style="text-align: left;"><p></p><br/>Mark0123456</td>
          <td style="width: 80px;">
            <div class="btn-group" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-large" style="font-size: 14px; width: 75px; height: 75px; padding:2px; margin: 3px; text-align: center;">
                <%= image_tag "60X60/user60x60.jpg" %></button>
            </div>
          </td>
          <td style="text-align: left;"><p></p><br/>Mark0123456</td>
          <td style="width: 80px;">
            <div class="btn-group" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-large" style="font-size: 14px; width: 75px; height: 75px; padding:2px; margin: 3px; text-align: center;">
                <%= image_tag "60X60/user60x60.jpg" %></button>
            </div>
          </td>
          <td style="text-align: left;"><p></p><br/>Mark0123456</td>
        </tr>
        <tr>
          <td style="width: 80px;">
            <div class="btn-group" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-large" style="font-size: 14px; width: 75px; height: 75px; padding:2px; margin: 3px; text-align: center;">
                <%= image_tag "60X60/user60x60.jpg" %></button>
            </div>
          </td>
          <td style="text-align: left;"><p></p><br/>Mark0123456</td>
          <td style="width: 80px;">
            <div class="btn-group" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-large" style="font-size: 14px; width: 75px; height: 75px; padding:2px; margin: 3px; text-align: center;">
                <%= image_tag "60X60/user60x60.jpg" %></button>
            </div>
          </td>
          <td style="text-align: left;"><p></p><br/>Mark0123456</td>
          <td style="width: 80px;">
            <div class="btn-group" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-large" style="font-size: 14px; width: 75px; height: 75px; padding:2px; margin: 3px; text-align: center;">
                <%= image_tag "60X60/user60x60.jpg" %></button>
            </div>
          </td>
          <td style="text-align: left;"><p></p><br/>Mark0123456</td>
        </tr>
        <tr>
          <td style="width: 80px;">
            <div class="btn-group" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-large" style="font-size: 14px; width: 75px; height: 75px; padding:2px; margin: 3px; text-align: center;">
                <%= image_tag "60X60/user60x60.jpg" %></button>
            </div>
          </td>
          <td style="text-align: left;"><p></p><br/>Mark0123456</td>
          <td style="width: 80px;">
            <div class="btn-group" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-large" style="font-size: 14px; width: 75px; height: 75px; padding:2px; margin: 3px; text-align: center;">
                <%= image_tag "60X60/user60x60.jpg" %></button>
            </div>
          </td>
          <td style="text-align: left;"><p></p><br/>Mark0123456</td>
          <td style="width: 80px;">
            <div class="btn-group" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-large" style="font-size: 14px; width: 75px; height: 75px; padding:2px; margin: 3px; text-align: center;">
                <%= image_tag "60X60/user60x60.jpg" %></button>
            </div>
          </td>
          <td style="text-align: left;"><p></p><br/>Mark0123456</td>
        </tr>
        <tr>
          <td style="width: 80px;">
            <div class="btn-group" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-large" style="font-size: 14px; width: 75px; height: 75px; padding:2px; margin: 3px; text-align: center;">
                <%= image_tag "60X60/user60x60.jpg" %></button>
            </div>
          </td>
          <td style="text-align: left;"><p></p><br/>Mark0123456</td>
          <td style="width: 80px;">
            <div class="btn-group" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-large" style="font-size: 14px; width: 75px; height: 75px; padding:2px; margin: 3px; text-align: center;">
                <%= image_tag "60X60/user60x60.jpg" %></button>
            </div>
          </td>
          <td style="text-align: left;"><p></p><br/>Mark0123456</td>
          <td style="width: 80px;">
            <div class="btn-group" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-large" style="font-size: 14px; width: 75px; height: 75px; padding:2px; margin: 3px; text-align: center;">
                <%= image_tag "60X60/user60x60.jpg" %></button>
            </div>
          </td>
          <td style="text-align: left;"><p></p><br/>Mark0123456</td>
        </tr>
        <tr>
          <td style="width: 80px;">
            <div class="btn-group" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-large" style="font-size: 14px; width: 75px; height: 75px; padding:2px; margin: 3px; text-align: center;">
                <%= image_tag "60X60/user60x60.jpg" %></button>
            </div>
          </td>
          <td style="text-align: left;"><p></p><br/>Mark0123456</td>
          <td style="width: 80px;">
            <div class="btn-group" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-large" style="font-size: 14px; width: 75px; height: 75px; padding:2px; margin: 3px; text-align: center;">
                <%= image_tag "60X60/user60x60.jpg" %></button>
            </div>
          </td>
          <td style="text-align: left;"><p></p><br/>Mark0123456</td>
          <td style="width: 80px;">
            <div class="btn-group" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-large" style="font-size: 14px; width: 75px; height: 75px; padding:2px; margin: 3px; text-align: center;">
                <%= image_tag "60X60/user60x60.jpg" %></button>
            </div>
          </td>
          <td style="text-align: left;"><p></p><br/>Mark0123456</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="inviteNumber" style="width:900px; height:20px; background-color:#dadcdc ; padding:5px; font-size: 12px; text-align: right;">52명의 친구를 초대 선택 했습니다.
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary">저장</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">닫기</button>
  </div>
</div>
<!------------구글플러스 친구초대 MODAL END------------------->

</div>	<!-------친구초대 END------>