<div class="BasicRegis" style="float: left; width: 373px; height: 670px; background-color: #e9eaea; padding: 10px;">
  <p></p>
  <p style="font-size: 15px;"><b>1. <%= t(:'showcase.registration.info.title') %></b></p>
  <%= f.text_field :title, :style => 'width: 350px; font-size: 12px;', :placeholder => "#{t(:'showcase.registration.info.title_placeholder')}" %></hr>

  <p style="font-size: 15px;"><b>2. <%= t(:"showcase.registration.info.explanation") %></b></p>
  <%= f.text_area :info, :rows => 6, :style => 'width: 350px; font-size: 12px;', :placeholder => "#{t(:'showcase.registration.info.explanation_placeholder')}" %>

  <p></p>



  <hr style="margin-top: 50px;">
  <p style="font-size: 15px;"><b>3. <%= t(:'showcase.registration.info.config') %></b></p>
  <p style="display: none">
    <label class="checkbox">
        <%= f.check_box :only_invite  %> <%= t(:'showcase.registration.info.config_only_invite') %>
    </label>
  </p>
  <br/>
  <p>
    <label class="checkbox">
        <%= f.check_box :reject_message  %> <%= raw t(:'showcase.registration.info.config_reject_message') %>
    </label>
  </p>
</div>