<p xmlns="http://www.w3.org/1999/html"></p>
<p style="font-size: 15px;"><b>5. 에이전트 미션</b></p>

<%= f.select :mission_term, [["#{t(:"showcase.registration.mission.term_select")}",''],
                             ["07#{t(:"showcase.registration.mission.day")}",'07'],
                             ["14#{t(:"showcase.registration.mission.day")}",'14'],
                             ["21#{t(:"showcase.registration.mission.day")}",'21'],
                             ["28#{t(:"showcase.registration.mission.day")}",'28']], {},  { :class => "selectpicker span4"} %>


<P></P>
<%= f.text_area :mission_info, :rows => 5, :placeholder => "에이전트에게 요청할 미션에 대한 추가 설명을 해주세요.", :style => "width: 360px; font-size: 12px;"%>

<p style="font-size: 12px;"><%= raw t(:"showcase.registration.mission.mission_description_placeholder") %></p>

<div class="btn-group" style="text-align: center;">
  <input type="hidden" id="selected_reward_count" value="0">
  <% @reward_items.in_groups_of(6, false) do |items| %>
    <% items.each do |item| %>
          <a  class="btn example btn-large" rel="clickover"  data-placement="left" id="reward_<%= item.id %>"
              data-id="#reward-<%= item.id %>" data-original-title="<%= item.title %>"
              style="font-size: 14px; width: 48px; height:48px; padding:2px; margin: 4px;"
          >

            <%= image_tag "48x48/#{item.image}" %></a>

          <div id="reward-<%= item.id %>" style="display: none;" >
            <p style="font-size: 12px;"><%= item.description %></p>
            <textarea rows="3" style="width:190px; height: 60px; font-size: 11px"></textarea>
            <div style="text-align: right;">
              <a class="btn btn-primary agent_save_btn"
                 reward_item_id="<%= item.id %>" reward_item_image="<%= item.image %>" ><%= t(:"showcase.registration.mission.mission_save_button") %></a>
              <a class="btn reward_close_btn" id="close_<%= item.id %>" data-dismiss="clickover"><%= t(:"showcase.registration.mission.mission_close_button") %></a>
            </div>
          </div>

    <% end %>
        </br>
  <% end %>
</div>


<p></p>

<div class="SelectReward" style="height:115px; background-color: #b7b8b8; padding: 5px;">
  <div class="row-fluid">
    <ul class="thumbnails selected_rewards">
      <% f.object.showcase_rewards.each do |showcase_reward| %>

          <li style="margin-left: 5px; margin-bottom: 5px; display: list-item;" class="seleted_reward">
            <input type="hidden" class="reward_item_id" value="">
            <input type="hidden" value="<%= showcase_reward.detail_info %>">
            <input type="hidden" class="showcase_reward_id" value="<%=showcase_reward.id %>" />
            <a style="cursor: pointer" class="thumbnail">
                <img src="/assets/45x45/<%= showcase_reward.reward_item.image %>">
            </a>
          </li>
      <% end %>

    </ul>
  </div>
</div>