<div class="ContentRegis" style="float: left; width: 373px; height: 670px; background-color: #dadcdc; padding: 10px;"> <!----Contents Register START----------->
<p></p>
<p style="font-size: 15px;"><b>4. <%= t(:'showcase.registration.content.registration') %></b></p>

<!------------사진찾기 MODAL START------------------->
<a href="#ImageModal" role="button" class="btn btn-large btn-danger" data-toggle="modal" style="font-size: 14px; width: 330px;"><%= t(:'showcase.registration.content.image_find_button') %></a>


<!------------사진찾기 MODAL END------------------->
<p></p>

<p></p>

<!------------동영상 MODAL START------------------->
<a href="#VideoModal" role="button" class="btn btn-large btn-success" data-toggle="modal" style="font-size: 14px; width: 330px;"><%= t(:'showcase.registration.content.video_find_button') %></a>


<!------------동영상 MODAL END------------------->
<p></p>


<hr>
<div class="tabbable" style="margin-bottom: 18px;">


  <div class="tab-content " style="padding-left: 10px; padding-right: 10px; border-bottom: 1px solid #ddd;  z-index: 9999;">
    <div class="tab-pane active nano" id="tab1" style="height:450px;  background-color: #b7b8b8; padding-top: 10px;">
      <div class="row-fluid  content" >

        <input type="hidden" id="last_count" value="0">

            <ul class="thumbnails" id="image_upload_thumb">
              <% f.object.contents.each_with_index do |content, i| %>
                <% if content.source_type == 'upload' or content.source_type == 'url' %>
                  <li class="upload_image thumbnail_content">
                    <div style="display: none" class="thumbnails_icon">
                      <div class="icon_move"><i class="icon-move"></i></div>
                      <div class="icon_modify"><i class="icon-pencil"></i></div>
                      <div class="icon_remove"><i class="icon-remove-sign"></i></div>
                    </div>

                      <img src="<%= content.url %>" style="width:140px; height:110px"  class="register_thumb">
                    <input type="hidden" name="index" id="thumbnail_index_<%= i %>" class="thumbnail_index" />
                    <input type="hidden" name="showcase[contents_attributes][<%= i %>][source_type]" class="source_type" value="<%= content.source_type %>"/>
                    <input type="hidden" name="showcase[contents_attributes][<%= i %>][caption]" class="caption" value="<%= content.caption %>" />
                    <input type="hidden" name="showcase[contents_attributes][<%= i %>][showcase_image_id]" class="showcase_image_id" value="<%= content.showcase_image_id %>" />
                    <input type="hidden" name="showcase[contents_attributes][<%= i %>][url]" class="url" value="<%= content.url %>" />
                    <input type="hidden" name="showcase[contents_attributes][<%= i %>][link]" class="link" value="<%= content.link %>" >
                    <!--<input type="hidden" class="content_id" value="<%= content.id %>" />-->
                  </li>
                <% else %>
                      <li class="video_upload thumbnail_content" style="">

                        <div class="background_play" ></div>
                        <div style="display: none" class="thumbnails_icon">
                          <div class="icon_move"><i class="icon-move"></i></div>

                          <div class="icon_remove"><i class="icon-remove-sign"></i></div>
                        </div>



                            <img src="http://img.youtube.com/vi/<%= content.source_id %>/1.jpg" style="width:140px; height:110px;" class="register_thumb">

                        <input type="hidden" name="showcase[contents_attributes][<%= i %>][source_type]" class="source_type" value="<%= content.source_type %>"/>
                        <input type="hidden" name="showcase[contents_attributes][<%= i %>][caption]" class="caption" value="<%= content.caption %>" />
                        <input type="hidden" name="showcase[contents_attributes][<%= i %>][source_id]" class="source_id" value="<%= content.source_id %>" />
                        <!--<input type="hidden" name="showcase[contents_attributes][<%= i %>][showcase_image_id]" class="showcase_image_id" value="<%= content.showcase_image_id %>" />-->
                        <input type="hidden" name="showcase[contents_attributes][<%= i %>][url]" class="url" value="<%= content.url %>" />


                      </li>
                <% end %>
              <% end %>

            </ul>

      </div>
    </div>



  </div>
</div>

</div>   <!----Contents Register END----------->


