<div id="VideoModal" class="modal hide fade" tabindex="-1" data-width="1000px" data-height="500px" data-backdrop="static" role="dialog" aria-labelledby="VideoModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h5 id="VideoModalLabel"><%= t(:'showcase.registration.content.video_modal.head') %></h5>
  </div>
  <div class="modal-body" style="height:500px; max-height: 400px;">

    <div class="grid1" style="float: left; width: 400px; height: 390px; background-color: #e9eaea; padding: 5px; margin-left: 5px; font-size: 12px;">
      <div id="youtube_preview_div" style="float: left; width: 387px; height: 260px; background-color: black; padding: 3px; margin: 3px;">

      </div>
      <div class="mgzcrop3" style="float: left; width: 387px; height: 75px; padding: 3px; margin: 3px;">
        <textarea rows="3" id="youtube_source" placeholder="<%= t(:'showcase.registration.content.video_modal.textarea_placeholder') %>" style="width: 373px; height: 65px; font-size: 12px;"></textarea>
      </div>
      <div class="mgzcrop3" style="float: left; width: 387px; height: 18px; padding: 3px; margin: 3px; text-align: right">
        <button class="btn btn-mini btn-inverse" type="button" id="youtube_preview_text_btn"><%= t(:'showcase.registration.content.video_modal.preview_button') %></button>
      </div>
    </div>

    <div class="grid2" style="float: left; width: 535px; height: 390px; background-color: #e9eaea; padding: 5px; margin-left: 5px;">
      <%= form_tag youtubes_path, :method => 'get', :remote => true do %>
          <div class="mgzcrop3" style="float: left; width: 523px; height: 30px; padding: 3px; margin: 3px; text-align: right;">
            <input type="text" class="search-query span2"  id="youtube_query" name="youtube_query"
                   placeholder="YouTube&nbsp;&nbsp;Search" style="width:200px; font-size: 12px;">
            <input type="text" name="dummy" style="display: none;">
            <input type="hidden" id="youtube_page" name="youtube_page" value="1">
            <input type="submit" id="youtube_submit" style="display: none">
          </div>
      <% end %>
      <div id="spin" style="display:none;"></div>
      <div class="mgzcrop3" id="youtube_search_result_div" style="float: left; width: 523px; height: 305px; padding: 3px; margin: 3px; overflow-y: scroll">
        <input type="hidden" id="youtube_hidden_id">
        <input type="hidden" id="youtube_hidden_image_url">
        <input type="hidden" id="is_loading" value="false">
        <table class="table table-hover" style="background-color: white;">

          <tbody id="youtube_body">


          </tbody>
        </table>

      </div>
      <div class="mgzcrop3" style="float: left; width: 523px; height: 18px; padding: 3px; margin: 3px; text-align: right">
        <button class="btn btn-mini btn-inverse" type="button" id="youtube_preview_btn"><%= t(:'showcase.registration.content.video_modal.preview_button') %></button>
      </div>

    </div>




  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" id="youtube_save_btn">저장하기</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true" id="youtube_close_btn">닫기</button>
  </div>
</div>