<div>
  <h2>에이전트 요청 메세지</h2>
  <h4><%= @user.user_id %>님이 "<%= @showcase.title %>"의 에이전트가 되기를 원합니다.</h4>
  <h4>에이전트를 만나보시겠습니까? <a href="https://www.quusome.com">Quusome.com</a></h4>
  <br/>

  <h4>메세지를 받은 날짜: <%= @created_at.strftime('%Y-%m-%d %H:%M:%S') %></h4>
  <br/>
  <h3>세상 어딘가에 있을 당신만의 에이전트를 Quusome.com에서 만나보세요.</h3>
</div>