<div>
  <h2>에이전트 요청 수락 메세지</h2>
  <h4>"<%= @showcase.title %>"의 운영자 <%= @user.user_id %>님이 에이전트 요청을 수락하였습니다.</h4>
  <h4><%= @user.user_id %>님과의 에이전트 계약기간은 <%= @end_date.strftime('%Y-%m-%d %H:%M:%S') %> 까지 입니다.</h4>
  <h4>미션을 기간 내에 완료하지 못한다면 리워드가 지급되지 않을 수도 있습니다.</h4>
  <h4>미션과 리워드를 확인하시고 지금 시작하세요. <a href="https://quusome.com/showcases/<%= @showcase.id %>">쇼케이스 바로 가기</a></h4>

  <h4>메세지를 받은 날짜: <%= @created_at.strftime('%Y-%m-%d %H:%M:%S') %></h4>
  <br/>
  <h2>Be professional!</h2>
</div>