<%
conversations = current_user.mailbox.inbox_agent_all.page(1).per(5)
next_conversations = current_user.mailbox.inbox_agent_all.page(2).per(5)

if conversations.count > 0
%>
<% if next_conversations.count > 0 %>
$('#agent_request_scroll_page').val("1");
$('#agent_request_scroll_end').val("false");
<% else %>
$('#agent_request_scroll_end').val("true");
<% end %>


<%


current_user.mailbox.inbox_agent_all({:read => false}).each do |conversation|
    current_user.mark_as_read(conversation)
end
%>

//$('#message_count_badge').html("<%= current_user.mailbox.inbox_message({:read => false}).count %>");
$('#agent_request_count_badge').text('');
$('#agent_request_count_badge').hide();
$('#agent_request_scroll_body').html("<%= j render :partial => 'notifications/partial/agent_request_notification',
        :locals => { :conversations => conversations, :user => current_user } %>");
<% else %>
$('#agent_request_count_badge').text('');
$('#agent_request_count_badge').hide();
<% end %>