
<%
conversations = current_user.mailbox.inbox_message.page(1).per(5)
next_conversations = current_user.mailbox.inbox_message.page(2).per(5)

if conversations.count > 0

%>

<% if next_conversations.count > 0 %>
$('#message_scroll_page').val("1");
$('#message_scroll_end').val("false");
<% else %>
$('#message_scroll_end').val("true");
<% end %>

    <%

    current_user.mailbox.inbox_message({:read => false}).each do |conversation|
        current_user.mark_as_read(conversation)
    end
    %>

    //$('#message_count_badge').html("<%= current_user.mailbox.inbox_message({:read => false}).count %>");
    $('#message_count_badge').text('');
    $('#message_count_badge').hide();
    $('#message_scroll_body').html("<%= j render :partial => 'notifications/partial/message_notification',
        :locals => { :conversations => conversations, :user => current_user } %>");
<% else %>
    $('#message_count_badge').text('');
    $('#message_count_badge').hide();
<% end %>






