<%

conversations = current_user.mailbox.inbox_message.page(params[:message_scroll_page].to_i + 1).per(5)
next_conversations = current_user.mailbox.inbox_message.page(params[:message_scroll_page].to_i + 2).per(5)

if conversations.count > 0

%>

    <% if next_conversations.count > 0 %>
        $('#message_scroll_page').val("<%= params[:message_scroll_page].to_i + 1 %>");
        $('#message_scroll_end').val("false");
    <% else %>
        $('#message_scroll_end').val("true");
    <% end %>

<% end %>

$('#message_scroll_is_loading').val('false');
$('#message_scroll_body').append("<%= j render :partial => 'notifications/partial/message_notification',
        :locals => { :conversations => conversations, :user => current_user } %>");

