<%
conversations = current_user.mailbox.inbox_agent_all.page(params[:agent_request_scroll_page].to_i + 1).per(5)
next_conversations = current_user.mailbox.inbox_agent_all.page(params[:agent_request_scroll_page].to_i + 2).per(5)

if conversations.count > 0

%>

    <% if next_conversations.count > 0 %>
        $('#agent_request_scroll_page').val("<%= params[:agent_request_scroll_page].to_i + 1 %>");
        $('#agent_request_scroll_end').val("false");
    <% else %>
        $('#agent_request_scroll_end').val("true");
    <% end %>

<% end %>

$('#agent_request_scroll_is_loading').val('false');
$('#agent_request_scroll_body').append("<%= j render :partial => 'notifications/partial/agent_request_notification',
        :locals => { :conversations => conversations, :user => current_user } %>");
