html = '';
<%
  showcase_update = ShowcaseUpdateNotification.where(:user_id => current_user.id).order('created_at desc').page(params[:showcase_update_scroll_page].to_i + 1).per(5)
  next_showcase_update = ShowcaseUpdateNotification.where(:user_id => current_user.id).order('created_at desc').page(params[:showcase_update_scroll_page].to_i + 2).per(5)

  if showcase_update.count > 0

%>
    <% if next_showcase_update.count > 0 %>
    $('#showcase_update_scroll_page').val("<%= params[:showcase_update_scroll_page].to_i + 1 %>");
    $('#showcase_update_scroll_end').val("false");
    <% else %>
    $('#showcase_update_scroll_end').val("true");
    <% end %>
    <%
        showcase_update.each do |update|
    %>
        html += '<tr <% unless update.is_read%> style="background-color: #dddddd;" <% end %>>';
        html += '<td><%= image_tag update.showcase.contents[0].url, :style => 'width:40px; height:40px;'  %></td>';
        html += '<td>';
        html += '<p>"<%= update.showcase.title %>"쇼케이스가 업데이트 되었습니다.</p>';
        html += '<p style="text-align: right;"><%= update.created_at.strftime('%Y-%m-%d') %></p>';
        html += '</td>';
        html += '</tr>';
    <% end %>
<% end %>

$('#showcase_update_scroll_is_loading').val('false');
$('#showcase_update_scroll_body').append(html);