<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= t(:'index.welcome') %></title>
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag "index", :media => "screen" %>
  <%= stylesheet_link_tag "bootstrap-label.min", :media => "screen" %>
  <%= javascript_include_tag "application", :charset => "utf-8"   %>

  <%= csrf_meta_tags %>

    <style>

    </style>
</head>

<body id="index">

<%= render "layouts/browser_notification"  %>
<div>
<div class="head">
    <p class="welcome"><%= t(:'index.welcome') %></p>

</div>

  </div>


<div style="margin-left: 80%; margin-top: -55px" >
  <%= link_to "#{t(:'index.signup')}", sign_up_path, :class => 'ff blue' %>&nbsp;&nbsp;
  <%= link_to "둘러보기", showcases_path, :class => 'ff green' %>
</div>


<div class="login">
  <div class="logo">Quusome<span style="margin-left: 5px;" class="label label-important">beta</span></div>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:id => 'sign_in_user_new'}, :remote => true, :format => :json) do |f| %>
    <fieldset>
      <label for="userName" class="fontawesome-envelope-alt"></label>
      <%= f.email_field :email, :id => 'email_new',  :placeholder => t(:'index.email') %>

      <label for="userPwd" class="fontawesome-lock"></label>
      <%= f.password_field :password, :id => 'password_new', :placeholder => t(:'index.password') %>
      <!--<input type="button" value="Login" class="ff red">-->

      <a href="#" class="ff red login_btn" id="login_btn_new">
        <div style="display: none" class="loading_div">
          <div class="loading">
            <span></span><span></span><span></span><span></span><span></span>
          </div>
        </div>
        <span class="login_txt"><%= t(:'index.login') %></span>
      </a>
      <%= f.submit '로그인', :class => 'btn btn-success', :style => 'display: none', :id => 'login_submit_new' %>

    </fieldset>
  <% end %>

  <div class="login_notice">


  </div>
  <div class="login_link">
    <div>
      <%= link_to "#{t(:'index.loss_password')}", new_password_path(resource_name) %>
    </div>
    <div>
      <%= link_to "#{t(:'index.not_received_email')}", new_confirmation_path(resource_name) %>
    </div>
  </div>

</div><!-- end login -->


</body>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42913421-1', 'quusome.com');
    ga('send', 'pageview');

</script>

</html>





