<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>큐썸 회원가입을 환영합니다.</title>
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag "index", :media => "screen" %>
  <%= stylesheet_link_tag "bootstrap-label.min", :media => "screen" %>
  <%= javascript_include_tag "application", :charset => "utf-8"   %>

  <%= csrf_meta_tags %>

  <style>

  </style>
</head>

<body id="index">

<%= render "layouts/browser_notification"  %>
<div>
  <div class="head">
    <p class="welcome">큐썸 회원가입을 환영합니다.</p>

  </div>

</div>
<div style="margin-left: 85%; margin-top: -55px" >
  <%= link_to '로그인', "/", :class => 'ff blue' %>
</div>


<div class="login">
  <div class="logo">Quusome<span style="margin-left: 5px;" class="label label-important">beta</span></div>
  <%= form_for User.new, :url => user_registration_path, :multipart => true do |f| %>
      <fieldset>
        <label for="userName" class="fontawesome-envelope-alt"></label>
        <%= f.email_field :email, :id => 'email_new',  :placeholder => '이메일' %>


        <label for="userId" class="fontawesome-user"></label>
        <%= f.text_field :user_id, :id => 'id_new',  :placeholder => '아이디' %>

        <label for="userPwd" class="fontawesome-lock"></label>
        <%= f.password_field :password, :id => 'password_new_signup', :placeholder => '패스워드' %>


        <a href="#" class="ff red login_btn" id="signup_btn_new">
          <div style="display: none" class="loading_div">
            <div class="loading">
              <span></span><span></span><span></span><span></span><span></span>
            </div>
          </div>
          <span class="login_txt">회원가입</span>
        </a>
        <%= f.submit '회원가입', :class => 'btn btn-success', :style => 'display: none', :id => 'signup_submit_new' %>

      </fieldset>
  <% end %>

  <div class="login_notice">


  </div>
  <div class="login_link">
    <div>
      <%= link_to "개인정보취급방침", privacy_policy_path %>
    </div>
    <div>
      <%= link_to "이용약관", agreement_of_utilization_path %>
    </div>

  </div>

</div><!-- end login -->


</body>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42913421-1', 'quusome.com');
    ga('send', 'pageview');

</script>

</html>
