<div class="UserBasicRegis" style="float: left; width: 373px; height: 670px; background-color: #e9eaea; padding: 10px;">
  <p></p>
  <p style="font-size: 14px;"><b>1. 아이디 | 비밀번호 설정(필수)</b></p>
  <blockquote style="font-size: 12px; padding:0; margin-bottom: 10px; margin-top: 20px;">
    <p style="font-size: 12px;margin-left: 10px;">이메일주소
      <%= f.text_field :email, :style => "margin-bottom: 0px; width: 180px; height: 18px; margin-left: 20px;" %>
      &nbsp;<i class="icon-ok" id="email_ok" style="display: none;"></i>
      <!--<input type="text" style="margin-bottom: 0px; width: 180px; height: 18px; margin-left: 20px;"> -->
      <!--<button class="btn btn-success btn-small">중복확인</button> -->
    </p>

    <span id="email_spin"></span>
  </blockquote>
  <blockquote style="font-size: 12px; padding:0; margin-bottom: 10px;">
    <p style="font-size: 12px;margin-left: 9px;">아이디(ID)
      <%= f.text_field :user_id, :style => "margin-bottom: 0px; width: 180px; height: 18px; margin-left: 24px;" %>
      &nbsp;<i class="icon-ok" id="user_id_ok" style="display: none;"></i>
      <!--<input type="text" style="margin-bottom: 0px; width: 180px; height: 18px; margin-left: 22px;">-->
      <!-- <button class="btn btn-success btn-small">중복확인</button>   -->
    </p>
    <span id="user_id_spin"></span>
  </blockquote>
  <blockquote style="font-size: 12px; padding:0; margin-bottom: 10px;">
    <p style="font-size: 12px;margin-left: 10px;">비밀번호(PW)
      <%= f.password_field :password, :style => "margin-bottom: 0px; width: 180px; height: 18px; margin-left: 5px;" %>
      &nbsp;<i class="icon-ok" id="user_password_ok" style="display: none;"></i>
      <!--<input type="password"  style="margin-bottom: 0px; width: 180px; height: 18px; margin-left: 5px;"> -->
    </p>
  </blockquote>
  <blockquote style="font-size: 12px; padding:0; margin-bottom: 10px;">
    <p style="font-size: 12px;margin-left: 10px;">비밀번호 확인
      <%= f.password_field :password_confirmation, :style => "margin-bottom: 0px; width: 180px; height: 18px; margin-left: 6px;" %>
      &nbsp;<i class="icon-ok" id="user_password_confirmation_ok" style="display: none;"></i>
      <!-- <input type="password"  style="margin-bottom: 0px; width: 180px; height: 18px; margin-left: 7px;"> -->
    </p>
  </blockquote>
  <hr>
  <p style="font-size: 11px;"><b style="font-size: 14px;">2. 기본정보</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* 표시항목은 필수 입력사항입니다.</p>

  <blockquote style="font-size: 12px; padding:0; margin-bottom: 10px; margin-top: 10px;">
    <p style="font-size: 12px;margin-left: 10px;">프로필사진
      <%= f.file_field :image, :style => "line-height: 15px; font-size: 12px; height: 18px; margin-left: 10px;" %>
    </p>
  </blockquote>

  <!--
  <div class="prfilepic">
    <p style="margin-left: 10px;">
      <%= image_tag "60X60/user60x60.jpg" %>

      <%= f.fields_for :user_image do |image| %>
          <%= image.file_field :user_image, :style => "line-height: 15px; font-size: 12px; height: 30px; margin-left: 10px;" %>
      <% end %>

  </div>

    -->

  <blockquote style="font-size: 12px; padding:0; margin-bottom: 10px; margin-top: 20px;">
    <p style="font-size: 12px;margin-left: 5px;">*이름(실명)
    <%= f.text_field :name, :style => "margin-bottom: 0px; width: 180px; height: 18px; margin-left: 10px;" %>
    <!--<input type="text" style="margin-bottom: 0px; width: 180px; height: 18px; margin-left: 10px;">  -->
    </p>
  </blockquote>

  <blockquote style="font-size: 12px; padding:0; margin-bottom: 10px;">
    <p style="font-size: 12px;margin-left: 5px;">*지역(국가)

        <%= f.country_select :country, { priority: %W(KR), prompt: "선택하세요." }, { :style => "width: 165px; margin-bottom: 0px; margin-left: 10px;" } %>

        <!--
        <select  style="width: 120px; margin-bottom: 0px;">
          <option>서울</option>
          <option>경기</option>
          <option>충북</option>
          <option>충남</option>
          <option>경북</option>
        </select>

        -->
    </p>
  </blockquote>

  <blockquote style="font-size: 12px; padding:0; margin-bottom: 10px; margin-left: 5px;">*생년월일

    <%= f.select :birth_year, Time.now.year.downto(1930).collect { |y| [y, y] }, { :include_blank => "선택"  }, :style => "width: 70px; margin-bottom: 0px; margin-left: 18px;" %>
    &nbsp;&nbsp;년&nbsp;&nbsp;
    <%= f.select(:birth_month, (1..12).collect { |m| [m.to_s.rjust(2, "0"), m.to_s.rjust(2, "0")] }, { :include_blank => "선택"  },  :style => "width: 70px; margin-bottom: 0px;") %>
    &nbsp;&nbsp;월&nbsp;&nbsp;
    <%= f.select :birth_day, (1..31).collect { |d| [d.to_s.rjust(2, "0"), d.to_s.rjust(2, "0")] }, { :include_blank => "선택"  }, :style => "width: 70px; margin-bottom: 0px;" %>
    &nbsp;&nbsp;일
  </blockquote>

  <div class="SelectG" style="width:370px; height: 30px; margin-top: 15px; margin-bottom: 10px">
    <blockquote style="float: left; width: 70px; font-size: 12px; padding:0; margin-left: 5px;">*성별</blockquote>
    <div class="Female" style="float: left; width: 130px; height: 30px; margin-left: 10px;">
      <label class="radio">
        <%= f.radio_button :gender, 'M', :checked => true %>

        남성</label>
    </div>
    <div class="Female" style="float: left; width: 130px; height: 30px;">
      <label class="radio">
        <%= f.radio_button :gender, 'F' %>
        여성
      </label>
    </div>
  </div>

  <blockquote style="font-size: 12px; padding:0; margin-bottom: 10px;">&nbsp;&nbsp;&nbsp;연락처&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <%= f.select :cell_phone_1, %w[010 011 016 019 070], { :include_blank => "선택" }, :style => "width: 70px; margin-bottom: 0px; margin-left: 15px;" %>
    &nbsp;&nbsp;-&nbsp;&nbsp;
    <%=  f.text_field :cell_phone_2, :style => "margin-bottom: 0px; width: 40px; height: 18px;" %>
    &nbsp;&nbsp;-&nbsp;&nbsp;<%= f.text_field :cell_phone_3, :style => "margin-bottom: 0px; width: 40px; height: 18px;" %>
  </blockquote>



</div> <!---------사용자 기본정보 END----------- -->


