<div class="UserBizRegis" style="float: left; width: 373px; height: 670px; background-color: #d0d2d2; padding: 10px;">
  <p></p>
  <p style="font-size: 14px;"><b>▶ 기업사용자 정보</b></p>
  <div class="BizInfo" style="width:350px; height: 150px; padding: 10px;">
    <p style="font-size: 12px;">쇼케이스를 운영하거나 에이전트로 활동하는 사용자 중 기업 계정 사용자 또는 담당자일 경우 입력해주세요. 에이전트를 비롯한 협업 파트너들에게 보다 신뢰를 높일 수 있습니다. </p>
    <br/>
    <ul class="BizInfoList" style="margin: 0px; font-size: 13px; list-style: none;">
      <li style="margin-bottom: 10px;">회사명&nbsp;&nbsp; <%= f.text_field :company_name, :style => 'margin-bottom:0px; width: 280px; height: 16px;' %>
      <li style="margin-bottom: 10px;">회사 홈페이지&nbsp;&nbsp;&nbsp; <%= f.text_field :company_homepage, :style => "margin-bottom:0px; width: 235px; height: 16px;" %></li>
      <li style="margin-bottom: 10px;">소재지&nbsp;&nbsp; <%= f.text_field :company_location, :style => "margin-bottom:0px; width: 280px; height: 16px;" %></li>
      <li style="margin-bottom: 10px;">담당자&nbsp;&nbsp; <%= f.text_field :company_person, :style => "margin-bottom:0px; width: 280px; height: 16px;" %></li>
      <li style="margin-bottom: 10px;">연락처&nbsp;&nbsp; <%= f.text_field :company_phone, :style => "margin-bottom:0px; width: 280px; height: 16px;" %></li>
      <li style="margin-bottom: 10px;">주력 상품 또는 브랜드</li>
      <li style="margin-bottom: 10px;">
        <input type="hidden" id="company_main_product_list" name="company_main_product_list" />
        <ul id="company_main_products" style="margin-bottom:0px; width: 333px; height: 60px">
            <% @user.company_main_products.each do |tag| %>
                <li><%= tag.name %></li>
            <% end %>
        </ul>
      </li>
      <li style="margin-bottom: 10px;">상세 기업정보</li>
      <li style="margin-bottom: 10px;"><%= f.text_area :company_detail_info, :rows => 3, :style => "margin-bottom:0px; width: 333px; height: 100px;" %></li>
    </ul>
  </div>
</div>