<div class="dividerSave" style="float: left; width: 1160px; height: 33px; background-color: #dadcdc; padding: 10px;">
  <div class="Promise" style="float: left; width: 650px; height: 20px; padding:5px; text-align: left;"></div>

  <div class="RegisterSet" style="text-align: right;">
    <button type="button" id="update_btn" class="btn btn-primary">수정</button>
    <input type="submit" style="display: none;" id="user_update_submit" >

    <button class="btn">회원탈퇴</button>
  </div>
</div>