<div style="margin-bottom: 300px;">
  <%= form_for @user, :url => user_update_path(@user), :method => "put", :multipart => true do |f| %>
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="BackLayout" style="width:1200px; height:800px; relative; margin: auto;">

            <div class="UserRegFrame" style="float: left; width:1180px; height: 750px; background-color: white; padding:10px;">

                <% unless notice.nil? %>
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <%= notice %>
                </div>
                <% end %>

              <% if @user.errors.any? %>
                <div class="alert alert-error">
                  <button type="button" class="close" data-dismiss="alert">x</button>
                  회원정보 수정 중 에러가 발생했습니다.
                </div>
              <% end %>


              <!---사용자 기본 START----------- -->

              <%= render :partial => "users/edit_basic_form", :locals => { :f => f }  %>

              <!---------사용자 기본 END----------- -->

              <!---------사용자 추가정보 START----------- -->
              <%= render :partial => "users/more_form", :locals => { :f => f } %>
              <!---------사용자 추가정보 END----------- -->

              <!---------사용자 기업정보 END----------- -->
              <%= render :partial => "users/biz_form", :locals => { :f => f } %>
              <!---------사용자 기업정보 END----------- -->


              <div class="dividerSave" style="float: left; width: 1180px; height: 6px; background-color: #e9ebec;"></div>

              <div class="dividerSave" style="float: left; width: 1160px; height: 33px; background-color: #dadcdc; padding: 10px;">
                <div class="Promise" style="float: left; width: 650px; height: 20px; padding:5px; text-align: left;"></div>

                <div class="RegisterSet" style="text-align: right;">
                  <button type="button" id="update_btn" class="btn btn-primary">수정</button>
                  <input type="submit" style="display: none;" id="user_update_submit" >

                  <%= link_to "회원탈퇴", registration_path(resource_name), :data => { :confirm => "탈퇴하시겠습니까?" }, :method => :delete, :class => "btn" %>

                </div>
              </div>




            </div> <!-- --------User Register Frame END------------------ -->

          </div>
        </div>
      </div>

  <% end %>
</div>