<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>큐썸 회원가입을 환영합니다.</title>
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag "index", :media => "screen" %>

  <%= javascript_include_tag "application", :charset => "utf-8"   %>

  <%= csrf_meta_tags %>

  <style>

  </style>
</head>

<body id="index">

<%= render "layouts/browser_notification"  %>
<div>
  <div class="head">
    <p class="welcome">Quusome 회원가입을 환영합니다.</p>

  </div>

</div>
<div style="margin-left: 85%; margin-top: -55px" >
  <%= link_to 'Login', new_user_registration_path, :class => 'ff blue' %>
</div>


<div class="login">
  <div class="logo">Quusome</div>
  <%= form_for @user, :url => user_registration_path, :multipart => true do |f| %>
      <fieldset>
        <label for="userName" class="fontawesome-envelope-alt"></label>
        <%= f.email_field :email, :id => 'email_new',  :placeholder => 'Email' %>




        <label for="userId" class="fontawesome-user"></label>
        <%= f.text_field :user_id, :id => 'id_new',  :placeholder => 'Id' %>

        <label for="userPwd" class="fontawesome-lock"></label>
        <%= f.password_field :password, :id => 'password_new', :placeholder => 'Password' %>


        <a href="#" class="ff red login_btn" id="login_btn_new">
          <div style="display: none" class="loading_div">
            <div class="loading">
              <span></span><span></span><span></span><span></span><span></span>
            </div>
          </div>
          <span class="login_txt">Signup</span>
        </a>
        <%= f.submit 'signup', :class => 'btn btn-success', :style => 'display: none', :id => 'signup_submit_new' %>

      </fieldset>
  <% end %>

  <div class="login_notice">


  </div>

  <!--
  <div class="login_link">
    <div>
      <%= link_to "비밀번호를 분실하셨나요?", new_password_path(resource_name) %>
    </div>
    <div>
      <%= link_to "가입확인 이메일을 받지 못하셨나요?", new_confirmation_path(resource_name) %>
    </div>
  </div>

    -->
</div><!-- end login -->


</body>

</html>








<!--<div style="margin-bottom: 300px;">-->
<!--<%= form_for @user, :url => user_registration_path, :multipart => true do |f| %>-->
<!--<div class="container-fluid">-->
<!--<div class="row-fluid">-->
<!--<div class="BackLayout" style="width:1200px; height:800px; relative; margin: auto;">-->

<!--<div class="UserRegFrame" style="float: left; width:1180px; height: 750px; background-color: white; padding:10px;">-->

  <!--&lt;!&ndash;-사용자 기본 START----------- &ndash;&gt;-->
  <!--<%= render :partial => "users/basic_form", :locals => { :f => f }  %>-->
  <!--&lt;!&ndash;-------사용자 기본 END----------- &ndash;&gt;-->

  <!--&lt;!&ndash;-------사용자 추가정보 START----------- &ndash;&gt;-->
  <!--<%= render :partial => "users/more_form", :locals => { :f => f } %>-->
  <!--&lt;!&ndash;-------사용자 추가정보 END----------- &ndash;&gt;-->

  <!--&lt;!&ndash;-------사용자 기업정보 END----------- &ndash;&gt;-->
  <!--<%= render :partial => "users/biz_form", :locals => { :f => f } %>-->
  <!--&lt;!&ndash;-------사용자 기업정보 END----------- &ndash;&gt;-->


<!--<div class="dividerSave" style="float: left; width: 1180px; height: 6px; background-color: #e9ebec;"></div>-->
<!--<div class="dividerSave" style="float: left; width: 1160px; height: 33px; background-color: #dadcdc; padding: 10px;">-->
  <!--<div class="Promise" style="float: left; width: 650px; height: 20px; padding:5px; text-align: left;"></div>-->
  <!--<div class="Promise" style="float: left; width: 280px; height: 20px; padding:5px; text-align: left;">-->
    <!--<label class="checkbox"><input type="checkbox" value=""><a href="#">약관</a> 및 <a href="#">개인정보 취급정책</a>에 동의합니다.</label>-->
  <!--</div>-->




  <!--<div class="RegisterSet" style="text-align: right;">-->
    <!--<button type="button" id="submit_btn" class="btn btn-primary">큐섬에 가입합니다.</button>-->
    <!--<input type="submit" style="display: none;" id="user_create_submit" >-->

    <!--<button class="btn">취소</button>-->
  <!--</div>-->
<!--</div>-->





<!--</div> &lt;!&ndash; --------User Register Frame END------------------ &ndash;&gt;-->

<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<% end %>-->
<!--</div>-->