<div class="UserMoreRegis" style="float: left; width: 373px; height: 670px; background-color: #dadcdc; padding: 10px;">

  <p></p>
  <p style="font-size: 14px;"><b>3. 소셜네트워크</b></p>
  <div class="SocialNet" style="width:350px; height: 150px; padding: 10px;">
    <ul class="SocialNetwork" style="margin: 0px; font-size: 14px; list-style: none;">
      <li style="margin-bottom: 10px;"><%= image_tag "facebookIcon48X48.jpg" %>&nbsp;&nbsp; www.facebook.com/ <%= f.text_field :facebook_url, :style => "margin-bottom:0px; width: 90px; height: 12px;" %>
      <li style="margin-bottom: 10px;"><%= image_tag "twitterIcon48x48.jpg" %>&nbsp;&nbsp; www.twitter.com/ <%= f.text_field :twitter_url, :style => "margin-bottom:0px; width: 90px; height: 12px;" %></li>
      <li style="margin-bottom: 10px;"><%= image_tag "googleIcon48x48.jpg" %>&nbsp;&nbsp;<%= f.text_field :google_url, :style => "margin-bottom:0px; width: 250px; height: 18px;" %></li>
    </ul>
  </div>
  <hr>
  <p style="font-size: 12px; color: gray;"><b style="font-size: 14px; color: black;">4. 관심분야 | </b>상품/콘텐츠/취미 등</p>
  <%
    @size = 3

    @interest_areas = InterestArea.all
    @interest_areas_line = @interest_areas.count/@size

    if @interest_areas.count%@size > 0
      @interest_areas_line = @interest_areas_line + 1
    end


  %>

  <div class="Interest" style="width:350px; height: 150px; padding: 10px;">
    <table class="table table-bordered">
      <tbody>
      <% @interest_areas_line.times do |i|%>

          <tr>
            <% @interest_areas = InterestArea.page(i+1).per(@size)  %>
            <% @interest_areas.each do |area| %>
                <td>
                  <label class="checkbox" style="font-size: 12px;">
                    <%= check_box_tag "user[interest_area_ids][]", area.id, @user.interest_area_ids.include?(area.id) %><%= area.title %>

                  </label>
                </td>
            <% end %>
          </tr>
      <% end %>


      </tbody>
    </table>
  </div>
  <hr>
  <p style="font-size: 14px;"><b>5. 상세정보</b></p>
  <div class="DetailInfo" style="width:350px; height: 150px; padding: 10px;">
    <p style="font-size: 11px;">추가 정보를 자유롭게 기입해주세요. 전문분야/지식/전공 등을 입력하시면 에이전트 활동에 보다 유리합니다.</p>
    <%= f.text_area :detail_info, :rows => 4, :style => "width:340px; height: 75px; font-size: 12px;" %>
  </div>

</div>