<div class="dividerSave" style="float: left; width: 1160px; height: 33px; background-color: #dadcdc; padding: 10px;">
  <div class="Promise" style="float: left; width: 650px; height: 20px; padding:5px; text-align: left;"></div>
  <div class="Promise" style="float: left; width: 280px; height: 20px; padding:5px; text-align: left;">
    <label class="checkbox"><input type="checkbox" value=""><a href="#">약관</a> 및 <a href="#">개인정보 취급정책</a>에 동의합니다.</label>
  </div>




  <div class="RegisterSet" style="text-align: right;">
    <button type="button" id="submit_btn" class="btn btn-primary">큐섬에 가입합니다.</button>
    <input type="submit" style="display: none;" id="user_create_submit" >

    <button class="btn">취소</button>
  </div>
</div>