<div class="container-fluid">
  <div class="row-fluid">
    <% if flash[:working_agent] %>
        <p><%= flash[:working_agent] %></p>
        <%= link_to '에이전트 보러가기', user_info_operating_showcase_path(current_user.id) %>
        <br/>
    <% end %>
    <% if flash[:joining_agent] %>
        <p><%= flash[:joining_agent] %></p>
        <%= link_to '계약 중인 쇼케이스 보러가기', user_info_joining_showcase_path(current_user.id) %>
        <br/>
    <% end %>

  </div>
</div>