<div class="container-fluid" style="height: 100px">
  <div class="row-fluid">
    회원가입이 되었습니다.<br/>
    가입한 이메일로 확인 메일이 갈 것 입니다. 메일의 링크를 클릭하면 이메일이 확인됩니다.<br/>
    이메일이 확인 되지 않으면 로그인이 불가능합니다.
  </div>
</div>
