<h1>Listing users</h1>

<table>
  <tr>
    <th>Email</th>
    <th>User</th>
    <th>Name</th>
    <th>image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>

  <tr>
    <td><%= user.email %></td>
    <td><%= user.user_id %></td>
    <td><%= user.name %></td>
    <td></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_registration_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_registration_path %>
