<p>Quusome에 오신걸 환영합니다. <%= @resource.email %> 님!</p>

<p>아래 링크로 아이디를 활성화 하세요.</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
