<div class="container-fluid"  style="margin-bottom: 250px;">
  <div class="row-fluid">
    <div class="BackLayout" style="width:1140px; height:800px; relative; margin: auto; background-color: white; padding: 30px;">

      <div class="LeftSlot" style="width: 1100px; height: 250px; margin: 10px; padding: 10px;">
        <p style="font-size: 16px;">
          <i class="icon-ok-sign icon-large" style="color: #00bdf1;"></i>
          <b style="background-color: gray; color: white; padding: 5px;"><%= current_user.user_id %></b>님의 슬롯사용 현황입니다.
        </p>
        <div class="UseAbleSlot" style="float: left; width: 350px; height: 200px; padding: 5px; text-align: center;">
          <p></p><br/>
          <p></p>
          <i class="icon-group icon-4x" style="color: #00bdf1;"></i>
          <p></p><br/>
          <p style="font-size: 16px;">현재 사용가능한 슬롯의 수는
            <% if @purchased_product.nil? %>
                <span class="badge badge-warning" style="background-color: #00bdf1">0</span> 개 입니다.
            <% else %>

                <% if @enable_slots.nil? %>
                    <span class="badge badge-warning" style="background-color: #00bdf1">무제한</span>입니다.
                <% else %>
                    <span class="badge badge-warning" style="background-color: #00bdf1"><%= @enable_slots %></span> 개 입니다.
                <% end %>

            <% end %>


          </p>
        </div>
        <div class="UseDisableSlot" style="float: left; width: 350px; height: 200px; padding: 5px; text-align: center; margin-left: 7px;">
          <p></p><br/>
          <p></p>
          <i class="icon-group icon-4x" style="color: black;"></i>
          <p></p><br/>
          <% if @used_slots %>
            <p style="font-size: 16px;">이미 사용한 슬롯의 수는 <span class="badge badge-inverse"><%= @used_slots %></span> 개입니다.</p>
          <% else %>
            <p style="font-size: 16px;">사용한 슬롯이 없습니다.</p>
          <% end %>
        </div>
        <div class="TimeLimit" style="float: left; width: 350px; height: 200px; padding: 5px; text-align: center; margin-left: 7px;">
          <p></p><br/>
          <p></p>
          <i class="icon-adjust icon-4x" style="color: orange;"></i>
          <p></p><br/>
          <% if @purchased_product.nil? %>
              <p style="font-size: 16px;">사용가능한 슬롯이 없습니다.</br> 슬롯을 구매해 주세요.

              </p>
          <% else %>
              <p style="font-size: 16px;">사용가능한 슬롯의  사용 기간은<p></p>
                <span class="badge badge-warning" style="font-size: 14px; padding:10px;"><%= @purchased_product.end_date.strftime('%Y-%m-%d') %></span> 까지 입니다.
              </p>
          <% end %>
        </div>
      </div>
      <hr>
      <div class="PaySlot" style="width: 1080px; height: 450px; margin: 10px; padding: 20px;">
        <p style="font-size: 16px;"><i class="icon-ok-sign icon-large" style="color: #00bdf1;"></i> 에이전트 슬롯 구매하기</p>
        <% @product_items.each do |item| %>
            <div class="Ten" style="float: left; width: 250px; height: 300px; padding: 5px; text-align: left;">
              <p></p>
              <i class="icon-info-sign icon-2x" style="color:<%= item.product_color %>;"></i>
              <p><%= item.product_info %></p>
              <!--
              <div style="float: left;  width: 100px; margin-left: 30px; margin-top: 10px;"><label class="radio" style="font-size: 12px;"><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>신용카드</label></div>
              <div style="float: right;  width: 100px; margin-right: 20px; margin-top: 10px;"><label class="radio" style="font-size: 12px;"><input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">핸드폰</label></div>
              -->
              <div style="clear: both; width: 250px; height: 5px;"></div>
              <p style="text-align: center;">
                <% if item.product_color == 'red' %>
                  <button class="btn btn-danger purchase_btn" style="font-size: 14px; padding: 15px;" value="<%= item.id %>">
                <% elsif item.product_color == 'orange' %>
                  <button class="btn btn-warning purchase_btn disabled" style="font-size: 14px; padding: 15px;" value="<%= item.id %>" disabled="disabled">
                <% elsif item.product_color == 'green' %>
                  <button class="btn btn-success purchase_btn disabled" style="font-size: 14px; padding: 15px;" value="<%= item.id %>" disabled="disabled">
                <% else %>
                  <button class="btn btn-primary purchase_btn disabled" style="font-size: 14px; padding: 15px;" value="<%= item.id %>" disabled="disabled">
                <% end %>
                  <i class="icon-group icon-3x" style="color: white;"></i><p></p><br/><p><%= item.product_name %> 결제하기</p></button>
              </p>
              <p style="text-align: center;">가격 : &#xffe6;<%= number_to_currency(item.product_price) %> (vat별도)</p>
            </div>



        <% end %>
        <%= form_tag purchase_product_path, :style => 'display: none;', :remote => true  do %>
          <%= hidden_field_tag 'product_item_id', :id => 'product_item_id' %>
          <%= submit_tag "submit", :id => 'purchase_submit', :remote => true %>
        <% end %>
        <div class="Payment" style="float: left; width: 1066px; height: 100px; padding: 5px; text-align: left; margin-top: 10px;">
          <p></p><br/>
          <p style="font-size: 12px;"><i class="icon-exclamation-sign icon-large"></i> 구매하신 상품은 슬롯을 1회 이상 사용했거나 구매 후 7일 이후에는 환불 또는 취소 처리가 되지 않습니다. </p>
          <p style="font-size: 12px;"><i class="icon-exclamation-sign icon-large"></i> 구매결제를 하시기 전에 확인하시고, 사용하기에 편리한 상품을 선택해주세요.</p>
        </div>



      </div>
    </div>
  </div>

</div>
