<!DOCTYPE html>
<html>
<head>
  <title>Quusome</title>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <%= stylesheet_link_tag "mobile/mobile_application", :media => "all" %>
  <%= stylesheet_link_tag "http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" %>

  <%= javascript_include_tag "mobile_application", :charset => "utf-8"   %>
  <%= javascript_include_tag "http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js" %>



  <%= csrf_meta_tags %>

  <style>

      .logo {

          margin-top: 20%;
          text-align: center;
          font-weight: 800;
          color: white;
          font-size: 30px;
          margin-bottom: 40px;



          /*text-shadow:*/
          /*1px 0px 0px black,*/
          /*0px 1px 0px black,*/
          /*0px 2px 0px #b0b0b0,*/
          /*0px 3px 0px #a0a0a0,*/
          /*0px 4px 0px #909090,*/
          /*0px 5px 10px rgba(0, 0, 0, 0.6);*/
      }

  </style>





</head>
<body>
<div class="container">
  <div>
    <div class="logo">Quusome</div>

  </div>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:id => 'sign_in_user_new'}, :remote => true, :format => :json) do |f| %>
    <%= f.text_field :email, :id => "basic", :placeholder => "이메일", "data-mini" => "true", "data-clear-btn" => "true" %>
    <%= f.password_field :password, :id => "basic", :placeholder => "비밀번호", "data-mini" => "true", "data-clear-btn" => "true" %>
    <a href="#" data-role="button">로그인</a>
  <% end %>
</div>

</body>
</html>



