$('#showcase_image_upload_btn').removeClass('disabled');
$('#showcase_image_close_btn').removeClass('disabled');
$('#showcase_image_upload_btn').removeAttr('disabled');
$('#showcase_image_close_btn').removeAttr('disabled');
$('.close').removeAttr('disabled');
$('#image_spin').hide();


$('#showcase_image_close_btn').click();

//last_count = parseInt($('#last_count').val());
last_count = $('#image_upload_thumb li').length;


<% @images.each_with_index do |image, i| %>

var html = ''

html += '<li class="upload_image thumbnail_content">';
html += '<div style="display: none" class="thumbnails_icon">';
html += '<div class="icon_move"><i class="icon-move"></i></div>';
html += '<div class="icon_modify"><i class="icon-pencil"></i></div>';
html += '<div class="icon_remove"><i class="icon-remove-sign"></i></div>';
html += '</div>';

html += '       <img src="<%= image.url %>" style="width:140px; height:110px" class="register_thumb">';

/*
html += '   <div id="image-' + last_count +'" style="display: none; z-index: 1;" >';
html += '       <p style="font-size: 12px;">이미지 설명을 수정하거나 이미지를 삭제하실 수 있습니다.</p>';
html += '       <textarea rows="3" style="width:190px; height: 60px; font-size: 11px"><%= image.caption %></textarea>';
html += '       <div style="text-align: right;">';
html += '           <a class="btn btn-primary agent_save_btn"  >저장</a>';
html += '           <a class="btn reward_close_btn"  data-dismiss="clickover">닫기</a>';
html += '       </div>';
html += '   </div>';
*/
html += '   <input type="hidden" name="index" id="thumbnail_index_' + last_count + '" class="thumbnail_index" />';
html += '   <input type="hidden" class="caption" name="showcase[contents_attributes][' + last_count + '][caption]" value="<%= image.caption %>" >';
html += '   <input type="hidden" class="showcase_image_id" name="showcase[contents_attributes][' + last_count + '][showcase_image_id]" value="<%= image.id %>" >';
html += '   <input type="hidden" class="source_type" name="showcase[contents_attributes][' + last_count + '][source_type]" value="<%= image.source_type %>" >';
html += '   <input type="hidden" class="url" name="showcase[contents_attributes][' + last_count + '][url]" value="<%= image.url %>" >';
html += '   <input type="hidden" class="link" name="showcase[contents_attributes][' + last_count + '][link]" value="<%= image.link %>" >';
html += '</li>'

$('#image_upload_thumb').append(html);

last_count = last_count + 1;

<% end %>

//$('#last_count').val(last_count);
$('#tab_images').click();
$('.nano').nanoScroller();