

var html = '';

<% @youtubes.videos.each do |youtube| %>
html += '<tr style="cursor: pointer" class="youtube_row">';
html += '<td><input type="radio" name="optionsRadios" class="youtube_id" value="<%=youtube.unique_id %>" url="<%= youtube.thumbnails[0].url %>"></td>';
html += '<td><img class="lazy" src="<%= youtube.thumbnails[0].url %>" data-original="<%= youtube.thumbnails[0].url %>" style="width:98px; height:74px"><p style="font-size: 10px;">제작자 : <%= truncate(youtube.author.name, :length => 7) %></p></td>';
html += '<td><p><b style="color: #0076a3;"><%= youtube.title %></b></p><p style="font-size: 11px;"><%= truncate(youtube.description, :length => 50) %></p></td>';
html += '</tr>'
<% end %>

$('#spin').hide().spin(false);
$('#is_loading').val('false');
$('#youtube_body').append(html);

