<% comments.each do |comment| %>

<tr>
  <td style="border:0px;width:48px">
    <%= link_to user_info_modal_path(comment.user.id), data: { toggle: "modal", target: "#ProfileModal"} do %>
        <% if comment.user.image.blank? %>
            <%= image_tag '48x48/user48x48.jpg', :style => 'width:48px; height:48px', :class => "user_image_48" %>
        <% else %>
            <%= image_tag comment.user.image, :style => 'width:48px; height:48px', :class => "user_image_48" %>
        <% end %>
    <% end %>

  </td>
  <td style="font-size: 11px; border:0px;">
    <p><%= simple_format comment.body %></p>
    <p style="text-align: right;"><%= comment.created_at.strftime('%Y-%m-%d') %></p>
  </td>
</tr>

<% end %>
