$('#comment_table_body').html("<%= j render :partial => "showcase_comments/showcase_comments",
                   :locals => { :comments => @comment_threads } %>");
$('#showcase_comments_count').html(<%= @comment_threads.count %>);
