<div class="container-fluid" style="margin-bottom: 250px;">
<div class="row-fluid">
<div class="BackLayout" style="width:1200px; height:800px; relative; margin: auto;">

<div class="RegFrame" style="float: left; width:1180px; height: 750px; background-color: white; padding:10px;"> <!---Register Frame START----------->
<%= form_for @showcase do |f| %>
<!-- 기본정보 start -->
<%= render :partial => "showcases/form/showcase_info", :locals => { :f => f } %>
<!-- 기본정보 end -->

<!-- 컨텐츠 start -->
<%= render :partial => "showcases/form/showcase_contents", :locals => { :f => f } %>
<!-- 컨텐츠 end -->


<div class="AgentRegis" style="float: left; width: 373px; height: 670px; background-color: #d0d2d2; padding: 10px;">
<!----Agent Register START----------->
<%= render :partial => "showcases/form/showcase_agent_mission", :locals => { :f => f } %>

<hr>

<!-- 친구초대 start -->



<!-- 친구초대 end -->

</div>  <!----Agent Register END----------->


<div class="dividerSave" style="float: left; width: 1180px; height: 6px; background-color: #e9ebec;"></div>
<div class="dividerSave" style="float: left; width: 1160px; height: 33px; background-color: #dadcdc; padding: 10px;">


  <% if controller.action_name == 'new' %>
      <div class="RegisterSet" style="text-align: right;">
        <button class="btn btn-success" id="showcase_save" type="button"><%= t(:'showcase.registration.footer.save_after_register_button') %></button>
        <button class="btn btn-primary" id="showcase_publish" type="button"><%= t(:'showcase.registration.footer.register_button') %></button>
        <a class="btn" type="button" href="/showcases"><%= t(:'showcase.registration.footer.cancel_button') %></a>
        <%= f.hidden_field :is_publish %>
        <%= f.submit :id => "showcase_submit", :style => "display: none;" %>

      </div>
  <% else %>
      <div class="RegisterSet" style="text-align: right;">

        <%= f.hidden_field :is_publish, :id => "is_publish" %>
        <% if @showcase.is_publish == '1' %>
            <button class="btn btn-success showcase_update" id="private_update" type="button"><%= t(:'showcase.registration.footer.update_after_private_button') %></button>

        <% else %>
            <button class="btn btn-success showcase_update" id="public_update" type="button"><%= t(:'showcase.registration.footer.update_after_public_button') %></button>

        <% end %>
        <button class="btn btn-primary showcase_update" id="normal_update"  type="button"><%= t(:'showcase.registration.footer.update_button') %></button>
        <a class="btn" type="button" href="/showcases"><%= t(:'showcase.registration.footer.cancel_button') %></a>
        <%= f.submit :id => "showcase_submit", :style => "display: none;" %>

      </div>
  <% end %>
</div>

<% end %>

<!-- 이미지 업로드 모달 -->
<%= render "showcases/form/image_upload_modal" %>

<!-- 동영상 업로드 모달 -->
<%= render "showcases/form/video_upload_modal" %>
</div> <!---Register Frame END----------->

</div>
</div>
</div>

<div id="content_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel"><%= t(:'showcase.registration.image_content_update.label') %></h4>
  </div>
  <div class="modal-body" style="margin-left: 10px;">
    <div style="height: 200px;">
      <div class="" style="float: left">
        <img src="" class="image_url" style="width: 140px; height: 110px;"/>
      </div>

      <div style="float: left; padding: 20px; background-color: #f5f5f5; margin-top: 10px; margin-left: 20px; width: 300px; height: 140px;" class="content_modal_field">
        <form>
          <input type="hidden" class="thumbnail_modal_index" />
          <fieldset>
            <label><%= t(:'showcase.registration.image_content_update.explain_label') %></label>
            <textarea rows="2" style="width: 280px" class="content_modal_caption"></textarea>
            <label><%= t(:'showcase.registration.image_content_update.link_label') %></label>
            <input type="text" style="width: 280px;" class="content_modal_link">
          </fieldset>
        </form>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn content_modal_close_btn" data-dismiss="modal" aria-hidden="true"><%= t(:'showcase.registration.image_content_update.close_button') %></button>
    <button class="btn btn-primary content_modal_apply_btn"><%= t(:'showcase.registration.image_content_update.apply_button') %></button>
  </div>
</div>