<% showcase.contents.each_with_index do |content, i| %>
    <li data-type="<%= content.source_type %>" data-id="id-<%= i %>">
      <div  style="width: 190px; height: 140px; background-color: #ffffff;" class="showcase_image_container">


        <% if content.source_type == 'youtube' %>
            <a
            href="http://www.youtube.com/embed/<%= content.source_id %>?autoplay=0&autohide=1&border=0&egm=0&showinfo=0"
            class="ilightbox"
            data-type="iframe"
            data-options="
                icon: 'video',
			    skin: 'metro-black',
			    styles: {
							nextOpacity: 0,
							prevOpacity: 0
						},
				thumbnail: 'http://img.youtube.com/vi/<%= content.source_id %>/0.jpg',

                width: 1280,
                height: 720
              "

            >
              <%= image_tag "http://img.youtube.com/vi/#{content.source_id}/0.jpg"

              %>
        <% else %>
            <a
            href="<%= content.url %>"
            class="ilightbox"
            data-caption="<%= content.caption %>"
            data-options="
                    thumbnail: '<%= content.url  %>',
			        skin: 'metro-black',
			        styles: {
							nextOpacity: 0,
							prevOpacity: 0
					    }

                  "

            >
              <%= image_tag content.url %>
        <% end %>
        </a>

      </div>
    </li>
<% end %>