<% showcase.contents.each_with_index do |content, i| %>




    <% if content.source_type == 'youtube' %>
    <li class="mix youtube">
       <div  style="width: 190px; height: 140px; background-color: #ffffff;" class="showcase_image_container">
            <a
            href="//www.youtube.com/embed/<%= content.source_id %>?autoplay=0&autohide=1&border=0&egm=0&showinfo=0"
            class="ilightbox"
            data-type="iframe"
            data-title="<span style='font-size: 15px; line-height:20px;'><%= content.caption  %></span>"
            data-options="
                icon: 'video',
			    skin: 'metro-black',

			    styles: {
							nextOpacity: 0,
							prevOpacity: 0
						},
				thumbnail: '//img.youtube.com/vi/<%= content.source_id %>/0.jpg',

                width: 1280,
                height: 720,


              "

            >
              <%= image_tag "//img.youtube.com/vi/#{content.source_id}/0.jpg" %>
            </a>

       </div>
    </li>
    <% else %>

        <%
            if content.source_type == 'upload'
              if content.url.split('http:').count == 2
                content_url = content.url.split('http:')[1]
              elsif content.url.split('https:').count == 2
                content_url = content.url.split('https:')[1]
              else
                content_url = content.url
              end
            elsif content.source_type == 'url'
              content_url = content.url
            end
        %>

    <li class="mix upload">
        <div  style="width: 190px; height: 140px; background-color: #ffffff;" class="showcase_image_container">
          <input type="hidden" class="modal_color" value="red">
            <a
            href="<%= content_url %>"
            class="ilightbox"
            data-title="<span style='font-size: 15px; line-height:20px;'><%= content.caption  %></span>"
            data-options="
                    thumbnail: '<%= content_url  %>',
			        skin: 'metro-black',

			        styles: {
							nextOpacity: 0,
							prevOpacity: 0
					    },

					width: 1280,
                    height: 720,


                    onRender: function(api) {
                        obj = $('.ilightbox-container', api.element);
                        iframe = obj.find('iframe');

                        if(jQuery.type(iframe.attr('width')) !== 'undefined') {
                            url = iframe.attr('src');

                            img = $('<img></img>');
                            img.attr('src', url);
                            img.addClass('ilightbox-image');



                            obj.prepend(img);
                            iframe.hide();

                        }

                    }
					<% unless content.link.blank? %>
					,
					social: {
                        facebook: {
                            URL: '<%= content.link %>',
                            text: 'test'
                        },

                        twitter: {
                            URL: '<%= content.link %>',
                            text: 'test'
                        },
                        googleplus: {
                            URL: '<%= content.link %>',
                            text: 'test'
                        },
                        custom_button: {
                            source: '<%= content.link %>',
                            text: 'Share on Custom Button'


					    }




					}
					<% end %>



                  "

            >

              <%= image_tag content_url %>

            </a>

        </div>
     </li>
     <% end %>

<% end %>