<div class="container-fluid" style="margin-bottom: 300px;">
  <div class="row-fluid">
    <div class="BackLayout" style="width:1200px; height:1200px; relative; margin: auto;">

      <div class="IndexFrame" style="float: left; width:1190px; height: 1200px; background-color: white; padding:5px;"> <!---Category Frame START----------->
        <p></p>


        <% @showcases.in_groups_of(4, false) do |showcases| %>

        <div class="row-fluid" style="margin-bottom: 70px;">
          <ul class="thumbnails" >
            <% showcases.each do |showcase| %>
            <li style="width: 285px; height: 190px; margin-left: 10px;">
              <div class="thumbnail">
                <div style="width: 275px; height: 160px;" class="">
                    <%= link_to showcase do  %>
                      <% if showcase.contents.count > 0 %>
                          <% if showcase.contents[0].source_type == 'youtube' %>
                            <%= image_tag "//img.youtube.com/vi/#{showcase.contents[0].source_id}/0.jpg", :class => 'showcase_index_image'  %>
                          <% else %>
                              <% if showcase.contents[0].source_type == 'upload'  %>
                                  <% if showcase.contents[0].url.split('http:').count == 2 %>
                                    <%= image_tag showcase.contents[0].url.split('http:')[1], :class => 'showcase_index_image' %>
                                  <% elsif showcase.contents[0].url.split('https:').count == 2 %>
                                      <%= image_tag showcase.contents[0].url.split('https:')[1], :class => 'showcase_index_image' %>
                                  <% else %>
                                      <%= image_tag showcase.contents[0].url, :class => 'showcase_index_image' %>
                                  <% end %>
                              <% elsif showcase.contents[0].source_type == 'url' %>
                                  <%= image_tag showcase.contents[0].url, :class => 'showcase_index_image' %>
                              <% end %>
                          <% end %>
                      <% else %>
                            <%= image_tag '400x300.jpg', :class => 'showcase_index_image'  %>
                      <% end %>
                    <% end %>
                </div>
                <div class="caption" style="background-color: black;">
                  <p style="font-size: 12px; height:40px; color: white; "><%= showcase.title %></p>
                  <p style="margin-bottom: 0px; height:30px; color: white">
                    <span class="label label-inverse">리워드</span>
                    <span>
                    <% showcase.showcase_rewards.each_with_index do |reward, i| %>
                        <% if i < 5 %>
                              <span  class="reward_icons_index">
                            <a  data-toggle="tooltip" class="user_info_reward_icon" title="<%= reward.reward_item.title %> : <%= reward.detail_info %>">
                              <%= image_tag "32x32/#{reward.reward_item.image}", :class => "showcase_index_reward_icon", :style => 'width: 32px; height: 32px' %>
                            </a>
                              </span>
                          <% end %>
                    <% end %>
                    <% if showcase.showcase_rewards.count > 5 %>...<% end %>
                    </span>
                  </p>
                </div>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
        <% end %>

        <%= paginate @showcases, :html => {:class => "pagination-centered"} %>


      </div> <!---Category Frame START----------->
    </div>
  </div>
</div>