
<div class="container-fluid">
  <div class="row-fluid">
    <div class="BackLayout" style="width:1200px; height:900px; relative; margin: auto; background-color: white;">
      <% if notice %>
          <div class="alert alert-success" id="notice">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p>
              <%= raw notice %>
              <% if notice == '쇼케이스가 성공적으로 저장되었습니다. 친구에게 초대메세지를 보내보세요.' %>
                  <%= render "showcases/form/showcase_invite" %>
              <% end %>
            </p>
          </div>
      <% end %>
      <div class="ShwocaseBack" style="float: left; width: 880px; height: 880px; padding: 10px; background-color: white;"> <!------쇼케이스 백그라운드 START----------->
        <div class="ShowTitle" style="width: 870px; height: 40px; background-color: #eae8e8; padding: 5px;">
          <h4 style="margin-left: 5px;"><%= @showcase.title %></h4>
        </div>
        <div class="SortShow" style="width: 880px; height: 30px; background-color: #dad9d9;">
          <div class="btn-group" id="source_filter" data-toggle="buttons-radio">
            <button class="btn btn-inverse active" style="font-size: 11px;" data-id="all_filter">전체보기</button>
            <!--<button class="btn btn-primary" style="font-size: 11px;">업데이트</button> -->
            <button class="btn btn-warning" style="font-size: 11px;" data-id="upload">사진</button>
            <button class="btn btn-success" style="font-size: 11px;" data-id="youtube">동영상</button>
          </div>
        </div>
        <p></p>

        <div class="image_thumbs"  style="width: 860px; height: 770px; padding: 10px; overflow-y: auto; background-color: rgba(126,126,126,0.56);">
          <div class="row-fluid">
            <ul class="thumbnails" id="content_filter">

              <%= render :partial => "show_contents", :locals => { :showcase => @showcase } %>
            </ul>




          </div>
        </div>



      </div><!------쇼케이스 백그라운드 END----------->

      <div class="InfoBack" style="float: right; width: 280px; height: 880px; padding: 10px; background-color: white;"><!------인포메이션 백그라운드----------->
        <div class="Fav" style="width: 280px; height: 50px; margin-bottom: 5px;" id="favorite_btn">
          <% if current_user %>
              <% if current_user.favorite? @showcase %>
                  <%= link_to showcase_favorites_path(@showcase), :class => 'btn btn-large btn-danger',
                              :style => 'width: 240px; height: 25px; font-size: 14px;', :method => 'post', :remote => true do %>
                      <%= image_tag '16x16/plus.png'  %><span> 즐겨찾기 취소<span>
                  <% end %>
              <% else %>
                  <% if current_user.id == @showcase.created_by %>

                      <a class="btn btn-large btn-primary disabled" style="width: 240px; height: 25px; font-size: 14px;"><%= image_tag '16x16/plus.png'  %><span> 즐겨찾기</span></a>

                  <% else %>
                      <%= link_to showcase_favorites_path(@showcase), :class => 'btn btn-large btn-primary',
                                  :style => 'width: 240px; height: 25px; font-size: 14px;', :method => 'post', :remote => true do %>
                          <%= image_tag '16x16/plus.png'  %><span> 즐겨찾기</span>
                      <% end %>
                  <% end %>
              <% end %>
          <% else %>

              <%= link_to showcase_favorites_path(@showcase), :class => 'btn btn-large btn-primary',
                          :style => 'width: 240px; height: 25px; font-size: 14px;', :method => 'post', :remote => true do %>
                  <%= image_tag '16x16/plus.png'  %><span> 즐겨찾기</span>
              <% end %>

          <% end %>

        </div>
        <div class="AgentMR" style="width: 280px; height: 50px; margin-bottom: 5px;">
          <% if @showcase.showcase_rewards.count == 0 || current_user && current_user.id == @showcase.created_by %>
              <a role="button" class="btn btn-large btn-success disabled" data-toggle="modal" style="font-size: 14px; width:240px; height: 25px;">
                <%= image_tag '32x32/buttonagent.png' %> 에이전트 미션보기 | 신청하기
              </a>
          <% else %>
              <a href="#AgentModal" role="button" class="btn btn-large btn-success" data-toggle="modal" style="font-size: 14px; width:240px; height: 25px;">
                <%= image_tag '32x32/buttonagent.png' %> 에이전트 미션보기 | 신청하기
              </a>
          <% end %>

          <%= render :partial => 'showcases/modal/agent', :locals => { :showcase => @showcase } %>
        </div>

        <div class="RewardBack" style="width: 280px; height: 130px;">
          <p></p>
          <p style="font-size: 16px;"><b>Reward</b><small style="font-size: 11px; color: gray;"> 에이전트에게 주어지는 리워드입니다. </small></p>
          <div  class="row-fluid" style="width: 280px; height: 90px;">
            <ul class="thumbnails">
              <% if @showcase.showcase_rewards.count > 0 %>
                  <% @showcase.showcase_rewards.each do |reward| %>
                      <li style="margin-left: 4px; margin-bottom: 4px;">
                        <%= reward_item_tag(reward, "32", 'font-size: 14px; width: 32px; height:32px; padding:2px; margin: 2px;') %>
                      </li>
                  <% end %>
              <% else %>
                  <li style="margin-left: 4px; margin-bottom: 4px;">이 쇼케이스에는 미션이 없습니다.</li>
              <% end %>
            </ul>
          </div>
        </div>
        <hr>
        <div class="UserInfo" style="width: 270px; height: 50px; background-color: #eae8e8; margin-bottom: 5px; padding:5px;">
          <div style="float: left; width:55px; height: 48px;">
            <a href="#ProfileModal" role="button" class="btn btn-large" data-toggle="modal" style="width: 48px; height: 48px; padding: 0px;">

              <% if @showcase.user.image.blank? %>
                  <%= image_tag '48x48/user48x48.jpg', :style => 'width:48px; height:48px' %>
              <% else %>
                  <%= image_tag @showcase.user.image %>
              <% end %>

            </a>
            <%= render :partial => 'showcases/modal/profile', :locals => { :showcase => @showcase } %>




          </div>

          <div style="float: left; width:210px; height: 48px;">
            <div style="float: left; width: 115px; height: 30px;"><%= @showcase.user.user_id %></div>
            <div style="float: left; width: 95px; height: 30px; text-align: right;">
              <% if !@showcase.user.facebook_url.blank? %>
                  <a href="#"><%= image_tag '24x24/facebookIcon24x24.jpg' %></a>
              <% end %>
              <% if !@showcase.user.twitter_url.blank? %>
                  <a href="#"><%= image_tag '24x24/twitterIcon24x24.jpg' %></a>
              <% end %>
              <% if !@showcase.user.google_url.blank? %>
                  <a href="#"><%= image_tag '24x24/googleIcon24x24.jpg' %></a>
              <% end %>
            </div>
            <p style="font-size: 10px;"><%= @showcase.user.email %></p>
          </div>
        </div>

        <div class="MessageSend" style="width: 270px; height: 80px; background-color: #eae8e8; margin-bottom: 5px; padding: 5px;">
          <%= form_tag user_messages_path(@showcase.user), :remote => true do %>
              <textarea name="message_body" id="message_body" rows="2" style="width: 255px; height: 40px; margin-bottom: 3px; font-size: 11px;"
                        <% if current_user && current_user.id == @showcase.created_by %>disabled<% end %>></textarea>
              <div style="text-align: right;">
                <input type="submit" id="message_submit" style="display: none">
                <% if current_user && current_user.id == @showcase.created_by %>
                    <button type="button" class="btn btn-small btn-info" disabled>메세지 보내기</button>
                <% else %>
                    <button type="button" class="btn btn-small btn-info" id="message_submit_btn">메세지 보내기</button>
                <% end %>
              </div>
          <% end %>
        </div>
        <hr>
        <div class="FeedbackInfo" style="width: 270px; height: 24px; background-color: #eae8e8; padding: 5px;">
          &nbsp;&nbsp;  <%= image_tag '24x24/likeplus.png' %> <span class="badge badge-important" id="showcase_favorite_count"><%= @showcase.favorite_count %></span>&nbsp;&nbsp;
          &nbsp;&nbsp;  <%= image_tag '24x24/view.png' %> <span class="badge badge-important"><%= @showcase.impressionist_count %></span>&nbsp;&nbsp;
          &nbsp;&nbsp;  <%= image_tag '24x24/chat.png' %> <span class="badge badge-important" id="showcase_comments_count"><%= @showcase.comment_threads.count %></span>
        </div>
        <div class="FeedbackStream" style="width: 268px; height: 350px; background-color: #eae8e8; padding: 5px;  border: 1px solid #dad9d9;">
          <div class="MessageSend" style="width: 255px; height: 80px; background-color: #f5f3f3; margin-bottom: 5px; padding: 5px;">
            <%= form_tag showcase_showcase_comments_path(@showcase), :remote => true do %>
                <textarea id="comment_text" name="body" rows="2" style="width: 240px; height: 40px; margin-bottom: 3px; font-size: 11px;"></textarea>
                <div style="text-align: right;">
                  <input type="submit" id="showcase_comment_submit" style="display: none;">
                  <button type="button" class="btn btn-small btn-info" id="showcase_comment_submit_btn">댓글쓰기</button>
                </div>
            <% end %>
          </div>
          <div style="height:250px; overflow-y: scroll; background-color: #eae8e8;">
            <table class="table">
              <tbody id="comment_table_body">

              <%= render :partial => "showcase_comments/showcase_comments",
                         :locals => { :comments => @comment_threads }   %>

              </tbody>
            </table>
          </div>
        </div>
      </div><!------인포메이션 백그라운드 END----------->




    </div>
  </div>
</div>

