
<div class="container-fluid">
<div class="row-fluid">
<div class="BackLayout" style="width:1200px; height:900px; relative; margin: auto; background-color: white; margin-bottom: 300px;">


<% if notice %>
<div class="alert alert-success" id="notice">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <p>
    <%= notice %>

  </p>
</div>
<% end %>
<div class="ShwocaseBack" style="float: left; width: 880px; height: 880px; padding: 10px; background-color: white;"> <!------쇼케이스 백그라운드 START----------->


  <div class="ShowTitle" style="width: 870px;  background-color: #eae8e8; padding: 5px;">
    <h4 style="margin-left: 5px;"><%= @showcase.title %>
      <button class="btn btn-primary btn-mini showcase_info_btn" type="button" style="margin-left: 10px; margin-top: -5px;"><%= t(:"showcase.show.description") %></button></h4>
    <div class=" showcase_info" style="">
        <div class="well well-small"><p style="font-size: 13px; color: gray; padding: 5px;"><%= @showcase.info %></p></div>
    </div>
  </div>
  <div class="SortShow" style="width: 880px; height: 30px; background-color: #dad9d9;">
    <div class="btn-group" id="source_filter" data-toggle="buttons-radio">
      <!--
      <button class="btn btn-inverse active" style="font-size: 11px;" data-id="all_filter">전체보기</button>
      <button class="btn btn-warning" style="font-size: 11px;" data-id="upload">사진</button>
      <button class="btn btn-success" style="font-size: 11px;" data-id="youtube">동영상</button>
      -->
      <button class="btn btn-inverse filter active" style="font-size: 11px;" data-filter="all"><%= t(:"showcase.show.sort.all") %></button>
      <button class="btn btn-warning filter" style="font-size: 11px;" data-filter="upload"><%= t(:"showcase.show.sort.image") %></button>
      <button class="btn btn-success filter" style="font-size: 11px;" data-filter="youtube"><%= t(:"showcase.show.sort.video") %></button>

    </div>
  </div>
  <p></p>

  <div class="image_thumbs"  style="width: 860px; height: 770px; padding: 10px; overflow-y: auto;">
    <div class="row-fluid">
      <ul class="thumbnails" id="content_grid">

        <%= render :partial => "show_contents", :locals => { :showcase => @showcase } %>
      </ul>

      <ul class="thumbnails" id="content_grid_hidden" style="display: none">


      </ul>




    </div>
  </div>



</div><!------쇼케이스 백그라운드 END----------->

<div class="InfoBack" style="float: right; width: 280px; height: 880px; padding: 10px; background-color: white;"><!------인포메이션 백그라운드----------->
<div class="Fav" style="width: 280px; height: 50px; margin-bottom: 5px;" id="favorite_btn">
  <% if current_user %>
      <% if current_user.favorite? @showcase %>
          <%= link_to showcase_favorites_path(@showcase), :class => 'btn btn-large btn-danger',
                      :style => 'width: 240px; height: 25px; font-size: 14px;', :method => 'post', :remote => true do %>
              <%= image_tag '16x16/plus.png'  %><span> <%= t(:"showcase.show.like_cancel_button") %><span>
          <% end %>
      <% else %>
          <% if current_user.id == @showcase.created_by %>

              <a class="btn btn-large btn-primary disabled" style="width: 240px; height: 25px; font-size: 14px;"><%= image_tag '16x16/plus.png'  %><span> 즐겨찾기</span></a>

          <% else %>
              <%= link_to showcase_favorites_path(@showcase), :class => 'btn btn-large btn-primary',
                          :style => 'width: 240px; height: 25px; font-size: 14px;', :method => 'post', :remote => true do %>
                  <%= image_tag '16x16/plus.png'  %><span> <%= t(:"showcase.show.like_button") %></span>
              <% end %>
          <% end %>
      <% end %>
  <% else %>

      <%= link_to showcase_favorites_path(@showcase), :class => 'btn btn-large btn-primary', :id => "favorite_link",
                  :style => 'width: 240px; height: 25px; font-size: 14px;', :method => 'post', :remote => true do %>
          <%= image_tag '16x16/plus.png'  %><span> <%= t(:"showcase.show.like_button") %></span>
      <% end %>

  <% end %>

</div>

<% if @showcase.showcase_rewards.count == 0  %>
      <div style="height: 190px;" >
        <p style="padding-top: 5px; text-align: center"><%= t(:"showcase.show.showcase_suggest") %></p>
            <div style="width: 190px; height: 140px; margin: 0 auto; padding-top: 10px;" class="showcase_image_container ad_showcase">
            <%
               showcase = Showcase.publish.random(1).first
               content = showcase.contents.first

               if content.source_type == 'youtube'
            %>
                <%= link_to showcase_path(showcase.id) do %><%= image_tag "//img.youtube.com/vi/#{content.source_id}/0.jpg" %><% end %>
            <% else %>

                  <% if content.source_type == 'upload'  %>
                      <% if content.url.split('http:').count == 2 %>
                          <%= link_to showcase_path(showcase.id) do %><%= image_tag content.url.split('http:')[1]  %><% end %>

                      <% elsif content.url.split('https:').count == 2 %>
                          <%= link_to showcase_path(showcase.id) do %><%= image_tag content.url.split('https:')[1]  %><% end %>

                      <% else %>
                          <%= link_to showcase_path(showcase.id) do %><%= image_tag content.url  %><% end %>

                      <% end %>
                  <% elsif content.source_type == 'url' %>
                      <%= link_to showcase_path(showcase.id) do %><%= image_tag content.url  %><% end %>
                  <% end %>


            <% end %>
            </div>
      </div>
<% else %>
<div class="AgentMR" style="width: 280px; height: 50px; margin-bottom: 5px;">

      <input type="hidden" id="current_user" value="<%= current_user.id if current_user.present? %>" />
      <% if current_user && current_user.id == @showcase.created_by || @showcase.reject_message == '1' %>
          <a  role="button" class="btn btn-large btn-success disabled" data-toggle="modal" style="font-size: 14px; width:240px; height: 25px;">
            <%= image_tag '32x32/buttonagent.png' %> <%= t(:"showcase.show.agent_request_button") %>
          </a>
      <% else %>
          <a href="#AgentModal" role="button" class="btn btn-large btn-success" data-toggle="modal" style="font-size: 14px; width:240px; height: 25px;">
            <%= image_tag '32x32/buttonagent.png' %> <%= t(:"showcase.show.agent_request_button") %>
          </a>
      <% end %>



  <%= render :partial => 'showcases/modal/agent', :locals => { :showcase => @showcase } %>
</div>

<div class="RewardBack" style="width: 280px; height: 130px;">
  <p></p>
  <p style="font-size: 16px;"><b>Reward</b><small style="font-size: 11px; color: gray;"> <%= t(:"showcase.show.reward_description") %> </small></p>
  <div  class="row-fluid" style="width: 280px; height: 90px;">
    <ul class="thumbnails">

          <% @showcase.showcase_rewards.joins(:reward_item).where("reward_items.location = ?", I18n.locale.to_s.upcase).each do |reward| %>
          <li style="margin-left: 4px; margin-bottom: 4px;" class="reward_icons_38">
            <a  data-toggle="tooltip" class="user_info_reward_icon" title="<%= reward.reward_item.title %> : <%= reward.detail_info %>">
                <%= image_tag "48x48/#{reward.reward_item.image}", :class => "showcase_show_reward_icon" %>
            </a>
          </li>
          <% end %>

    </ul>
  </div>
</div>


<% end %>
<hr>
<div class="UserInfo" style="width: 270px; height: 50px; background-color: #eae8e8; margin-bottom: 5px; padding:5px;">
  <div style="float: left; width:55px; height: 48px;">

      <%= link_to user_info_modal_path(@showcase.user.id), :style => "width: 48px; height: 48px; padding: 0px;", data: { toggle: "modal", target: "#ProfileModal"}  do %>
          <% if @showcase.user.image.blank? %>
            <%= image_tag '48x48/user48x48.jpg', :style => 'width:48px; height:48px', :class => "user_image_48" %>
          <% else %>
            <%= image_tag @showcase.user.image, :class => "user_image_48" %>
          <% end %>
      <% end %>

    <div id="profile_modal_partial">
      <%#= render :partial => 'showcases/modal/profile', :locals => { :user => @showcase.user } %>
    </div>





  </div>

  <div style="float: left; width:210px; height: 48px;">
    <div style="float: left; width: 115px; height: 30px;"><%= @showcase.user.user_id %></div>
    <div style="float: left; width: 95px; height: 30px; text-align: right;">
      <% if !@showcase.user.facebook_url.blank? %>
        <a href="#"><%= image_tag '24x24/facebookIcon24x24.jpg' %></a>
      <% end %>
      <% if !@showcase.user.twitter_url.blank? %>
        <a href="#"><%= image_tag '24x24/twitterIcon24x24.jpg' %></a>
      <% end %>
      <% if !@showcase.user.google_url.blank? %>
        <a href="#"><%= image_tag '24x24/googleIcon24x24.jpg' %></a>
      <% end %>
    </div>
    <p style="font-size: 10px;"><%= @showcase.user.email %></p>
  </div>
</div>

<div class="MessageSend" style="width: 270px; height: 80px; background-color: #eae8e8; margin-bottom: 5px; padding: 5px;">
  <%= form_tag user_messages_path(@showcase.user), :remote => true, :id => "message_form" do %>
  <textarea name="message_body" id="message_body" rows="2" style="width: 255px; height: 40px; margin-bottom: 3px; font-size: 11px;"
            <% if current_user && current_user.id == @showcase.created_by || @showcase.reject_message == '1' %>disabled<% end %>></textarea>
  <div style="text-align: right;">
    <input type="submit" id="message_submit" style="display: none">
    <% if current_user && current_user.id == @showcase.created_by || @showcase.reject_message == '1' %>
        <button type="button" class="btn btn-small btn-info" disabled><%= t(:"showcase.show.message_button") %></button>
    <% else %>
        <button type="button" class="btn btn-small btn-info" id="message_submit_btn"><%= t(:"showcase.show.message_button") %></button>
    <% end %>
  </div>
  <% end %>
</div>
<hr>
<div class="FeedbackInfo" style="width: 270px; height: 24px; background-color: #eae8e8; padding: 5px;">
  &nbsp;&nbsp;  <%= image_tag '24x24/likeplus.png' %> <span class="badge badge-important" id="showcase_favorite_count"><%= @showcase.favorite_count %></span>&nbsp;&nbsp;
  &nbsp;&nbsp;  <%= image_tag '24x24/view.png' %> <span class="badge badge-important"><%= @showcase.impressionist_count %></span>&nbsp;&nbsp;
  &nbsp;&nbsp;  <%= image_tag '24x24/chat.png' %> <span class="badge badge-important" id="showcase_comments_count"><%= @showcase.comment_threads.count %></span>
</div>
<div class="FeedbackStream" style="width: 268px; height: 350px; background-color: #eae8e8; padding: 5px;  border: 1px solid #dad9d9;">
  <div class="MessageSend" style="width: 255px; height: 80px; background-color: #f5f3f3; margin-bottom: 5px; padding: 5px;">
    <%= form_tag showcase_showcase_comments_path(@showcase), :remote => true, :id => "comment_form" do %>
    <textarea id="comment_text" name="body" rows="2" style="width: 240px; height: 40px; margin-bottom: 3px; font-size: 11px;"></textarea>
    <div style="text-align: right;">
      <input type="submit" id="showcase_comment_submit" style="display: none;">
      <button type="button" class="btn btn-small btn-info" id="showcase_comment_submit_btn"><%= t(:"showcase.show.comment_button") %></button>
    </div>
    <% end %>
  </div>
  <div style="height:250px; overflow-y: scroll; background-color: #eae8e8;">
      <table class="table">
        <tbody id="comment_table_body">

        <%= render :partial => "showcase_comments/showcase_comments",
                   :locals => { :comments => @comment_threads }   %>

        </tbody>
      </table>
  </div>
</div>
</div><!------인포메이션 백그라운드 END----------->

</div>
</div>
</div>

