<% if flash[:success] %>



    alert("<%= @user.user_id %>님에게 에이전트 신청을 보냈습니다.");
    <% publish_to "/agent_request/#{@user.id}" do %>
    $('#agent_request_count_badge').show();
    $('#agent_request_count_badge').html("<%= @user.mailbox.inbox_agent_all({:read => false}).count %>");

    <%
    conversations = @user.mailbox.inbox_agent_all.page(1).per(5)
    next_conversations = @user.mailbox.inbox_agent_all.page(2).per(5)

    if conversations.count > 0
    %>

    <% if next_conversations.count > 0 %>
    $('#agent_request_scroll_page').val("1");
    $('#agent_request_scroll_end').val("false");
    <% else %>
    $('#agent_request_scroll_end').val("true");
    <% end %>

    $('#agent_request_scroll_body').html("<%= j render :partial => 'notifications/partial/agent_request_notification',
        :locals => { :conversations => conversations, :user => @user } %>");
    <% end %>

    <% end %>

    $('.announcement_flash').append("<%= j render :partial => 'layouts/announcement', :locals => { :message => '에이전트 신청 및 수락은 상단의 푸쉬와 가입한 이메일을 통해 확인 할 수 있습니다.', :type => 'info' } %>")
<% else %>
    alert("에이전트 신청 중 문제가 발생했습니다.");
<% end %>

$('#agent_request_close_btn').click();


