<div id="AgentModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="AgentModalLabel" aria-hidden="true" style="width: 400px; height: 510px; margin-left: -200px; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;"> <!--Agent Modal Start-->
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="AgentModalLabel" style="text-align: left; font-size: 12px;"><%= t(:"showcase.show.agent_request_modal.head") %></h4>
  </div>
  <div class="modal-body" style="padding-top: 5px; height: 370px; max-height:380px; text-align: left;"> <!--------Modal Body START----------->
    <div style="width: 400px; height: 20px; padding: 5px;">
      <p style="font-size: 12px;"><%= raw t(:"showcase.show.agent_request_modal.agent_activity_term", :day => showcase.mission_term.to_i) %></p>
    </div>
    <div style="width: 360px; height: 300px; padding: 5px;">
      <span class="label label-warning"><%= t(:"showcase.show.agent_request_modal.mission_content") %></span>
      <p></p>
      <div style="width: 520px; height: 300px; overflow-y: auto;">
        <p style="font-size: 11px;">
          <%= simple_format showcase.mission_info %>
        </p>
      </div>
    </div>
  </div> <!--------Modal Body END----------->
  <div class="modal-footer" style="-webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;">

    <button class="btn btn-primary" id="agent_request_btn"><%=  t(:"showcase.show.agent_request_modal.agent_request_send_button") %></button>
    <button class="btn" data-dismiss="modal" aria-hidden="true" id="agent_request_close_btn"><%=  t(:"showcase.show.agent_request_modal.agent_request_close_button") %></button>

  </div>
</div>  <!--Agent Modal end-->
<%= form_tag user_agent_requests_path(showcase.user) + "?showcase_id=" + showcase.id.to_s, :remote => true, :id => "agent_request_form"  do %>
    <input type="submit" style="display: none;" id="agent_request_submit">
<% end %>