

<div id="ProfileModal" class="modal hide fade" data-width="850" tabindex="-1" role="dialog" aria-labelledby="ProfileModalLabel" aria-hidden="true" style="width: 800px; height: 500px; margin-left: -400px; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;"> <!--Profile Modal Start-->
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="ProfileModalLabel" style="text-align: left; font-size: 14px;"><%= t(:"common.profile_modal.head") %></h4>
  </div>
  <div class="modal-body" style="padding-top: 5px; height: 500px; max-height:500px; text-align: left;"> <!--------Modal Body START----------->
    <div class="tabbable tabs-left" style="margin-top: 10px;">
      <ul class="nav nav-tabs" style="margin-right: 25px; width:230px">
        <li class="active"><a href="#lA" data-toggle="tab"><%= t(:"common.profile.basic.title") %></a></li>
        <li><a href="#lB" data-toggle="tab"><%= t(:"common.profile.operating_showcase.title") %></a></li>
        <li><a href="#lC" data-toggle="tab"><%= t(:"common.profile.company_info.title") %></a></li>
      </ul>
      <div class="tab-content" >
        <div class="tab-pane active" id="lA">
          <div style="width: 500px; height: 80px;">
            <div style="float:left; width: 70px; height: 70px;">
              <% if user.image.blank? %>
                  <%= image_tag '48x48/user48x48.jpg', :style => 'width:48px; height:48px', :class => "user_image_48" %>
              <% else %>
                  <%= image_tag user.image, :class => "user_image_48" %>
              <% end %>
            </div>
            <div style="float:left; width: 300px; height: 70px;"> <p></p><p style="font-size: 14px;">
              <b style="font-size: 16px"><%= user.user_id %></b><br/>(<%= user.email %>)</p>
            </div>
            <div style="float: left; width: 100px; height: 70px; text-align: right;">
              <% if !user.facebook_url.blank? %>
                  <a href="#"><%= image_tag '24x24/facebookIcon24x24.jpg' %></a>
              <% end %>
              <% if !user.twitter_url.blank? %>
                  <a href="#"><%= image_tag '24x24/twitterIcon24x24.jpg' %></a>
              <% end %>
              <% if !user.google_url.blank? %>
                  <a href="#"><%= image_tag '24x24/googleIcon24x24.jpg' %></a>
              <% end %>



            </div>
          </div>
          <div style="width: 500px; height: 400px;">
            <p><b style="font-size: 14px; color: blue;"><%= t(:"common.profile.basic.name") %></b>&nbsp;&nbsp;<%= user.name %></p>
            <p><b style="font-size: 14px; color: blue;"><%= t(:"common.profile.basic.location") %></b>&nbsp;&nbsp;<%= Carmen::Country.coded("#{user.country}").name if user.country.present? %></p>
            <p style="font-size: 12px;"><b style="font-size: 14px; color: blue;"><%= t(:"common.profile.basic.interest_area") %></b><br/>
              <% user.interest_areas.map(&:title).join(' | ') %>

            </p>
            <p style="font-size: 12px;"><b style="font-size: 14px; color: blue;"><%= t(:"common.profile.basic.detail_info") %></b><br/>
              <%= user.detail_info %>
            </p>
            <hr style="margin-bottom: 5px; margin-top: 5px;">
            <% if current_user.present? and current_user.id != user.id %>
            <p>
              <%= render :partial => 'commons/partial/message_submit_form',
                         :locals => {
                                 :user_id => user.id ,
                                 :text_style => 'width: 380px; height: 30px; margin-bottom: 0px; font-size: 12px;',
                                 :text_class => 'message_body',
                                 :button_style => 'height: 20px; padding-bottom: 5px; padding-top: 6px; font-size: 11px;',
                                 :button_class => 'btn btn-small btn-info'
                         }

              %>
            </p>
            <% end %>
          </div>
        </div>
        <div class="tab-pane" id="lB">
          <div style="width: 560px; height: 400px; overflow-y: scroll;">
            <table class="table">
              <tbody>
              <% user.showcases.publish.each do |s| %>
              <tr>
                <td style="border:0px;" class=""><a href="/showcases/<%= s.id %>">
                  <div class="showcase_image_container profile_showcase_image" style="width: 140px; height: 100px;">
                  <% s.contents.each do |c| %>
                    <% if c.source_type == 'youtube' %>
                          <%= image_tag "http://img.youtube.com/vi/#{c.source_id}/0.jpg" %>
                          <% break %>
                    <% else %>
                          <%= image_tag c.url %>
                          <% break %>

                    <% end %>
                  <% end %>
                  </div>
                </a></td>
                <td style="font-size: 12px; border:0px;"><%= s.title %></td>
              </tr>
              <% end %>

              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane" id="lC">

          <div style="width: 500px; height: 450px;">
            <p><b style="font-size: 14px; color: blue;"><%= t(:"common.profile.company_info.name") %></b>&nbsp;&nbsp;<%= user.company_name %></p>
            <p><b style="font-size: 14px; color: blue;"><%= t(:"common.profile.company_info.location") %></b>&nbsp;&nbsp;<%= user.company_location %></p>
            <p><b style="font-size: 14px; color: blue;"><%= t(:"common.profile.company_info.homepage") %></b>&nbsp;&nbsp;<%= user.company_homepage %></p>
            <p><b style="font-size: 14px; color: blue;"><%= t(:"common.profile.company_info.manager") %></b>&nbsp;&nbsp;<%= user.company_person %></p>
            <p><b style="font-size: 14px; color: blue;"><%= t(:"common.profile.company_info.phone") %></b>&nbsp;&nbsp;<%= user.company_phone %></p>
            <p style="font-size: 12px;"><b style="font-size: 14px; color: blue;"><%= t(:"common.profile.company_info.main_item") %></b><br/>
              <%= user.company_main_product_list.join(' | ') %>
            </p>
            <p style="font-size: 12px;"><b style="font-size: 14px; color: blue;"><%= t(:"common.profile.company_info.detail_info") %></b><br/>
              <%= user.company_detail_info %>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div> <!--------Modal Body END----------->
</div>  <!--Profile Modal end-->