# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://jashkenas.github.com/coffee-script/

$ ->
  $('#login_btn').on 'click', ->
    if validate()
      $('#login_submit').click()

  $('#password').on 'keyup', (e) ->
    if e.keyCode == 13
      if validate()
        $('#login_submit').click()

  $("form#sign_in_user").bind "ajax:success", (e, data, status, xhr) ->
    if data.success
      window.location = data.redirect_url
    else
      alert("로그인 정보가 없습니다. 회원가입을 해 주세요.")

  $("form#sign_in_user").bind "ajax:error", (e, data, status, xhr) ->

    if data.status == 406
      alert("이메일 확인이 되지 않았습니다.\n메일을 확인해 주세요.")



  $('#index').backstretch([
                  "<%= asset_path('background/index_1.jpg') %>",
                  "<%= asset_path('background/index_2.jpg') %>",
                  "<%= asset_path('background/index_3.jpg') %>",
                  "<%= asset_path('background/index_4.jpg') %>",
                  "<%= asset_path('background/index_5.jpg') %>"


                ], {duration: 4000, fade: 2000})

  $(window).on 'backstretch.before', (e, instance, index) ->


  $('.head').fadeTo(1000, 0.5)

  $('#login_btn_new').on 'click', (e) ->
    e.preventDefault()
    e.stopPropagation()

    $(@).removeClass('ff')
    $(@).addClass('ff_disable')


    $('.login_notice').hide()

    $('.login_txt').hide()
    $('.loading_div').css('display', 'inline-block')

    if validate_new()
      $('#login_submit_new').click()
    else
        setTimeout  ->
          $('.login_txt').show()
          $('.loading_div').hide()
          $('.login_notice').slideDown()
          $('.login_btn').addClass('ff')
          $('.login_btn').removeClass('ff_disable')

        ,2000


#  $('#login_btn_new').on 'click', ->
#    e.preventDefault()
#
#    if validate()
#      $('#login_submit_new').click()

  $('#password_new').on 'keyup', (e) ->
    e.preventDefault()

    if e.keyCode == 13
      $('#login_btn_new').click()

  $("form#sign_in_user_new").bind "ajax:success", (e, data, status, xhr) ->
    if data.success
      window.location = data.redirect_url
    else
      $('.login_notice').append('<p>로그인 정보가 없습니다.</p> <p>회원가입을 해 주세요.</p>')
      setTimeout  ->
        $('.login_txt').show()
        $('.loading_div').hide()
        $('.login_notice').slideDown()
        $('.login_btn').addClass('ff')
        $('.login_btn').removeClass('ff_disable')

      ,1000

  $("form#sign_in_user_new").bind "ajax:error", (e, data, status, xhr) ->

    if data.status == 406
      $('.login_notice').append('<p>이메일 확인이 되지 않았습니다.</p> <p>이메일을 확인해 주세요.</p>')
      setTimeout  ->
        $('.login_txt').show()
        $('.loading_div').hide()
        $('.login_notice').slideDown()
        $('.login_btn').addClass('ff')
        $('.login_btn').removeClass('ff_disable')

      ,1000




  $('#signup_btn_new').on 'click', (e) ->

    e.preventDefault()
    e.stopPropagation()

    $(@).removeClass('ff')
    $(@).addClass('ff_disable')


    $('.login_notice').hide()

    $('.login_txt').hide()
    $('.loading_div').css('display', 'inline-block')

    if validate_signup_new()
      $.ajax '/id_and_email_check',
        type: 'get'
        data: 'user_id=' + $('#id_new').val() + "&email=" + $('#email_new').val()
        dataType: 'json'
        success: (data, textStatus, jqXHR) ->
          $('.login_notice').empty()

          if Number(data.email_count) > 0
            $('.login_notice').append('<p>중복된 이메일이 있습니다.</p>')
          if Number(data.id_count) > 0
            $('.login_notice').append('<p>중복된 아이디가 있습니다.</p>')

          if Number(data.email_count) > 0 or Number(data.id_count) > 0
            $('.login_btn').addClass('ff')
            $('.login_btn').removeClass('ff_disable')
            $('.login_txt').show()
            $('.loading_div').hide()
            $('.login_notice').slideDown()
          else

            $('#signup_submit_new').click()

        error: (jqXHR, textStatus, errorThrown) ->
          $('.login_notice').empty()
          $('.login_notice').append('<p>회원가입 중 에러가 발생했습니다.</p>')
          $('.login_txt').show()
          $('.loading_div').hide()
          $('.login_notice').slideDown()
          $('.login_btn').addClass('ff')
          $('.login_btn').removeClass('ff_disable')

        #$('#signup_submit_new').click()
    else
        setTimeout  ->
            $('.login_txt').show()
            $('.loading_div').hide()
            $('.login_notice').slideDown()
            $('.login_btn').addClass('ff')
            $('.login_btn').removeClass('ff_disable')

        ,1000



  $('#password_new_signup').on 'keyup', (e) ->

    e.preventDefault()
    e.stopPropagation()

    if e.keyCode == 13
      $('#signup_btn_new').click()


  $('.about_header').on 'click', ->

    $('.guide').slideToggle()

  $('.guide_close').on 'click', ->
    $('.guide').slideUp()

  $('.carousel').carousel(interval: false)


  $('#about_image').on 'click', ->

    $('#about_image').addClass('active')
    $('#about_youtube').removeClass('active')
    $('.about_youtube').hide();
    $('.about_image').show()
    $('.carousel').carousel(interval: false)

  $('#about_youtube').on 'click', ->
    $('#about_youtube').addClass('active')
    $('#about_image').removeClass('active')
    $('.about_image').hide();
    $('.about_youtube').show()
    $('.carousel').carousel(interval: false)



validate_signup_new = ->

    email_filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/
    email_validate = true
    password_validate = true
    id_validate = true

    $('.login_notice').empty()

    if $('#email_new').val() == ''
        $('.login_notice').append('<p>이메일을 입력하셔야 합니다.</p>')
        email_validate = false
    else
      if !email_filter.test($('#email_new').val())
        $('.login_notice').append('<p>이메일 형식으로 입력하셔야 합니다.</p>')
        email_validate = false

    if $('#id_new').val() == ''
        $('.login_notice').append('<p>아이디를 입력하셔야 합니다.</p>')
        id_validate = false

    if $('#password_new_signup').val() == ''
        $('.login_notice').append('<p>패스워드를 입력하셔야 합니다.</p>')
        password_validate = false

    if email_validate and password_validate and id_validate
        return true
    else
        return false



validate = ->
  if $('#email').val() == ''
    alert("이메일을 입력하세요.")
    return false

  if $('#password').val() == ''
    alert('비밀번호를 입력하세요.')
    return false

  return true

validate_new = ->

  email_validate = true
  password_validate = true

  $('.login_notice').empty()

  if $('#email_new').val() == ''
    $('.login_notice').append('<p>이메일을 입력하셔야 합니다.</p>')
    email_validate = false

  if $('#password_new').val() == ''
    $('.login_notice').append('<p>패스워드를 입력하셔야 합니다.</p>')
    password_validate = false

  if email_validate and password_validate
    return true
  else
    return false


id_and_email_check = ->
  $.ajax '/id_and_email_check',
    type: 'get'
    data: 'user_id=' + $('#id_new').val() + "&email=" + $('#email_new').val()
    dataType: 'json'
    success: (data, textStatus, jqXHR) ->

      if Number(data.count) > 0
        alert("중복된 아이디가 있습니다.\n다른 아이디를 입력해 주세요.")
        $('#user_user_id').val('')
        $('#user_user_id').focus()
      else
        $('#user_id_ok').css("display", "inline-block")

    error: (jqXHR, textStatus, errorThrown) ->

      alert("에러가 발생했습니다.")



