<div class="container-fluid">
  <div class="row-fluid">

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>
  <fieldset>

    <legend><i class="icon-lock"></i> 비밀번호를 변경하세요.</legend>
    <label for="new_password">새 비밀번호</label>
    <%= f.password_field :password, :id => "new_password" %>

    <label for="new_password_confirmation">새 비밀번호 확인</label>
    <%= f.password_field :password_confirmation, :id => "new_password_confirmation" %></div>

    <%= f.submit "비밀번호 변경", :class => "btn btn-primary", :style => "display:none", :id => "change_password_submit" %>
    <button type="button" class="btn btn-primary" id="change_password_btn">비밀번호 변경</button>
  </fieldset>

<% end %>

    </div>
</div>
