<div class="container-fluid">
  <div class="row-fluid">


<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
    <fieldset>
        <legend><i class="icon-question-sign"></i> 패스워드를 분실하셨나요?</legend>

        <label for="email"><i class="icon-envelope"></i> 이메일</label>
        <%= f.email_field :email, :id => "reset_email" %>
        <span class="help-block">
          패스워드 초기화 이메일이 발송됩니다.
        </span>
        <%= f.submit "이메일 전송", :class => "btn btn-primary" %>
    </fieldset>

<% end %>

</div>
  </div>

