<%
conversations.each do |conversation|
    receipts = conversation.receipts_for user
    receipts.each do |receipt|
        message = receipt.message
        sender = User.find(message.sender_id)
        showcase = Showcase.where(:id => message.showcase_id).first
        if showcase.present?
%>
        <tr style="<% if receipt.is_unread? %>background-color: #dddddd;<% end %> cursor: pointer" onclick="location.href='/user_info/<%= current_user.id %>/agent_request'">
            <td style="width:40px;">
            <% if sender.image.blank? %>
                <%= image_tag '48x48/user48x48.jpg', :style => "width: 40px; height: 40px;", :class => "profile_showcase_image" %>
            <% else %>
                <%= image_tag sender.image, :style => "width: 40px; height: 40px;", :class => "profile_showcase_image" %>'
            <% end %>
            </td>
            <td>

            <% if message.body == 'agent_result' %>
                <% if message.subject == 'true' %>
                    <p><%= t(:'header.notification.agent_request_accept', :user_id => sender.user_id, :title => showcase.title ) %></p>
                <% else %>
                    <p><%= t(:'header.notification.agent_request_reject', :user_id => sender.user_id, :title => showcase.title ) %></p>
                <% end %>

            <% else %>
                <p><%= t(:'header.notification.agent_request', :user_id => sender.user_id, :title => showcase.title ) %></p>
            <% end %>
            </td>
            <td></td>
        </tr>
        <% end %>
    <% end %>
<% end %>