<%
conversations.each do |conversation|
    receipts = conversation.receipts_for user
    receipts.each do |receipt|
        message = receipt.message
        image = User.find(message.sender_id).image

%>
        <tr style="<% if receipt.is_unread? %>background-color: #dddddd;<% end %> cursor: pointer;" onclick="location.href='/user_info/<%= current_user.id %>/message'">
            <td style="width:40px;">
            <% if image.blank? %>
                <%= image_tag '48x48/user48x48.jpg', :style => "width: 40px; height: 40px;", :class => "profile_showcase_image" %>
            <% else %>
                <%= image_tag image, :style => "width: 40px; height: 40px;", :class => "profile_showcase_image" %>
            <% end %>
            </td>

            <td>
                <p><%= simple_format message.body %></p>
                <p style="text-align: right;"><%= message.created_at.strftime('%Y-%m-%d') %></p>
            </td>
            <td></td>
        </tr>

    <% end %>
<% end %>