<div class="container-fluid">
  <div class="row-fluid">
    <div class="BackLayout" style="width:1140px; height:840px; relative; margin: auto; background-color: white; padding: 30px;">

          <div class="tabbable tabs-left" >
            <ul class="nav nav-tabs" id="user_info_tab" style="margin-right: 20px; position: fixed;">
              <li class="active" style="font-size: 12px;">
                <%= link_to about_path  do %>
                    <i class="icon-question-sign icon-white icon-large"></i> 회사소개
                <% end %>
              </li>
              <li style="font-size: 12px;">
                <%= link_to partnership_suggestion_path  do %>
                    <i class="icon-group icon-white icon-large"></i> 제휴제안
                <% end %>
              </li>
              <li style="font-size: 12px;">
                <%= link_to agreement_of_utilization_path do %>
                    <i class="icon-book icon-white icon-large"></i> 이용약관
                <% end %>
              </li>
              <li style="font-size: 12px;">
                <%= link_to privacy_policy_path do %>
                    <i class="icon-lock icon-white icon-large"></i> 개인정보취급방침
                <% end %>
              </li>

            </ul>

      <div class="tab-content" style="margin-left: 220px;" id="tab_content" >
        <div>
          <p><%= @about.introduction %></p>
        </div>

      </div>
      </div>


    </div>
  </div>
</div>
