<script>
    $(function() {
        $('#message_submit_btn').click(function() {
            if ($(this).parent().find('#message_body').val() == '') {
                alert("<%= t(:"common.message_alert")  %>");
                $(this).parent().find('#message_body').focus();

                return
            }

            $(this).parent().find('#message_submit').click();
            $(this).parent().find('#message_body').val('');

        })




    });
</script>

<%= form_tag user_info_message_send_path, :remote => true do %>
    <input type="hidden" name="target_user_id" id="target_user_id" value="<%= user_id %>">
    <input type="submit" class="message_submit" id="message_submit" style="display: none">
    <textarea row="2" name="message_body" id="message_body" class="<%= text_class %>" style="<%= text_style %>"></textarea>
    <a  class="<%= button_class %>" id="message_submit_btn" style="<%= button_style %>"><%= t(:"common.message_button") %></a>
<% end %>