/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require quusome
 *= require screen
 *= require bootstrap-modal
 *= require jquery-ui
 *= require nanoscroller
 *= require bootstrap-select
 *= require jquery.tagit
 *= require tagit.ui-zendesk
 *= require imgLiquid
 *= require ilightbox

 *= require buy_slots
 *= require checkbox
 *= require ie
 *= require layout
 *= require print
 *= require showcase_images
 *= require showcases
 *= require user_info
 *= require users
 *= require youtubes

 */

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
    font-family: 'Nanum Gothic', serif;
}

.notice{
    background-color: #f9edbe;
    padding:5px;
    border-bottom: 3px solid #f0c36d;
    height: 40px;
}

#notification p {
    margin:0px;
    text-align:left;
    font-size: 12px;
//color: white;
//text-shadow: 2px 0px 0px black;

}

.browser_icon {
    width: 20px;
    height: 20px;
    padding: 5px;
}

#about_youtube {
    cursor: pointer;
}

#about_image {
    cursor: pointer;
}

.about_youtube {
    display: none;
}





