// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



@import "compass/css3";

@import "font-awesome";

//@import url(//weloveiconfonts.com/api/?family=fontawesome);


/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- http://meyerweb.com/eric/tools/css/reset/ ---------- */

@import url(//reset5.googlecode.com/hg/reset.min.css);
@import url(//fonts.googleapis.com/css?family=Fredoka+One);
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);




body#index {

  font: 14px/1.5em  Arial, sans-serif;
  overflow-y: hidden;
}
input {

  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  appearance: none;
}

/* login */
.login {
  position: relative;
  width: 242px;
  margin: 150px auto;



}
.login label {
  position: absolute;
  display: block;
  width: 36px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-family: 'FontAwesome', sans-serif;
  color: #676767;
  text-shadow: 0 1px 0 #fff;
}
.login input {
  border: none;
  width: 204px;
  height: 48px;
  padding-left: 36px;
  border: 1px solid #000;
  //background-color: #dedede;
  //background: -webkit-linear-gradient(top, #c3c3c3 0%, #eaeaea 100%);
  color: #363636;
  text-shadow: 0 1px 0 #fff;
  outline: none;
  @include box-shadow(1px 1px 10px rgba(47,47,47,.2) inset);

}
.login input[type="email"] {
  border-bottom: none;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow:inset 0 -1px 0 rgba(47,47,47,.2);
  -moz-box-shadow:inset 0 -1px 0 rgba(47,47,47,.2);
  box-shadow:inset 0 -1px 0 rgba(47,47,47,.2);

}
.login input[type="password"] {
  border-top:none;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  margin-bottom: 20px;
  -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, .3), 0 -1px 1px rgba(47,47,47,.2);
  -moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, .3), 0 -1px 1px rgba(47,47,47,.2);
  box-shadow:inset 0 1px 0 rgba(255, 255, 255, .3), 0 -1px 1px rgba(47,47,47,.2);
}

.login input[type="text"] {
  border-top:none;
  border-bottom: none;
  -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 1px rgba(47,47,47,.2);
  -moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 1px rgba(47,47,47,.2);
  box-shadow:inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 1px rgba(47,47,47,.2);
}
.login input[type="submit"] {
  margin: 0;
  padding: 0;
  width: 240px;
  background-color: #e14d4d;
  border: 1px solid #391515;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  line-height: 48px;
  text-transform: uppercase;
  /* background-image: none; */
  background-image:-webkit-linear-gradient(top, #f15958 0%, #e14d4d 100%);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), 0 1px 1px rgba(0, 0, 0, .2) ;
  -moz-box-shadow: hoff voff radius color;
  box-shadow: hoff voff radius color;
  text-shadow: 0 1px 0 #000;
}
.login input[type="submit"]:hover {
  background-color: #f15958;
  background-image:-webkit-linear-gradient(top, #e14d4d 0%, #f55b5b 100%);
}

.logo {
  font-family: 'Nanum Gothic', serif;
  text-align: center;
  font-weight: 800;
  color: white;
  font-size: 40px;
  margin-bottom: 40px;



  text-shadow:
    1px 0px 0px black,
    0px 1px 0px black,
    0px 2px 0px #b0b0b0,
    0px 3px 0px #a0a0a0,
    0px 4px 0px #909090,
    0px 5px 10px rgba(0, 0, 0, 0.6)
  ;
}

.head {

  z-index: 999;
  background-color: #000000;
  opacity: 0.0;
  box-shadow: 0 5px 50px rgba(0,0,0,0.4);



  left:0;
  height:70px;
  width:100%;

  .welcome {
    font-family: 'Nanum Gothic', serif;
    position:relative;
    top:25px;
    width:100%;
    color:#ffffff;
    text-align: center;
    text-shadow:1px 1px 2px black;
    font-size:25px;
  }
}

.login_link {
  font-family: 'Nanum Gothic', serif;
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
  a {
    text-decoration: none;
    color: white;

    text-shadow: 2px 0px 0px black;

    &:active {
      position:relative;
      top:2px;
    }
  }
}

.login_notice {
  display: none;
  padding: 10px;
  background-color: rgba(235, 70, 73, 0.60);

  width: 220px;

  margin-top: 15px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  //border: 1px solid #391515;
  @include box-shadow(2px 2px 10px rgba(47,47,47,.2) inset);
  font-family: 'Nanum Gothic', serif;
  color: #f5f5f5;
  font-size: 12px;
  text-align: center;


  text-shadow: 1px 0px 0px black;

}



.ff {


  background-image:-webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.1));
  background-image:-moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.1));
  background-image:-ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.1));
  background-image:-o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.1));
  background-image:linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.1));
  display:inline-block;
  vertical-align:middle;


  text-align:center;
  color:white;
  text-decoration:none;
  text-shadow:0px 1px 0px rgba(0,0,0,0.1);
  -webkit-box-shadow:inset 0px -3px 0px rgba(0,0,0,0.1), 0px 3px 0px rgba(0,0,0,0.1);
  -moz-box-shadow:inset 0px -3px 0px rgba(0,0,0,0.1), 0px 3px 0px rgba(0,0,0,0.1);
  box-shadow:inset 0px -3px 0px rgba(0,0,0,0.1), 0px 3px 0px rgba(0,0,0,0.1);
  padding:0px 15px 3px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}







.ff.green  {

  position: relative;
  z-index: 1;
  background-color:#82C43A;
  width: 80px;
  height: 35px;
  font-weight: bold;
  line-height: 35px;
}

.ff.red   {
  border: 1px solid #391515;
  background-color:#F5494C;
  margin: 0;
  padding: 0;
  width: 240px;
  height: 35px;
  font-weight: bold;
  line-height: 35px;

}

.ff_disable {
  background-image:-webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.1));
  background-image:-moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.1));
  background-image:-ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.1));
  background-image:-o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.1));
  background-image:linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.1));
  display:inline-block;
  vertical-align:middle;

  text-align:center;
  color:white;
  text-decoration:none;
  text-shadow:0px 1px 0px rgba(0,0,0,0.1);
  -webkit-box-shadow:inset 0px -3px 0px rgba(0,0,0,0.1), 0px 3px 0px rgba(0,0,0,0.1);
  -moz-box-shadow:inset 0px -3px 0px rgba(0,0,0,0.1), 0px 3px 0px rgba(0,0,0,0.1);
  box-shadow:inset 0px -3px 0px rgba(0,0,0,0.1), 0px 3px 0px rgba(0,0,0,0.1);
  padding:0px 15px 3px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;

  border: 1px solid #391515;
  background-color: #f56a6c;
  margin: 0;
  padding: 0;
  width: 240px;
  height: 35px;
  font-weight: bold;
  line-height: 35px;
}

.ff.blue  {

  position: relative;
  z-index: 1;
  background-color:#659AE0;
  width: 80px;
  height: 35px;
  font-weight: bold;
  line-height: 35px;
}

.ff:hover {
  background-image:-webkit-linear-gradient(top, rgba(0,0,0,0.05), rgba(0,0,0,0.2));
  background-image:-moz-linear-gradient(top, rgba(0,0,0,0.05), rgba(0,0,0,0.2));
  background-image:-ms-linear-gradient(top, rgba(0,0,0,0.05), rgba(0,0,0,0.2));
  background-image:-o-linear-gradient(top, rgba(0,0,0,0.05), rgba(0,0,0,0.2));
  background-image:linear-gradient(top, rgba(0,0,0,0.05), rgba(0,0,0,0.2));
}


.ff:active {
  position:relative;
  top:2px;
  -webkit-box-shadow:inset 0px -1px 0px rgba(0,0,0,0.1), 0px 2px 0px rgba(0,0,0,0.1);
  -moz-box-shadow:inset 0px -1px 0px rgba(0,0,0,0.1), 0px 2px 0px rgba(0,0,0,0.1);
  box-shadow:inset 0px -1px 0px rgba(0,0,0,0.1), 0px 2px 0px rgba(0,0,0,0.1);
}




.clock-loader {

  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  top: 4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid white;
}

.clock-loader:before, .clock-loader:after {
  content: '';
  position: absolute;
  bottom: 8px;
  left: 7px;
  width: 2px;
  height: 7px;
  color: white;
  -webkit-box-sizing: border-box;
  -moz--box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  border: 1px solid white;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;

  -webkit-animation: clock .8s linear infinite;
  -moz-animation: clock .8s linear infinite;
  -o-animation: clock .8s linear infinite;
  animation: clock .8s linear infinite;
}

.clock-loader:after {
  height: 5px;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  animation-duration: 4s;
}


@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@include keyframes(clock) {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loading span {
  display: inline-block;
  vertical-align: middle;
  width: .6em;
  height: .6em;
  margin: .2em;
  background: rgba(255, 174, 174, 0.77);
  border-radius: .6em;

  -webkit-animation: loading 0.8s infinite alternate;
  -moz-animation: loading 0.8s infinite alternate;
  -o-animation: loading 0.8s infinite alternate;
  animation: loading 0.8s infinite alternate;
}
.loading span:nth-of-type(2) {
  background: rgba(255, 174, 174, 0.77);
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.loading span:nth-of-type(3) {
  background: rgba(255, 174, 174, 0.77);
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  animation-delay: 0.4s;

}
.loading span:nth-of-type(4) {
  background: rgba(255, 174, 174, 0.77);
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.loading span:nth-of-type(5) {
  background: rgba(255, 174, 174, 0.77);
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
//.loading span:nth-of-type(6) {
//  background: #5AB027;
//  -webkit-animation-delay: 1.0s;
//}
//.loading span:nth-of-type(7) {
//  background: #A0B61E;
//  -webkit-animation-delay: 1.2s;
//}
@include keyframes(loading) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.notice{
  background-color: #f9edbe;
  padding:5px;
  border-bottom: 3px solid #f0c36d;
  height: 40px;
}

#notification p {
  margin:0px;
  text-align:left;
  font-size: 12px;
  //color: white;
  //text-shadow: 2px 0px 0px black;

}

.browser_icon {
  width: 20px;
  height: 20px;
  padding: 5px;
}


.fontawesome-glass:before{content:"\f000"}.fontawesome-music:before{content:"\f001"}.fontawesome-search:before{content:"\f002"}.fontawesome-envelope:before{content:"\f003"}.fontawesome-heart:before{content:"\f004"}.fontawesome-star:before{content:"\f005"}.fontawesome-star-empty:before{content:"\f006"}.fontawesome-user:before{content:"\f007"}.fontawesome-film:before{content:"\f008"}.fontawesome-th-large:before{content:"\f009"}.fontawesome-th:before{content:"\f00a"}.fontawesome-th-list:before{content:"\f00b"}.fontawesome-ok:before{content:"\f00c"}.fontawesome-remove:before{content:"\f00d"}.fontawesome-zoom-in:before{content:"\f00e"}.fontawesome-zoom-out:before{content:"\f010"}.fontawesome-off:before{content:"\f011"}.fontawesome-signal:before{content:"\f012"}.fontawesome-cog:before{content:"\f013"}.fontawesome-trash:before{content:"\f014"}.fontawesome-home:before{content:"\f015"}.fontawesome-file:before{content:"\f016"}.fontawesome-time:before{content:"\f017"}.fontawesome-road:before{content:"\f018"}.fontawesome-download-alt:before{content:"\f019"}.fontawesome-download:before{content:"\f01a"}.fontawesome-upload:before{content:"\f01b"}.fontawesome-inbox:before{content:"\f01c"}.fontawesome-play-circle:before{content:"\f01d"}.fontawesome-repeat:before{content:"\f01e"}.fontawesome-refresh:before{content:"\f021"}.fontawesome-list-alt:before{content:"\f022"}.fontawesome-lock:before{content:"\f023"}.fontawesome-flag:before{content:"\f024"}.fontawesome-headphones:before{content:"\f025"}.fontawesome-volume-off:before{content:"\f026"}.fontawesome-volume-down:before{content:"\f027"}.fontawesome-volume-up:before{content:"\f028"}.fontawesome-qrcode:before{content:"\f029"}.fontawesome-barcode:before{content:"\f02a"}.fontawesome-tag:before{content:"\f02b"}.fontawesome-tags:before{content:"\f02c"}.fontawesome-book:before{content:"\f02d"}.fontawesome-bookmark:before{content:"\f02e"}.fontawesome-print:before{content:"\f02f"}.fontawesome-camera:before{content:"\f030"}.fontawesome-font:before{content:"\f031"}.fontawesome-bold:before{content:"\f032"}.fontawesome-italic:before{content:"\f033"}.fontawesome-text-height:before{content:"\f034"}.fontawesome-text-width:before{content:"\f035"}.fontawesome-align-left:before{content:"\f036"}.fontawesome-align-center:before{content:"\f037"}.fontawesome-align-right:before{content:"\f038"}.fontawesome-align-justify:before{content:"\f039"}.fontawesome-list:before{content:"\f03a"}.fontawesome-indent-left:before{content:"\f03b"}.fontawesome-indent-right:before{content:"\f03c"}.fontawesome-facetime-video:before{content:"\f03d"}.fontawesome-picture:before{content:"\f03e"}.fontawesome-pencil:before{content:"\f040"}.fontawesome-map-marker:before{content:"\f041"}.fontawesome-adjust:before{content:"\f042"}.fontawesome-tint:before{content:"\f043"}.fontawesome-edit:before{content:"\f044"}.fontawesome-share:before{content:"\f045"}.fontawesome-check:before{content:"\f046"}.fontawesome-move:before{content:"\f047"}.fontawesome-step-backward:before{content:"\f048"}.fontawesome-fast-backward:before{content:"\f049"}.fontawesome-backward:before{content:"\f04a"}.fontawesome-play:before{content:"\f04b"}.fontawesome-pause:before{content:"\f04c"}.fontawesome-stop:before{content:"\f04d"}.fontawesome-forward:before{content:"\f04e"}.fontawesome-fast-forward:before{content:"\f050"}.fontawesome-step-forward:before{content:"\f051"}.fontawesome-eject:before{content:"\f052"}.fontawesome-chevron-left:before{content:"\f053"}.fontawesome-chevron-right:before{content:"\f054"}.fontawesome-plus-sign:before{content:"\f055"}.fontawesome-minus-sign:before{content:"\f056"}.fontawesome-remove-sign:before{content:"\f057"}.fontawesome-ok-sign:before{content:"\f058"}.fontawesome-question-sign:before{content:"\f059"}.fontawesome-info-sign:before{content:"\f05a"}.fontawesome-screenshot:before{content:"\f05b"}.fontawesome-remove-circle:before{content:"\f05c"}.fontawesome-ok-circle:before{content:"\f05d"}.fontawesome-ban-circle:before{content:"\f05e"}.fontawesome-arrow-left:before{content:"\f060"}.fontawesome-arrow-right:before{content:"\f061"}.fontawesome-arrow-up:before{content:"\f062"}.fontawesome-arrow-down:before{content:"\f063"}.fontawesome-share-alt:before{content:"\f064"}.fontawesome-resize-full:before{content:"\f065"}.fontawesome-resize-small:before{content:"\f066"}.fontawesome-plus:before{content:"\f067"}.fontawesome-minus:before{content:"\f068"}.fontawesome-asterisk:before{content:"\f069"}.fontawesome-exclamation-sign:before{content:"\f06a"}.fontawesome-gift:before{content:"\f06b"}.fontawesome-leaf:before{content:"\f06c"}.fontawesome-fire:before{content:"\f06d"}.fontawesome-eye-open:before{content:"\f06e"}.fontawesome-eye-close:before{content:"\f070"}.fontawesome-warning-sign:before{content:"\f071"}.fontawesome-plane:before{content:"\f072"}.fontawesome-calendar:before{content:"\f073"}.fontawesome-random:before{content:"\f074"}.fontawesome-comment:before{content:"\f075"}.fontawesome-magnet:before{content:"\f076"}.fontawesome-chevron-up:before{content:"\f077"}.fontawesome-chevron-down:before{content:"\f078"}.fontawesome-retweet:before{content:"\f079"}.fontawesome-shopping-cart:before{content:"\f07a"}.fontawesome-folder-close:before{content:"\f07b"}.fontawesome-folder-open:before{content:"\f07c"}.fontawesome-resize-vertical:before{content:"\f07d"}.fontawesome-resize-horizontal:before{content:"\f07e"}.fontawesome-bar-chart:before{content:"\f080"}.fontawesome-twitter-sign:before{content:"\f081"}.fontawesome-facebook-sign:before{content:"\f082"}.fontawesome-camera-retro:before{content:"\f083"}.fontawesome-key:before{content:"\f084"}.fontawesome-cogs:before{content:"\f085"}.fontawesome-comments:before{content:"\f086"}.fontawesome-thumbs-up:before{content:"\f087"}.fontawesome-thumbs-down:before{content:"\f088"}.fontawesome-star-half:before{content:"\f089"}.fontawesome-heart-empty:before{content:"\f08a"}.fontawesome-signout:before{content:"\f08b"}.fontawesome-linkedin-sign:before{content:"\f08c"}.fontawesome-pushpin:before{content:"\f08d"}.fontawesome-external-link:before{content:"\f08e"}.fontawesome-signin:before{content:"\f090"}.fontawesome-trophy:before{content:"\f091"}.fontawesome-github-sign:before{content:"\f092"}.fontawesome-upload-alt:before{content:"\f093"}.fontawesome-lemon:before{content:"\f094"}.fontawesome-phone:before{content:"\f095"}.fontawesome-check-empty:before{content:"\f096"}.fontawesome-bookmark-empty:before{content:"\f097"}.fontawesome-phone-sign:before{content:"\f098"}.fontawesome-twitter:before{content:"\f099"}.fontawesome-facebook:before{content:"\f09a"}.fontawesome-github:before{content:"\f09b"}.fontawesome-unlock:before{content:"\f09c"}.fontawesome-credit-card:before{content:"\f09d"}.fontawesome-rss:before{content:"\f09e"}.fontawesome-hdd:before{content:"\f0a0"}.fontawesome-bullhorn:before{content:"\f0a1"}.fontawesome-bell:before{content:"\f0a2"}.fontawesome-certificate:before{content:"\f0a3"}.fontawesome-hand-right:before{content:"\f0a4"}.fontawesome-hand-left:before{content:"\f0a5"}.fontawesome-hand-up:before{content:"\f0a6"}.fontawesome-hand-down:before{content:"\f0a7"}.fontawesome-circle-arrow-left:before{content:"\f0a8"}.fontawesome-circle-arrow-right:before{content:"\f0a9"}.fontawesome-circle-arrow-up:before{content:"\f0aa"}.fontawesome-circle-arrow-down:before{content:"\f0ab"}.fontawesome-globe:before{content:"\f0ac"}.fontawesome-wrench:before{content:"\f0ad"}.fontawesome-tasks:before{content:"\f0ae"}.fontawesome-filter:before{content:"\f0b0"}.fontawesome-briefcase:before{content:"\f0b1"}.fontawesome-fullscreen:before{content:"\f0b2"}.fontawesome-group:before{content:"\f0c0"}.fontawesome-link:before{content:"\f0c1"}.fontawesome-cloud:before{content:"\f0c2"}.fontawesome-beaker:before{content:"\f0c3"}.fontawesome-cut:before{content:"\f0c4"}.fontawesome-copy:before{content:"\f0c5"}.fontawesome-paper-clip:before{content:"\f0c6"}.fontawesome-save:before{content:"\f0c7"}.fontawesome-sign-blank:before{content:"\f0c8"}.fontawesome-reorder:before{content:"\f0c9"}.fontawesome-list-ul:before{content:"\f0ca"}.fontawesome-list-ol:before{content:"\f0cb"}.fontawesome-strikethrough:before{content:"\f0cc"}.fontawesome-underline:before{content:"\f0cd"}.fontawesome-table:before{content:"\f0ce"}.fontawesome-magic:before{content:"\f0d0"}.fontawesome-truck:before{content:"\f0d1"}.fontawesome-pinterest:before{content:"\f0d2"}.fontawesome-pinterest-sign:before{content:"\f0d3"}.fontawesome-google-plus-sign:before{content:"\f0d4"}.fontawesome-google-plus:before{content:"\f0d5"}.fontawesome-money:before{content:"\f0d6"}.fontawesome-caret-down:before{content:"\f0d7"}.fontawesome-caret-up:before{content:"\f0d8"}.fontawesome-caret-left:before{content:"\f0d9"}.fontawesome-caret-right:before{content:"\f0da"}.fontawesome-columns:before{content:"\f0db"}.fontawesome-sort:before{content:"\f0dc"}.fontawesome-sort-down:before{content:"\f0dd"}.fontawesome-sort-up:before{content:"\f0de"}.fontawesome-envelope-alt:before{content:"\f0e0"}.fontawesome-linkedin:before{content:"\f0e1"}.fontawesome-undo:before{content:"\f0e2"}.fontawesome-legal:before{content:"\f0e3"}.fontawesome-dashboard:before{content:"\f0e4"}.fontawesome-comment-alt:before{content:"\f0e5"}.fontawesome-comments-alt:before{content:"\f0e6"}.fontawesome-bolt:before{content:"\f0e7"}.fontawesome-sitemap:before{content:"\f0e8"}.fontawesome-umbrella:before{content:"\f0e9"}.fontawesome-paste:before{content:"\f0ea"}.fontawesome-lightbulb:before{content:"\f0eb"}.fontawesome-exchange:before{content:"\f0ec"}.fontawesome-cloud-download:before{content:"\f0ed"}.fontawesome-cloud-upload:before{content:"\f0ee"}.fontawesome-user-md:before{content:"\f0f0"}.fontawesome-stethoscope:before{content:"\f0f1"}.fontawesome-suitcase:before{content:"\f0f2"}.fontawesome-bell-alt:before{content:"\f0f3"}.fontawesome-coffee:before{content:"\f0f4"}.fontawesome-food:before{content:"\f0f5"}.fontawesome-file-alt:before{content:"\f0f6"}.fontawesome-building:before{content:"\f0f7"}.fontawesome-hospital:before{content:"\f0f8"}.fontawesome-ambulance:before{content:"\f0f9"}.fontawesome-medkit:before{content:"\f0fa"}.fontawesome-fighter-jet:before{content:"\f0fb"}.fontawesome-beer:before{content:"\f0fc"}.fontawesome-h-sign:before{content:"\f0fd"}.fontawesome-plus-sign-alt:before{content:"\f0fe"}.fontawesome-double-angle-left:before{content:"\f100"}.fontawesome-double-angle-right:before{content:"\f101"}.fontawesome-double-angle-up:before{content:"\f102"}.fontawesome-double-angle-down:before{content:"\f103"}.fontawesome-angle-left:before{content:"\f104"}.fontawesome-angle-right:before{content:"\f105"}.fontawesome-angle-up:before{content:"\f106"}.fontawesome-angle-down:before{content:"\f107"}.fontawesome-desktop:before{content:"\f108"}.fontawesome-laptop:before{content:"\f109"}.fontawesome-tablet:before{content:"\f10a"}.fontawesome-mobile-phone:before{content:"\f10b"}.fontawesome-circle-blank:before{content:"\f10c"}.fontawesome-quote-left:before{content:"\f10d"}.fontawesome-quote-right:before{content:"\f10e"}.fontawesome-spinner:before{content:"\f110"}.fontawesome-circle:before{content:"\f111"}.fontawesome-reply:before{content:"\f112"}.fontawesome-github-alt:before{content:"\f113"}.fontawesome-folder-close-alt:before{content:"\f114"}.fontawesome-folder-open-alt:before{content:"\f115"}
