.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 0px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;

  p {
    margin-bottom: 0;
    color: #777;
  }
}


.footer-links {
  margin: 10px 0;

  li {
    display: inline;
    padding: 0 2px;

    :first-child {
      padding-left: 0;
    }
  }
}
