// Place all the styles related to the showcase_images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3/border-radius";
@import "compass/css3";


.image_upload_row {


  background-color: #e9eaea;
  margin-top: 10px;
  .image_type {
    padding: 10px;

    label {
      display: block;
      float: left;
      padding-right: 10px;
      white-space: nowrap;

      input[type="checkbox"] {
        vertical-align: middle;
      }

      span {
        //vertical-align: middle;
        padding-top: 5px;
        font-size: 11px;
      }

    }


  }

}

.image_upload {
  margin-top: 10px;
  //clear: both;
}

.image_url  {
  margin-top: 10px;
}
.image_desc {
  margin-top: 10px;

}

#image_spin {
  background: black;
  color: white;
  width: 50px;
  height: 50px;
  margin: 0 20px 20px 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  @include opacity(0.5);
  position: absolute;
  top: 200px;
  left: 250px;
  z-index: 10;

}