// Place all the styles related to the showcases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3";


#content_grid {
  .mix {
    opacity: 0;
    display: none;
  }
}

.profile_showcase_image {
  @include border-radius(5px);
}

.showcase_show_reward_icon {
  @include border-radius(5px);
  @include box-shadow($default-box-shadow-color  1px 1px 1px);
  font-size: 14px;
  width: 38px;
  height:38px;

  margin: 2px;

}

.showcase_index_reward_icon {
  @include border-radius(5px);
  @include box-shadow($default-box-shadow-color  1px 1px 1px);
  font-size: 14px;
  width: 32px;
  height:32px;

}

.reward_icons_index {

  .tooltip.in {
    opacity: 1;
  }
  .tooltip {



    .tooltip-inner  {

      background-color: #006dcc;
      text-align: left;
      margin-bottom: 7px;
    }

    .tooltip-arrow {

      color: #006dcc;
      border-top-color: #006dcc;
      margin-bottom: 7px;
    }

  }

}

.user_image_48 {
  @include border-radius(5px);
  @include box-shadow($default-box-shadow-color  1px 1px 1px);
  width: 48px;
  height: 48px;
}


.showcase_info {
  //margin: 10px;
  display: none
}

.ad_showcase, .showcase_image_container {
  @include border-radius(5px);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;

}

@mixin radius_and_shadow {
  @include border-radius(5px);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}

.register_thumb {

  @include radius_and_shadow;
  border: 1px;

}

.upload_image {
  position: relative;

}

.background_play {
  position: absolute;
  display: block;
  background: image-url('dark-skin/thumb-overlay-play.png') center center no-repeat;
  height: 110px;
  width: 140px;

}

.icon_move {
  cursor: move;
  margin: 10px;
  @include radius_and_shadow;
  background-color: gainsboro;
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  border: 1px;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }

  .icon-move {
    padding-left: 2px;
  }


}

.icon_modify {
  cursor: pointer;
  margin-left: 60px;
  margin-top: 10px;
  @include radius_and_shadow;
  background-color: gainsboro;
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  border: 1px;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
  .icon-pencil {
    padding-left: 2px;
  }
}

.icon_remove {
  cursor: pointer;
  margin-left: 35px;
  margin-top: 10px;
  @include radius_and_shadow;
  background-color: gainsboro;
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  border: 1px;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
  .icon-remove-sign {
    padding-left: 2px;
  }
}

.sortable-placeholder {
  border: 5px dotted #ffffff;
  width: 135px;
  height: 100px;
  @include border-radius(5px);

}

.thumbnail_content {
  width:140px;
  height:110px;
}

.content_modal_field {
  @include radius_and_shadow;
}


.guide {

  margin-bottom: 10px;

  display: none;
  .guide_image {
    border-bottom: 3px solid #000000;
    width: 1100px;
    height: 367px;
    //height: 400px;
    margin: 0 auto;
  }

  .guide_close {
    width: 50px;
    background-color: #000000;
    margin: 0 auto;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
  }
}
.carousel-indicators {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 5;
  margin: 0;
  list-style: none;

  li {
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    text-indent: -999px;
    background-color: #ccc;
    background-color: rgba(255,255,255,.25);
    border-radius: 5px;
  }
  .active {
    background-color: #fff;
  }
}


.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: #444;
}










