// Place all the styles related to the mypage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/css3";

.operating_showcase_agent_paging {
  margin-top: 5px; margin-bottom:5px;
}

.reward_icons {
  .tooltip {

    .tooltip-inner  {
      background-color: #006dcc;
      text-align: left;
    }

    .tooltip-arrow {
      color: #006dcc;
      border-top-color: #006dcc;
    }

  }

}

.reward_icons_38 {
  .tooltip {

    .tooltip-inner  {
      background-color: #006dcc;
      text-align: left;
      margin-bottom: 7px;
    }

    .tooltip-arrow {
      color: #006dcc;
      border-top-color: #006dcc;
      margin-bottom: 7px;
    }

  }

}

.agent_image_thumbnail {
  @include border-radius(5px);
  //@include box-shadow(0 5px 10px rgba(0, 0, 0, 0.75));
  box-shadow: 		0 0 20px rgba(0,0,0,0.6);
  //box-shadow: 0 5px 10px rgba(0, 0, 0, 0.75);

}

.operating_thumbnail {
  @include single-box-shadow;
}


.favorite_thumbnail {
  @include single-box-shadow;
}





.caption_title {
  color:  black;
  font-size: 15px;
  @include single-text-shadow;


}

.user_info_reward {

  @include border-radius(5px);
  @include box-shadow($default-box-shadow-color  1px 1px 1px);
}

.user_info_reward_icon {
  position: relative;

  //padding: 2px;
  //
  //
  //margin-top: 2px;
  //float: left;
  &:hover {
    top: 1px;
  }
}

.jaf-container {
  position: relative;
  padding: 0;
}

.jaf-row {
  zoom: 1;
}

.folderContent {
  height: 100px;

  background-color: #ebe7e4;
  //background-color: lightgoldenrodyellow;
  //background-image:url("http://farm6.static.flickr.com/5270/5676732818_a63fbd0c4e_z.jpg");
  margin-bottom: 5px;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  padding: 20px;


  -moz-box-shadow:    inset  0  8px 8px -8px #696868, inset  0 -8px 8px -8px #696868;
  -webkit-box-shadow: inset  0  8px 8px -8px #696868, inset  0 -8px 8px -8px #696868;
  box-shadow:        inset  0  8px 8px -8px #696868, inset  0 -8px 8px -8px #696868;
  //@include single-box-shadow(#333333 0px 0px 5px false true);
  //@include border-radius(10px);
}
.clear {
  clear: both;
}

div.calendar {
  height:80px;
  width:80px;
  margin-left: 20px;
  background-color:white;
  text-align: center;

  border-radius: 			5px;

  box-shadow: 		0 0 20px rgba(0,0,0,0.6);

  background-image:	-webkit-radial-gradient(center, #eee, #fff);
  background-image:	-moz-radial-gradient(center, #eee, #fff);


  -webkit-backface-visibility:hidden;

  .month {
    margin:0;
    text-align: center;
    color:#fff;
    font-style: bold;
    font-size: 12px;
    padding:5px;
    line-height: 20px;
    border-bottom: 2px solid #1e1e1e;

    background-color: #d93e3e;

    background-image: -webkit-gradient(linear,left top, left bottom,color-stop(0.0,#e37f80),color-stop(0.85, #d93e3e));
    background-image: -moz-gradient(linear,left top, left bottom,color-stop(0.0,#e37f80),color-stop(0.85, #d93e3e));
    background-image: -ms-gradient(linear,left top, left bottom,color-stop(0.0,#e37f80),color-stop(0.85, #d93e3e));
    background-image: -o-gradient(linear,left top, left bottom,color-stop(0.0,#e37f80),color-stop(0.85, #d93e3e));
    background-image: gradient(linear,left top, left bottom,color-stop(0.0,#e37f80),color-stop(0.85, #d93e3e));

    -webkit-border-radius:	5px 5px 0 0;
    -moz-border-radius:		5px 5px 0 0;
    -ms-border-radius:		5px 5px 0 0;
    -o-border-radius:		5px 5px 0 0;
    border-radius: 			5px 5px 0 0;
  }

  .day {
    margin-top: 20px;
    font-size: 2em;
    line-height: 0%;
    color:black;
    font-weight: bold;
  }

}

.operating_showcase_btn {

  display: none;
  margin-top: -160px;
  padding:  10px;
  @include opacity(0.8);
}



