// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field_with_errors {
  display: inline;

  .message {
    color: #D00;
    padding-left: 5px;
    font-size: 12px;
  }
}

input.parsley-error, textarea.parsley-error, select.parsley-error {
  color: #B94A48 !important;
  background-color: #F2DEDE !important;
  border: 1px solid #EED3D7 !important;
}


ul.parsley-error-list {
  font-size: 11px;
  margin: 2px;
  list-style-type:none;

  li {
    line-height: 15px;
    margin-left: 75px;

  }
}

.favorite_showcase_image img{
  visibility:hidden;
}

