// Place all the styles related to the youtubes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3";

#spin {
  background: black;
  color: white;
  width: 50px;
  height: 50px;
  margin: 0 20px 20px 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  @include opacity(0.5);
  position: absolute;
  top: 200px;
  left: 670px;
  z-index: 10;

}

#youtube_search_result_div {
  position: relative;
}