<div class="alert alert-<%= type %>">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <span style="font-size: 12px;"><i class="icon-<%= type %>-sign"></i>&nbsp;&nbsp; <%= message %></span>&nbsp;&nbsp;&nbsp;&nbsp;
</div>