<% if browser.ie? %>
    <% unless browser.ie10? %>
        <div id="notification" class="notice">
          <div class="icon-warning-sign icon-large" style="float: left; width: 30px; height: 100px; padding: 10px;">

          </div>
          <div style="float: left; width: 550px;">
            <p>익스플로러 10 이상을 사용해주세요. 익스플로러 9 이하에서는 정상적으로 보이지 않을 수 있습니다. <a href=""></a></p>
            <p>큐썸은 크롬, 파이어폭스, 사파리 등의 브라우저를 권장합니다.</p>
          </div>

          <div style="padding: 5px; padding-left: 50px;">
            <a href="http://www.google.com/chrome" target="_blank"><%= image_tag "browser_icon/chrome.png", :class => "browser_icon"%></a>
            <a href="http://www.firefox.com/" target="_blank"><%= image_tag "browser_icon/firefox.png", :class => "browser_icon" %></a>
            <a href="http://www.apple.com/safari/" target="_blank"><%= image_tag "browser_icon/safari.png", :class => "browser_icon" %></a>
            <a href="http://windows.microsoft.com/ie" target="_blank"><%= image_tag "browser_icon/IE.png", :class => "browser_icon" %></a>
          </div>

        </div>
    <% end %>
<% end %>