<div class="footer-wrapper">
  <footer class="footer " style="background-color: black; height: 170px">

      <div class="" style="padding-left: 50px" >
        <p style="font-size: 14px; color: white; text-align: left; float: left">
          <%= link_to "#{t(:'footer.company_introduction')}", about_path, :style => "color: white" %> |
          <%= link_to "#{t(:'footer.partnership_suggestion')}", partnership_suggestion_path, :style => "color: white" %> |
          <%= link_to "#{t(:'footer.agreement_of_utilization')}", agreement_of_utilization_path, :style => "color: white" %> |
          <%= link_to "#{t(:'footer.privacy_policy')}", privacy_policy_path, :style => "color: white" %>

        </p>
      </div>
      <div class="" style="width: 400px; float: right; padding-right: 50px;" >
        <p style="color:white; text-align: right;">Insight Convergence Group <b style="font-size: 20px;">Beanz9</b></p>
        <p style="font-size: 12px; color: white; text-align: right;"><%= t(:'footer.address') %></p>


        <div style="margin-top: 10px; color: white; text-align: right;">
          <hr>
          Contact
          <%= link_to 'https://www.facebook.com/quusome.kr', :target => "_blank" do %>
              <%= image_tag '24x24/facebookIcon24x24.jpg' %>
          <% end %>

          <%= link_to 'http://beanz9.com/?page_id=76', :target => "_blank" do %>
              <%= image_tag '24x24/mailIcon24x24.png' %>
          <% end %>

          <p></p><br/>
          Copyrihgtⓒbeanz9 Inc. All right reserved.
        </div>
      </div>

  </footer>
</div>