<script>
$(document).ready(function() {
    $("a.youtube-lazy-link").each(function(index) {
        var embedparms = $(this).attr("href").split("/embed/")[1];
        if(!embedparms) embedparms = $(this).attr("href").split("?v=")[1].replace(/\&/,'?');
        var youid = embedparms.split("?")[0].split("#")[0];
        var start = embedparms.match(/[#&]t=(\d+)s/);
        if(start) start = start[1];
        else {
            start = embedparms.match(/[#&]t=(\d+)m(\d+)s/);
            if(start) start = parseInt(start[1])*60+parseInt(start[2]);
            else {
                start = embedparms.match(/[?&]start=(\d+)/);
                if(start) start = start[1];
            }
        }
        embedparms = embedparms.split("#")[0];
        if(start && embedparms.indexOf("start=") == -1)
            embedparms += ((embedparms.indexOf("?")==-1) ? "?" : "&") + "start="+start;
        if(embedparms.indexOf("showinfo=0") != -1)
            $(this).html('');
        $(this).prepend('<div style="height:'+(parseInt($(this).css("height"))-4)+'px;width:'+(parseInt($(this).css("width"))-4)+'px;" class="youtube-lazy-link-div"></div>&nbsp;')
        $(this).css("background", "#000 url(http://i2.ytimg.com/vi/"+youid+"/0.jpg) center center no-repeat");
        $(this).attr("id", youid);
        $(this).attr("href", "http://www.youtube.com/watch?v="+youid+(start ? "#t="+start+"s" : ""));
        var emu = 'http://www.youtube.com/embed/'+embedparms;
        emu += ((emu.indexOf("?")==-1) ? "?" : "&") + "autoplay=1";
        var videoFrame = '<iframe width="'+parseInt($(this).css("width"))+'" height="'+parseInt($(this).css("height"))+'" style="vertical-align:top;" src="'+emu+'" frameborder="0" allowfullscreen></iframe>';
        $(this).attr("onclick", "$('#"+youid+"').replaceWith('"+videoFrame+"');return false;");
    });
})
</script>
<style>
    a.youtube-lazy-link {
        margin: 10px;
        vertical-align:top;
        background:#555;
        width:560px; height:315px;
        background-size:cover;
        text-decoration:none;
        color:#DDD;
        text-align:left;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        display:inline-block;
    }
    a.youtube-lazy-link:hover {
        text-decoration:none;
        color:#FFF;
    }
    .youtube-lazy-link-div {
        border:2px solid #000;
        background: url(http://lh4.googleusercontent.com/-QCeB6REIFlE/TuGUlY3N46I/AAAAAAAAAaI/9-urEUtpKcI/s800/youtube-play-button.png) center center no-repeat;
        position:absolute;
    }
    .youtube-lazy-link-div:hover {
        background: url(http://lh5.googleusercontent.com/-oBFjswrosz4/TuHqainRc3I/AAAAAAAAAbE/t3rMQuSJdLA/s800/youtube-play-button-hover.png) center center no-repeat;
    }

    .youtube-lazy-link p {

        margin-left: 5px;
        margin-top: -8px;
    }

</style>

<div class="guide">
  <ul class="nav nav-pills" style="width: 1100px; margin: 0 auto">
    <li class="active" id="about_image">
      <a><%= t(:'header.guide.about')  %></a>
    </li >
    <li id="about_youtube"><a><%= t(:"header.guide.youtube") %></a></li>
  </ul>
  <div class="guide_image carousel slide about_image" id="guide_carousel">

    <div>
      <ol class="carousel-indicators">
        <li data-target="#guide_carousel" data-slide-to="0" class="active"></li>
        <li data-target="#guide_carousel" data-slide-to="1"></li>
        <li data-target="#guide_carousel" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">

        <div class="item active">
          <%= image_tag "guide/UserGuide_P1.png" %>
        </div>
        <div class="item">
          <%= image_tag "guide/UserGuide_P2.png" %>
        </div>
        <div class="item">
          <%= image_tag "guide/UserGuide_P3.png" %>
        </div>

      </div>

    </div>


    <div class="control-box">
      <a data-slide="prev" href="#guide_carousel" class="carousel-control left">‹</a>
      <a data-slide="next" href="#guide_carousel" class="carousel-control right">›</a>
    </div>

  </div>

  <div class="guide_image carousel slide about_youtube" id="guide_carousel_youtube">

    <div>
      <ol class="carousel-indicators">
        <li data-target="#guide_carousel_youtube" data-slide-to="0" class="active"></li>
        <li data-target="#guide_carousel_youtube" data-slide-to="1"></li>
        <li data-target="#guide_carousel_youtube" data-slide-to="2"></li>
        <li data-target="#guide_carousel_youtube" data-slide-to="3"></li>
        <li data-target="#guide_carousel_youtube" data-slide-to="4"></li>
      </ol>

      <div class="carousel-inner">

        <div class="item active" >
          <div style="margin-left: 250px">
            <a class="youtube-lazy-link" href="http://www.youtube.com/watch?v=7VRoIVCbiEo"><p><%= t(:'header.guide.youtube_1_text') %></p></a>
            <!--<iframe width="560" height="315" src="//www.youtube.com/embed/7VRoIVCbiEo" frameborder="0" allowfullscreen></iframe>-->
          </div>
        </div>
        <div class="item">
          <div style="margin-left: 250px">
            <a class="youtube-lazy-link" href="http://www.youtube.com/watch?v=V6HbaTE48cg"><p><%= t(:'header.guide.youtube_2_text') %></p></a>
            <!--<iframe width="560" height="315" src="//www.youtube.com/embed/V6HbaTE48cg" frameborder="0" allowfullscreen></iframe>-->
          </div>
        </div>
        <div class="item">
          <div style="margin-left: 250px">
            <a class="youtube-lazy-link" href="http://www.youtube.com/watch?v=DHVy8Zpg4Hk"><p><%= t(:'header.guide.youtube_3_text') %></p></a>
            <!--<iframe width="560" height="315" src="//www.youtube.com/embed/DHVy8Zpg4Hk" frameborder="0" allowfullscreen></iframe>-->
          </div>
        </div>
        <div class="item">
          <div style="margin-left: 250px">
            <a class="youtube-lazy-link" href="http://www.youtube.com/watch?v=wSLmHIGOFK8"><p><%= t(:'header.guide.youtube_4_text') %></p></a>
            <!--<iframe width="560" height="315" src="//www.youtube.com/embed/wSLmHIGOFK8" frameborder="0" allowfullscreen></iframe>-->
          </div>
        </div>
        <div class="item">
          <div style="margin-left: 250px">
            <a class="youtube-lazy-link" href="http://www.youtube.com/watch?v=95O2l0TqGvk"><p><%= t(:'header.guide.youtube_5_text') %></p></a>
            <!--<iframe width="560" height="315" src="//www.youtube.com/embed/95O2l0TqGvk" frameborder="0" allowfullscreen></iframe>-->
          </div>
        </div>

      </div>

    </div>


    <div class="control-box">
      <a data-slide="prev" href="#guide_carousel_youtube" class="carousel-control left">‹</a>
      <a data-slide="next" href="#guide_carousel_youtube" class="carousel-control right">›</a>
    </div>

  </div>

  <div class="guide_close">닫기</div>
</div>