
<ul class="nav" text align="center" style="font-size: 12px;">
  <script>
    PrivatePub.subscribe("/showcase_update/<%= current_user.id %>", function(data, channel) {
        $('#showcase_update_scroll_body').empty();
        $('#showcase_update_count_badge').css('display', '');

        $('#showcase_update_scroll_page').val("1");
        $('#showcase_update_scroll_end').val("false");

        $('#showcase_update_count_badge').html(data.showcase_update_count);
        $('#showcase_update_scroll_body').html(data.html);

    });
  </script>
  <%= subscribe_to "/showcase_update/#{current_user.id}" %>
  <li class="dropdown">

    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding: 5px;">
      <i class="icon-bell-alt icon-white icon-2x" id="showcase_update_icon"></i>
      <% update_unread_count = ShowcaseUpdateNotification.where(:user_id => current_user.id, :is_read => false).count %>
      <i class="badge badge-important" id="showcase_update_count_badge" <% if update_unread_count == 0 %> style="display: none" <% end %>><%= update_unread_count %></i>
    </a>
    <ul class="dropdown-menu" style="font-size: 12px;">
      <li style="max-height:350px; overflow-y: auto; overflow-x: hidden" id="showcase_update_scroll" autocomplete="off">

        <table class="table table-hover" style="width: 250px;">
          <input type="hidden" id="showcase_update_scroll_is_loading" value="false"  autocomplete="off">
          <input type="hidden" id="showcase_update_scroll_page" value="1"  autocomplete="off">
          <input type="hidden" id="showcase_update_scroll_end" value="false"  autocomplete="off">
          <tbody style="font-size: 11px;" id="showcase_update_scroll_body">
          <%
             update = ShowcaseUpdateNotification.where(:user_id => current_user.id).order('created_at desc').page(1).per(5)
             if update.count > 0
               update.each do |notification|

          %>
          <tr <% unless notification.is_read%> style="background-color: #dddddd;" <% end %>>
            <td style="width:40px;">
              <%= image_tag notification.showcase.contents[0].url, :style => 'width:40px; height:40px;'  %>
            </td>
            <td>
              <p>"<%= notification.showcase.title %>" <%= t(:'header.notification.showcase_update') %></p>
              <p style="text-align: right;"><%= notification.created_at.strftime('%Y-%m-%d') %></p>

            </td>
            <td></td>
          </tr>
            <% end %>

          <% else %>
              <tr>
                <td colspan="2" style="text-align: center;"><%= t(:'header.notification.showcase_not_update') %></td>
              </tr>
          <% end %>


          </tbody>
        </table>
      </li>
      <li class="divider"></li>
      <li style="text-align: center;"><a href="#"><%= t(:'header.notification.view_all') %></a></li>

    </ul>
  </li>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" style="padding: 5px; cursor: pointer;" id="message_icon">
      <i class="icon-comments icon-white icon-2x"></i>


      <i class="badge badge-important" id="message_count_badge" <% if current_user.mailbox.inbox_message({:read => false}).count == 0 %>style="display: none" <% end %>>
        <%= current_user.mailbox.inbox_message({:read => false}).count %>
       </i>

    </a>

    <%= subscribe_to "/message/#{current_user.id}" %>
    <ul class="dropdown-menu">
      <li style="max-height:350px; overflow-y:auto; overflow-x: hidden" id="message_scroll" autocomplete="off">
        <table class="table table-hover" style="width: 250px;">
          <input type="hidden" id="message_scroll_is_loading" value="false"  autocomplete="off">
          <input type="hidden" id="message_scroll_page" value="1"  autocomplete="off">
          <input type="hidden" id="message_scroll_end" value="false"  autocomplete="off">
          <tbody style="font-size: 11px;" id="message_scroll_body">

          <% if current_user.mailbox.inbox_message.count > 0 %>
            <%

            current_user.mailbox.inbox_message.page(1).per(5).each do |conversation|

              receipts = conversation.receipts_for current_user

              receipts.each do |receipt|

                 message = receipt.message
                 user = User.where(:id => message.sender_id).last

                 unless user.nil?
                 image = user.image.thumb.url
            %>
                      <tr style="<% if receipt.is_unread? %>background-color: #dddddd;<% end %> cursor: pointer" onclick="location.href='/user_info/<%= current_user.id %>/message'">

                        <td style="width:40px;">
                          <% if image.blank? %>
                            <%= image_tag '48x48/user48x48.jpg', :style => "width: 40px; height: 40px;", :class => "profile_showcase_image" %>
                          <% else %>
                            <%= image_tag image, :style => "width: 40px; height: 40px;", :class => "profile_showcase_image" %>
                          <% end %>
                        </td>

                        <td>
                          <p><%= simple_format message.body %></p>
                          <p style="text-align: right;"><%= message.created_at.strftime('%Y-%m-%d') %></p>

                        </td>
                        <td></td>

                      </tr>
                    <% end %>
              <% end %>
            <% end %>
          <% else %>
              <tr>
                <td style="width:40px; text-align: center;"><%= t(:'header.notification.not_received_message') %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </li>
      <li class="divider"></li>
      <li style="text-align: center;"><%= link_to "#{t(:'header.notification.view_all')}", user_info_message_path(current_user.id) %></li>
    </ul>
  </li>


  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding: 5px;" id="agent_request_icon">
      <i class="icon-certificate icon-white icon-2x"></i>

          <i class="badge badge-important" id="agent_request_count_badge" <% if current_user.mailbox.inbox_agent_all({:read => false}).count == 0 %>style="display: none" <% end %>>
            <%= current_user.mailbox.inbox_agent_all({:read => false}).count %>
          </i>
    </a>
    <%= subscribe_to "/agent_request/#{current_user.id}" %>
    <ul class="dropdown-menu">
      <li style="max-height:350px; overflow-y: auto; overflow-x: hidden" id="agent_request_scroll" autocomplete="off">
        <table class="table table-hover" style="width: 250px;">
          <input type="hidden" id="agent_request_scroll_is_loading" value="false"  autocomplete="off">
          <input type="hidden" id="agent_request_scroll_page" value="1"  autocomplete="off">
          <input type="hidden" id="agent_request_scroll_end" value="false"  autocomplete="off">
          <tbody style="font-size: 11px; width: 300px" id="agent_request_scroll_body">
          <% if current_user.mailbox.inbox_agent_all.count > 0 %>
          <%
             current_user.mailbox.inbox_agent_all.page(1).per(5).each do |conversation|

               receipts = conversation.receipts_for current_user
               receipts.each do |receipt|

                 message = receipt.message
                 sender = User.where(:id => message.sender_id).last
                 showcase = Showcase.where(:id => message.showcase_id).first

                 unless sender.nil?
          %>

            <% if showcase.present? %>
              <tr style="<% if receipt.is_unread? %>background-color: #dddddd;<% end %> cursor: pointer" onclick="location.href='/user_info/<%= current_user.id %>/agent_request'">
                <td style="width:40px;">
                  <% if sender.image.blank? %>
                      <%= image_tag '48x48/user48x48.jpg', :style => "width: 40px; height: 40px;", :class => "profile_showcase_image" %>
                  <% else %>
                      <%= image_tag sender.image.thumb.url, :style => "width: 40px; height: 40px;", :class => "profile_showcase_image" %>
                  <% end %>
                </td>
                <td>



                <% if message.body == 'agent_result' %>
                  <% if message.subject == 'true' %>


                    <p><%= t(:'header.notification.agent_request_accept', :user_id => sender.user_id, :title => showcase.title ) %></p>
                  <% else %>
                    <p><%= t(:'header.notification.agent_request_reject', :user_id => sender.user_id, :title => showcase.title ) %></p>
                  <% end %>
                <% elsif message.body == 'agent_request' %>
                  <p><%= t(:'header.notification.agent_request', :user_id => sender.user_id, :title => showcase.title ) %></p>
                <% end %>

                  <p style="text-align: right;"><%= message.created_at.strftime('%Y-%m-%d') %></p>

                </td>
                <td></td>

              </tr>
                <% end %>
                    <% end %>
                 <% end %>
            <% end %>
          <% else %>
              <tr>
                <td style="width:40px; text-align: center;"><%= t(:'header.notification.not_received_agent_request') %></td>
              </tr>
          <% end %>

          </tbody>
        </table>
      </li>
      <li class="divider"></li>
      <li style="text-align: center;"><%= link_to "#{t(:'header.notification.view_all')}", user_info_agent_request_path(current_user.id) %></li>
    </ul>
  </li>

</ul>







