<!DOCTYPE html>
<html>
<head>
  <title>Quusome</title>
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>

  <script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
  <![endif]-->

  <!--[if lt IE 8]>
  <script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
  <![endif]-->

  <!--[if lt IE 7]>
  <script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"></script>
  <![endif]-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <style>
      html, body {
          height: 100%;
      }
      #wrap {
          min-height: 100%;
          height: auto !important;
          height: 100%;
          /* Negative indent footer by it's height */
          margin: 0 auto -231px;

      }

          /* Set the fixed height of the footer here */
      #push {
          height: 63px;
      }

      .footer-wrapper {
          position: relative;

      }


  </style>

  <%= javascript_include_tag "application", :charset => "utf-8"   %>
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->


  <%= csrf_meta_tags %>



</head>
<body>

<div id="wrap">
<div class="navbar navbar-inverse navbar-fixed-top">
  <%= render "layouts/browser_notification"  %>

  <div class="navbar-inner" style="-webkit-border-radius: 0px; border-radius: 0px; height: 40px;">



    <div class="container" style="width:1200px;">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/"><b>Quusome</b><span style="margin-left: 5px;" class="label label-important">beta</span></a>

      <div class="nav-collapse collapse navbar-responsive-collapse">
        <% if current_user %>
            <%= render 'layouts/notification' %>
        <% end %>


        <span class="navbar-search pull-left">
          <input type="text" class="search-query span2" placeholder="Search" id="search_text_field">
        </span>

        <ul class="nav pull-right" style="font-size: 11px;">
          <li>
            <%= link_to "#", :style => 'padding: 5px;', :class => "about_header" do  %>
                <i class="icon-question-sign icon-white icon-2x" ></i> <%= t(:'header.about') %>
            <% end %>
          </li>
          <% if user_signed_in? %>
          <li>
            <%= link_to new_showcase_path, :style => 'padding: 5px;' do  %>
                <i class="icon-pencil icon-white icon-2x" ></i> <%= t(:'header.showcase_registration') %>
            <% end %>
          </li>
          <li class="divider-vertical"></li>

          <!--
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding: 5px;"><i class="icon-group icon-white icon-2x"></i> 큐썸 에이전트</a>
            <ul class="dropdown-menu">
              <li><a href="#">큐썸 에이전트란</a></li>
              <li><a href="#">등록하기</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>

          -->

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"  style="padding: 5px;"><i class="icon-user icon-white icon-2x"></i> <%= t(:'header.user_info') %></a>
            <ul class="dropdown-menu">

              <li>
                <a href="/user_info/<%= current_user.id %>/basic_info"><%= t(:'header.basic_info') %></a></li>
              <li><a href="/user_info/<%= current_user.id %>/operating_showcase"><%= t(:'header.operating_showcase') %></a></li>
              <li><a href="/user_info/<%= current_user.id %>/joining_showcase"><%= t(:'header.joining_showcase') %></a></li>
              <li class="divider"></li>
              <li><a href="/buy_slots"><%= t(:'header.buy_slots') %></a></li>
            </ul>
          </li>
          <% end %>
          <% if user_signed_in? %>
            <li>
              <%= link_to destroy_user_session_path, method: :delete, :style => 'padding: 5px;' do %>
                  <i class="icon-lock icon-white icon-2x"></i> <%= t(:'header.logout') %>
              <% end %>
            </li>
          <% else %>
            <li>
                <%= link_to '/', :style => 'padding: 5px;' do %>
                      <i class="icon-lock icon-white icon-2x "></i> <%= t(:'header.login') %>
                <% end %>
            </li>
          <% end %>

        </ul>
      </div><!-- /.nav-collapse -->
    </div>
  </div><!-- /navbar-inner -->
</div><!--navbar end-->

<!--
<% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
    <%= link_to "Sign up", new_user_registration_path %> |
    <%= link_to "Login", new_user_session_path %>
<% end %>

-->
  <% if browser.ie? %>
    <% if browser.ie10? %>
          <div id="fix-for-navbar-fixed-top-spacing" style="height: 60px;">&nbsp;</div>
    <% else %>
          <div id="fix-for-navbar-fixed-top-spacing" style="height: 110px;">&nbsp;</div>
    <% end %>
  <% else %>
      <div id="fix-for-navbar-fixed-top-spacing" style="height: 60px;">&nbsp;</div>
  <% end %>

  <div class="container-fluid" >
    <div class="row-fluid">

      <%= render :partial => "layouts/guide" %>

      <% Announcement.get(current_user).each do |announcement| %>
          <% unless (controller_name == 'users' and action_name == 'destroy_complete') or
                  (controller_name == 'users' and action_name == 'inactive_sign_up') or
                  (controller_name == 'users' and action_name == 'active_sign_up') or
                  (controller_name == 'sessions' and action_name == 'new') or
                  (controller_name == 'passwords' and action_name == 'new') or
                  (controller_name == 'confirmations' and action_name == 'new') or
                  controller_name == 'about'

          %>
            <% if !announcement_hidden?(announcement) %>
              <div class="alert alert-<%= announcement.announcement_type %>">
                <button type="button" class="close" data-dismiss="alert" id="announcement_<%= announcement.id %>">&times;</button>
                <span style="font-size: 12px;"><i class="icon-<%= announcement.announcement_type %>-sign"></i>&nbsp;&nbsp; <%= raw announcement.body %></span>&nbsp;&nbsp;&nbsp;&nbsp;
                <%= link_to_function '더이상 보지 않기', "hide_announcement('announcement_#{announcement.id}')", :style => "font-size: 10px;" %>
              </div>
            <% end %>
          <% end %>
      <% end %>

      <% if flash[:info] %>
        <div class="alert alert-info">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <span style="font-size: 12px;"><i class="icon-info-sign"></i>&nbsp;&nbsp; <%= flash[:info] %></span>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
      <% end %>
      <% if flash[:warning]%>
          <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span style="font-size: 12px;"><i class="icon-warning-sign"></i>&nbsp;&nbsp; <%= flash[:warning] %></span>&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
      <% end %>
      <div class="announcement_flash"></div>


      </div>
    </div>




<%= yield %>


</div>

<%= render 'layouts/footer' %>


<!--
<div id="footer">
  <div class="container">
    <p class="muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
  </div>
</div>
-->
</body>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42913421-1', 'quusome.com');
    ga('send', 'pageview');

</script>
</html>


