<p>안녕하세요. <%= @resource.email %> 님!</p>

<p>비밀번호 변경을 요청하셨습니다. 아래 링크를 클릭하세요.</p>
<p><%= link_to edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>만약 요청하지 않으셨다면 이메일을 무시하세요.</p>
<p>위 링크에서 비밀번호를 변경하지 않으면 <%= @resource.email %> 님의 비밀번호는 변경되지 않습니다.</p>
