
<div class="container-fluid password_update">
  <div class="row-fluid">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f| %>
  <%= devise_error_messages! %>
  <legend><i class="icon-lock"></i> 패스워드 수정</legend>
  <%= f.hidden_field :email %>

  <div class="control-group">
    <label class="control-label" for="new_password">새 패스워드</label>
    <div class="controls">
      <%= f.password_field :password, :autocomplete => "off", :id => "new_password" %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="new_password_confirm">새 패스워드 확인</label>
    <div class="controls">
      <%= f.password_field :password_confirmation, :id => "new_password_confirm" %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="current_password">현재 패스워드</label>
    <div class="controls">
      <%= f.password_field :current_password, :id => "current_password" %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
        <button type="button" id="password_update_btn" class="btn btn-primary" >수정</button>

        <%= f.submit "수정", :id => "password_update_submit", :style => "display:none" %>
    </div>
  </div>


<% end %>
  </div>
  </div>



<!--<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>-->

<!--<%= link_to "Back", :back %>-->

